[2015-02-27 23:55] albertsun commented on #721
I can take a look at this.

[2015-02-28 00:41] cantino commented on #721
Thanks @albertsun!

[2015-02-28 00:42] cantino commented on #722
Did you figure out your issue?  If so, a PR to update the docs would be awesome!

[2015-02-28 02:23] blacklabelpaul commented on #719
Woohoo - The magic was just by running

rvm ruby 2.1.5

My gosh, thank ya'll so much for taking the time to help me out here.  I got it running like a firehose now.

Now my next quest will be learning how to keep this thing running constantly.  Seems like I can only run foreman when SSH'd into the console.

[2015-02-28 02:46] cantino commented on #719
Use "screen" or look at the wiki for info on upstart and other tools.
Congrats!

On Friday, February 27, 2015, blacklabelpaul <notifications@github.com>
wrote:

[2015-02-28 22:59] Pimmetje opened #724 "bundle exec rake db:create fails database access the first time"
I am still new to Huginn and Ruby. I followed the novice start guild. Installed a mysql server and after
bundle exec rake db:create
i have to type my password (shown on console) but it does not use it.
[code]
password is the password of the db.

What am i doing wrong here?

[2015-03-01 05:05] cantino commented on #724
Looks like you already ran the command and so the db already exists?

[code]

[2015-03-01 06:50] virtadpt commented on #722
Maybe.  I've got notes but I haven't actually tried to implement them yet.  Let me do a few experiments, and if I'm right I will.

[2015-03-01 06:52] virtadpt commented on #719
@blacklabelpaul I run mine inside of a GNU Screen session with `foreman start`.

[2015-03-01 09:31] Pimmetje commented on #724
Thanks for the respone, i think it was late for me.

But the part that got me confused.
[code]
I had to type the password two times. Without any conformation it was successful..

[2015-03-01 09:35] Pimmetje commented on #724
Next step:
[code]
I think i have to put my MySQL password somewhere. But thats missing in the guild i think. (Or i am still not awake ;))

[2015-03-01 09:58] Pimmetje commented on #724
I clearly wasn't awake when i tried it. I have to change the mysql password in the .env file. (maybe at it as a note) Also the script asking for the password is a bit confusing. It should complain about it not being set in the config.

[2015-03-02 04:08] albertsun commented on #721
I opened a pull request on weibo_2 to update their version of rest-client https://github.com/simsicon/weibo_2/pull/21

[2015-03-02 04:17] cantino commented on #721
Awesome!

On Sunday, March 1, 2015, Albert Sun <notifications@github.com> wrote:

[2015-03-02 17:58] #721 closed

[2015-03-02 19:46] Dyldog commented on #717
Hey @cantino,
That definitely got the emails job going. Cheers!
Now where do I put my smtp creds, as I'm getting "534-5.7.9 Application-specific password required. Learn more at **SNIPPED**"
I tried the obvious config/smtp.yml, but that hasn't worked.

[2015-03-02 21:13] virtadpt commented on #717
It goes in huginn/.env, in the variables SMTP_USER_NAME and SMTP_USER_NAME and SMTP_PASSWORD.  You'll want to tailor SMTP_AUTHENTICATION and SMTP_ENABLE_STARTTLS_AUTO, too.

[2015-03-03 21:11] Dyldog commented on #717
That was it! All working now. Thanks for your help, man.

This probably wasn't the proper channel to get this kind of help, I'd also like to ask you about the kinds of agents you've come up with, so is there a better way for me to contact you? Standard email, perhaps?

Thanks again.

[2015-03-03 21:35] cantino commented on #717
Glad to year it!  Let us know if we can help with anything else :smile:

[2015-03-03 21:35] #717 closed

[2015-03-03 21:35] cantino commented on #724
Glad you got it figured out!

[2015-03-03 21:35] #724 closed

[2015-03-03 21:35] cantino commented on #719
Glad it's working!  Let us know if we can help with anything else.

[2015-03-03 21:35] #719 closed

[2015-03-04 06:08] alias1 commented on #697
@faizalzakaria Any updates on this?

[2015-03-04 06:09] alias1 commented on #694
@cantino Want to remove the Vagrantfile, and/or can this issue be closed?

[2015-03-04 06:17] #657 closed

[2015-03-04 06:35] alias1 opened #726 "Huginn docker template for Unraid v6"
Knocked together a quick little unraid docker template for using the huginn docker container in unraid v6

https://github.com/alias1/unraid-docker-templates/blob/master/cantino/huginn.xml

( See unraid forums for other examples: http://lime-technology.com/forum/index.php?topic=37958.0 )

There may be some tweaks/better options to set with it, I've basically only done it as a proof of concept so fa

[2015-03-04 10:52] Dyldog opened #727 "ShellCommandAgent: Broken Pipe"
Basically, when the command a ShellCommandAgents runs takes even a little while, it will fail with one of two broken pipe errors:
Broken pipe - /dev/null or Broken pipe - <STDOUT>

I can get it to happen repeatably with "sleep 10 && echo done" as the command, and "echo done" on it's own works.

Any ideas?

[2015-03-04 18:27] cantino commented on #726
Cool @alias1!

I don't think I totally know what unraid is, but you can feel free to post it on a forum if you like.  We don't have a final logo yet... which reminds me, I should ping that thread.

[2015-03-04 18:29] cantino commented on #592
Hey @willyg302, are you still interested in working on this?  I like your experiments!

[2015-03-04 18:30] cantino commented on #727
Interesting.  I'd expect it to give you at least 5 minutes before delayed_job times out.  Where are you running this?

[2015-03-04 19:30] alias1 commented on #726
Unraid is basically a NAS distro/interface, and in v6 they're adding proper virtualisation support, most interestingly (to me at least) being docker containers.

A good use for my otherwise super overpowered/under-utilised 32gb ram Xeon 3U :p

—
Sent from Mailbox

On Thu, Mar 5, 2015 at 5:27 AM, Andrew Cantino <notifications@github.com>
wrote:

[2015-03-04 20:34] Dyldog commented on #727
By where, do you mean what path is the command running from? If so, that's /usr/bin, but the same thing happens at the root dir too.

[2015-03-04 20:41] cantino commented on #726
That's cool!

[2015-03-04 20:43] cantino commented on #727
No, I mean, is this on a shared system or anywhere that something external might be killing the process?  You're saying it dies in under 10 seconds?

[2015-03-04 20:44] Dyldog commented on #727
My mistake man, everything seems to be working now.

The only thing I did different today was run it inside its own subshell. It seems weird that that would make a difference.

Sorry for wasting your time. I'll poke around a bit and see if I can work out why it was happening before.

[2015-03-04 20:45] #727 closed

[2015-03-04 20:48] cantino commented on #727
No problem!  I'd love to hear what you're using it for, and accept any pull requests if you improve the Agent. :)

[2015-03-04 20:51] Dyldog commented on #727
ATM, I'm using it to ping a server and make sure it's up. What about you? I'm interested to know what the creator of this beautiful beast has come up with :D

[2015-03-04 20:59] cantino commented on #727
I mostly use Huginn to monitor the web for events.  It watches twitter for words I care about, scrapes a few sites into an update email, etc.

[2015-03-05 18:46] reilly3000 commented on #353
I am short on time but have a scant amount of cash and would love to help things along, especially w/ Google sheets and zinc.io work. Is there a good way I could sort of microinvest in the community getting progress on these? Bountify? LMK!

[2015-03-05 20:11] alias1 commented on #353
If you checkout the main repo read me there should be a link to one we're currently using. From memory it's bountysource.

—
Sent from Mailbox

On Fri, Mar 6, 2015 at 5:46 AM, reilly3000 <notifications@github.com>
wrote:

[2015-03-05 20:19] reilly3000 commented on #353
cool thanks!

On Thu, Mar 5, 2015 at 12:11 PM, alias1 <notifications@github.com> wrote:

[2015-03-06 07:18] willyg302 commented on #592
Yes I am! Sorry for the lull in activity.

I think a good next step is to settle on a final version, that way I can start work on banners, favicon, icons, and the like. Do you have any preference for what direction to head in? Colors, etc.?

[2015-03-06 11:49] K1773R opened #729 "UI Agent Consumers"
When editing/creating an Agent, you can select the Source already.
It would be cool if its possible to also specify the consumers.

If i create/edit Agents, i lose alot of time editing all the consumers adding the source of my added/edited Agent.

[2015-03-06 17:26] cantino commented on #729
I suppose that would be possible.  Usually I think about making a parent Agent before I make any consumers, but I agree for something like an EmailDigestAgent, you could select it when making an Event Source.  Would you want to try adding this?

[2015-03-06 17:27] cantino commented on #592
Awesome @willyg302!

I'm really bad with colors, so I leave that up to you.  As per which design, do you think you can simplify the paths enough to now be a legal ownership issue?  If so, we could try that.  If not, I think I like the bottom right the best.

[2015-03-06 18:09] virtadpt commented on #652
As of commit 26a8e495817bdd5362dbd09b317a5c05f7335a9f, I no longer see this happen.

[2015-03-06 18:09] virtadpt commented on #399
As of commit 26a8e495817bdd5362dbd09b317a5c05f7335a9f, I no longer see this happen.  Things are now working as expected when deleting agents.  \0/

[2015-03-06 20:24] K1773R commented on #729
Yes, i often had this problem with Email{,Digest}Agent, JabberAgent, TriggerAgent or anything that usually has alot of sources.
Im new to ruby, so this aint such a good idea. Tough i want to take a look at it, but dont expect any results.

[2015-03-06 23:17] cantino commented on #399
Yay!

[2015-03-06 23:17] #399 closed

[2015-03-06 23:17] cantino commented on #652
Fixed!

[2015-03-06 23:17] #652 closed

[2015-03-06 23:19] cantino commented on #729
Any Rails tutorial should put you in the right direction.  I'm also happy to work with you to figure out a good approach.

[2015-03-07 09:23] bennlich commented on #712
Works!

[2015-03-07 19:18] willyg302 commented on #592
Let me know which combination catches your eye:

![huginn-colors](https://cloud.githubusercontent.com/assets/2390474/6542836/2fa44b3e-c4bb-11e4-8cef-6eaa72847612.png)

I also played around with the trick of making the dotted "i" become the headset mic.

The raven has been simplified quite a bit already; any more and it would start to lose definition. At this point it should be alright.

[2015-03-07 20:30] space-pope commented on #592
Just my two cents, but to be honest, I find the almost-script font a little jarring. It competes a little bit with the seriousness/authority of the raven to my eye. I think I like the idea of something approaching italic, but the cursive lettering is just throwing me off for some reason. If I'm the only one, though, I'll just back away slowly :).

FWIW, I like the second raven from the right on th

[2015-03-07 22:13] alias1 commented on #592
+1 for the black (2nd from right) raven

The ones with the text over the bird feel like there isn't enough contrast/definition to make the words stand out enough. I personally prefer 2nd last row where it's to the side.

Bottom 'icon' row looks awesome, I think I prefer the middle ones background colour.

—
Sent from Mailbox

On Sun, Mar 8, 2015 at 7:30 AM, Josh <notifications@github.com> wrote:

[2015-03-07 23:13] willyg302 commented on #592
Thanks for the feedback! Now we're really getting somewhere:

![huginn-fonts](https://cloud.githubusercontent.com/assets/2390474/6543704/8bcf55be-c4db-11e4-9edc-78cf2af7df57.png)

It looks like black raven and yellow-orange background are winners :smile:

@space-pope I like the Lobster font but it *is* playful. It depends on the "feel" we want to convey about Huginn -- approachable vs. a serious t

[2015-03-08 15:11] cclements commented on #613
I'm getting this error with a heroku build from 2015-03-06.  Was this fix merged into the main branch or do I need to apply it manually?

[2015-03-09 15:10] vitorbaptista opened #730 "Extend PeakDetectorAgent to also detect instances when the values are lower than normal"
Hi,

My use-case is that I'm using Huginn to monitor airline tickets prices looking for deals. Currently I'm simply checking the prices and using a TriggerAgent to send me an e-mail with rules like "If there's a flight cheaper than £50". This leads to a problem that I'm getting many e-mails for routes that are usually cheaper than £50 (e.g. London to Dublin), but I'm missing deals like London to T

[2015-03-09 20:19] alias1 commented on #730
I definitely see value in that :)

—
Sent from Mailbox

On Tue, Mar 10, 2015 at 2:10 AM, Vitor Baptista <notifications@github.com>
wrote:

[2015-03-09 20:20] virtadpt commented on #492
SlackAgent seems to be working more often than not these days.  I haven't tried the Dropbox agents yet because I'm still monitoring it through RSS.

[2015-03-09 21:52] signallhill opened #731 "RSS Agent error"
There are several errors when my huginn runs RSS agents. But I dont know which agent the error is coming from or what the error means. Please help

"\xE2" from ASCII-8BIT to UTF-8
/var/lib/openshift/54/app-root/runtime/repo/vendor/bundle/ruby/gems/activesupport-4.1.8/lib/active_support/core_ext/object/json.rb:34:in `encode'
/var/lib/openshift/54/app-root/runtime/repo/vendor/bundle/ruby/gems/active

[2015-03-10 18:21] virtadpt commented on #730
That seems to dovetail a little with ticket #474 and maybe #266.
It can also be done with JSONpath evaluation, as I recall.

[2015-03-10 18:24] virtadpt commented on #731
I see this in some of my agents, also.  It's coming from RSSagent - it's expecting ASCII characters but the RSS or ATOM feed it's getting is comprised of UTF-8 characters.  Interestingly (at least for the feeds I'm pulling) this doesn't seem to be a fatal error, but it does represent a cry for help.

[2015-03-10 18:28] signallhill commented on #731
Is there a way to know which of the RSS Agent is giving this error? Is there an agent ID or something that would tell me from the error?

[2015-03-10 18:36] virtadpt commented on #731
In my experience, it's on the logging tab of the agent in question.

[2015-03-10 18:47] signallhill commented on #731
Yes, after going through all the logs of the agents I see which one is giving the error. Thank you very much for your help.

[2015-03-10 18:47] #731 closed

[2015-03-10 19:05] bolus opened #732 "OpenShift deployment failed with "Could not find thread_safe-0.3.4 in any of the sources (Bundler::GemNotFound)""
Hi,

I tried to deploy Huginn to OpenShift by following the steps outlined on [this](https://github.com/cantino/huginn/wiki/Run-Huginn-for-free-on-OpenShift) wiki page.

Everything seemed to work but at the end when creating the admin user I got the following error:

[code]

When I open the Huginn app in my browser I get a "503 Service Unavailable" message.

The full error message is below.

Does

[2015-03-10 22:18] aforester opened #733 "Issue with IMAP, hugginn on heroku "\xB7" from ASCII-8BIT to UTF-8"
I am currently running into an issue with the IMAP Folder agent on my heroku build.

                        "\xB7" from ASCII-8BIT to UTF-8
/app/vendor/bundle/ruby/2.2.0/gems/activesupport-4.1.8/lib/active_support/core_ext/object/json.rb:34:in `encode'
/app/vendor/bundle/ruby/2.2.0/gems/activesupport-4.1.8/lib/active_support/core_ext/object/json.rb:34:in `to_json'
/app/vendor/bundle/ruby/2.2.0/ge

[2015-03-11 19:17] virtadpt commented on #733
Is it emitting events to downstream agents at the same time?

[2015-03-11 20:39] aforester commented on #733
It should be sending to an email agent and a twilio agent but it is not

[2015-03-11 22:57] cantino commented on #730
Hey @vitorbaptista, I see two approaches.  1) do exactly what you're suggesting, and add a feature to the PeakDetector to detect deviations from a norm in either direction, or 2) subtract all ticket prices from some high value, like 1000, so that no valleys look like peaks.  I'd definitely be a fan of having you work on expanding the PeakDetector code, if you're interested!

[2015-03-11 22:58] cantino commented on #733
@knu, do you have any ideas on this?

[2015-03-11 23:00] cantino commented on #613
It should have been merged.  Are you erroring in the same spot?

[2015-03-11 23:02] cantino commented on #492
Should I close this?

[2015-03-11 23:02] cclements commented on #613
Yep, pretty sure.  Agent errors out with:

Exception during check. "\xB7" from ASCII-8BIT to UTF-8: /app/vendor/bundle/ruby/2.0.0/gems/activesupport-4.1.8/lib/active_support/core_ext/object/json.rb:34:in `encode'
/app/vendor/bundle/ruby/2.0.0/gems/activesupport-4.1.8/lib/active_support/core_ext/object/json.rb:34:in `to_json'
/app/vendor/bundle/ruby/2.0.0/gems/activesupport-4.1.8/lib/active_support

[2015-03-11 23:08] cantino commented on #732
Thanks for reporting this, @bolus.  I'll take a look.

[2015-03-11 23:08] #712 closed

[2015-03-11 23:08] cantino commented on #712
Great!

[2015-03-11 23:11] cantino commented on #732
(I'm on vacation this week, so it may be a week before I look at this.  In the meantime, you should be able to run Huginn locally, or on Heroku, or you could try to figure out what is causing this issue.)

[2015-03-11 23:16] cantino commented on #613
It looks like this is happening on `models/agent.rb:107` in `create_event` when it tries to make a new Event.

You could try editing the `imap_folder_agent.rb` and changing line 296 to something like:

[code]

Perhaps those `.encode('utf-8', invalid: :replace, undef: :replace, replace: '??')` will help.

[2015-03-12 01:25] cantino commented on #732
So I just checked out the app and ran `bin/setup_openshift` based on [these instructions](https://github.com/cantino/huginn/wiki/Run-Huginn-for-free-on-OpenShift) and it worked without issue.  That's very odd.  Would you mind running it again?

[2015-03-12 02:10] cantino commented on #592
These are looking really great!

Is the image okay for us to use, or is it too similar to the existing one you traced?

[2015-03-12 11:23] bolus commented on #732
Did you use the same source code that someone gets with git clone git@github.com:cantino/huginn.git ?

Because yesterday I tried to deploy Huginn to Heroku with [this](https://github.com/cantino/huginn/wiki/Run-Huginn-for-free-on-Heroku) tutorial and after that with the Heroku button and both versions aren't usable.

The application loads in both cases but I get the error message "We're sorry, but

[2015-03-12 13:41] cclements commented on #613
That fixed it.  Thanks!

[2015-03-12 18:36] virtadpt commented on #733
Is there anything else in the Logs tab?

[2015-03-12 18:39] virtadpt commented on #492
I'd rather you not, because I still can't get any information about failed jobs (I'm currently at 50 failed recent jobs behind the <number><exclamation point> button) unless I log out and then log back in as the admin user.  I'm dealing with it at the moment but I can't be the only person who's running into this UX problem.

[2015-03-12 19:54] aforester commented on #733
I was able to resolve by editing the imap_folder_agent.rb and changing line 296 to something like:

          create_event :payload => {
            'folder' => mail.folder,
            'subject' => mail.subject.encode('utf-8', invalid: :replace, undef: :replace, replace: '??'),
            'from' => mail.from_addrs.first,
            'to' => mail.to_addrs,
            'cc' => mail.cc_addrs,

[2015-03-12 20:33] iecompattest commented on #733
hello

[2015-03-13 12:27] knu commented on #733
That would fix the observed problem but broken bytes in a subject or body will cause an error in pattern matching if you have regexp patterns set for subject/body in `conditions`.
I'll look to fixing it by patching the Message class.

[2015-03-13 13:35] knu commented on #733
@aforester Could you test the above patch? ([link](https://github.com/cantino/huginn/commit/ede443e89beb899d234bb58a1eb619fb1e7e4a9f.patch))

[2015-03-15 01:17] cantino commented on #732
I did use the same code, yes.  I also just went to https://github.com/cantino/huginn and pressed the Heroku button and it launched fine: https://foo.herokuapp.com/users/sign_up

Then I did

[code]

and hit return through the prompts (except I said `n` for sendgrid) and it worked.

Can you show me screenshots / logs of where it's failing for you?

[2015-03-15 03:13] willyg302 commented on #592
I would say it is okay at this point, but I am no expert on fair use so don't take my word for it.

If you are really concerned, I could purchase the license for it (it's not too much) and then we would be [covered for all non-commercial usage](http://depositphotos.com/license-comparison.html). Let me know.

[2015-03-15 04:03] cantino commented on #592
How much does the license cost?

[2015-03-15 22:08] bolus commented on #732
I tried the Heroku button again and this time it worked.

The setup took quite a bit of time and after the automatic setup finished
and I saw the manual setup instructions I realised what the problem the
last time was.

Basically, I opened the app before the automatic setup was finished because
I thought the progress indicator/interface hanged.

The app was available but there were no manual setup

[2015-03-16 01:02] willyg302 commented on #592
About $13

[2015-03-16 18:50] cantino commented on #592
Easy! I'll buy it and we'll be done.  What's the URL?

On Sunday, March 15, 2015, WillyG Productions <notifications@github.com>
wrote:

[2015-03-16 20:44] deanputney commented on #592
Exciting, guys! How does it look when rendered small (menu bar sized)? What about a black and white version?

[2015-03-17 02:35] willyg302 commented on #592
Great! It's the standard license EPS here: http://depositphotos.com/12976116/stock-illustration-raven-mascot.html

@deanputney Just a quick scale-down. For the real thing I'd do a bit more tweaking so the headset doesn't get lost in the favicon:

![rect3593](https://cloud.githubusercontent.com/assets/2390474/6680366/74d3ef70-cc13-11e4-8b34-4ad7c7ef7b92.png)

[2015-03-17 04:31] cantino commented on #592
Bought them! Send me an email at andrew [at] andrewcantino.com and I'll send you the files.

[2015-03-17 04:50] cantino commented on #732
You could definitely try OpenShift again if you want.  We could play with a self-pinging WebsiteAgent, but Heroku sometimes prevents those from counting.

[2015-03-17 09:24] #593 closed

[2015-03-18 06:10] cantino commented on #694
Along with removing the Vagrantfile, does anyone think we should keep the current Chef configuration in `deployment/`?  Does it work?

[2015-03-18 06:34] alias1 commented on #694
I haven't looked at it for ages, but I don't think it was working last time I looked at it?

—
Sent from Mailbox

On Wed, Mar 18, 2015 at 5:10 PM, Andrew Cantino <notifications@github.com>
wrote:

[2015-03-18 21:06] bolus commented on #732
I tried the OpenShift deployment again and this time there was no error message.

Very odd.

Maybe the first time there was some kind of network error or I did something wrong like I did with the Heroku button.

Anyway, thanks again for your help.

[2015-03-18 21:06] #732 closed

[2015-03-19 05:26] cantino commented on #732
No problem, let us know how you use Huginn!

[2015-03-20 04:00] cantino opened #740 "Vagrant almost works"
It launches and provisions with chef, but then Huginn doesn't start.  Should role[huginn_development] be starting it automatically? @alias1

[2015-03-20 16:37] rishabhjain opened #741 "Trigger Agent regex"
Why is `Regexp::IGNORECASE` option set by default? Is there any way if I want the regex to be case sensitive.

[2015-03-20 16:57] knu commented on #741
Try prefixing your pattern with `(?-i)`, or surrounding your pattern with `(?-i:` and `)`, and it will be treated as case sensitive pattern.

[2015-03-20 18:12] rishabhjain commented on #741
Interesting! Thank you.

[2015-03-20 18:12] #741 closed

[2015-03-20 23:55] wootwoot1234 opened #743 "How to parse RSS content"
Hey Guys,

I'm new here and I'm stuck trying to parse some data.  I have an RSS feed that delivers html in the "description" field.  I can't figure out how to parse out (preferably using regex) an image url from the html.

I'm using the RSS agent to get the infomation into huginn but I don't know how to edit the data from there.  I'm sure this is easy to do I just can't figure out how.

Thanks.

[2015-03-22 06:22] mattbarron opened #744 "Rack 1.5.2 on OpenShift"
I deployed on OpenShift and I am getting a 500 error when I try to open the app. In my ruby.log I am seeing: "You have already activated rack 1.5.2, but your Gemfile requires rack 1.6.0." I did some Googling and found this: https://bugzilla.redhat.com/show_bug.cgi?id=1184179. Looks like rack 1.6.0 is not available for OpenShift.

Does anyone know how to get around this?

[2015-03-22 17:39] cantino commented on #744
Odd.  Maybe this got messed up in our Rails upgrade (cc @dsander).  You should be able to edit your Gemfile to use an older version and then run `bundle` before redeploying to OpenShift.

[2015-03-22 17:41] cantino commented on #743
So you're using an RSSAgent to pull the RSS feed.  Then you want to extract just a portion of the `description`?

[2015-03-22 17:58] wootwoot1234 commented on #743
Yes, exactly.  I just want to get the image url from the description.  The
description is some (html encoded) html.

On Sun, Mar 22, 2015 at 11:41 AM, Andrew Cantino <notifications@github.com>
wrote:

[2015-03-22 18:11] cantino commented on #743
I think you want RSSAgent -> EventFormattingAgent.

[2015-03-22 19:10] dsander commented on #744
Rails 4.2 depends on [rack ~> 1.6](https://github.com/rails/rails/blob/4-2-stable/actionpack/actionpack.gemspec#L24), so I guess we either have to wait for openshift to support rails 4.2 or revert the rails upgrade.

[2015-03-22 19:14] cantino commented on #744
We could tag the previous release and use that for OpenShift I guess, or make a branch with the reversion.  That's pretty annoying.

[2015-03-22 19:48] dsander commented on #744
Yeah, a separate branch sounds like a plan. The last comment of the OpenShift issue @mattbarron linked does not sound like there is a trivial fix. Pretty strange for a PaaS to not have separate internal and external version dependencies.

[2015-03-22 21:46] wootwoot1234 commented on #743
That worked great, thanks!

On a related note, is it possible to do more advanced processing of data?
Is it possible to have code that's run on each event do more complicated
computations with persistent storage.  For example, could it keep a running
tally and fire another event when a number is reached?  I love huginn so
far and I'm interested to see how far I can take it without writing my own
a

[2015-03-22 22:26] virtadpt opened #745 "IMAPFolderAgent crashes with undefined method `addresses' for #<Mail::UnstructuredField:0x007feaf1cf2090> exception."
For reasons not fully clear, the IMAPFolderAgent crashes from time to time with an undefined method `addresses' for #<Mail::UnstructuredField:0x007feaf1cf2090> exception.  Here's a stack trace:
[code]

[2015-03-22 22:30] virtadpt opened #746 "Failed jobs page: Stop refreshing to the first page when on the last."
It's great that, when the queue of failed or retrying jobs starts to clear the Failed Jobs pages begin to shrink in size.  However, when failed jobs are due to exceptions it can be extremely tricky to click on the error message and bring up the agent's stack trace before the page refreshes.  Would it be possible to either set a checkbox or change the delay on the refresh such that it's easier to c

[2015-03-22 22:33] virtadpt commented on #733
+1 - please patch, I'm running in to it, too, with the RSSagent.

[2015-03-22 22:47] virtadpt opened #747 "Make the "perform (e-mail) deliveries" feature an option in .env rather than a code edit."
From time to time, editing the config/environments/development.rb to set "config.action_mailer.perform_deliveries" to true causes hangups in the process of updating Huginn to the latest version.  It would be helpful if it were an environment variable in the .env file so that editing the code would not be necessary.

[2015-03-22 22:50] virtadpt opened #748 "Make the menu bar at the top dynamic so that parts don't get pushed down."
The menu bar at the top of Huginn's interface sometimes gets into a state where everything to the left of the search bar is where it's supposed to be, but the search bar and everything to the right get pushed down and obscure parts of the agent documentation and name/title.  I don't know if the HTML that implements this uses static positioning or if it's a CSS glitch or what, but it would be worth

[2015-03-22 22:55] virtadpt commented on #748
![menu_glitch](https://cloud.githubusercontent.com/assets/639730/6771904/5a7a86c4-d0ab-11e4-9f54-e3b75c5365d3.png)

[2015-03-22 23:14] virtadpt opened #749 "Delayed Job process, liquid_droppable.rb exception causes a warning."
The Delayed Job process occasionally throws an exception about having an already initialized constant:
[code]
I've configured Huginn to run multiple Delayed Job processes so this may have something to do with it but I'm not sure.  Is there something I can do to get better debugging information?

[2015-03-22 23:23] virtadpt opened #750 "Make it possible to detect slow climbs in values to precipitous degrees."
I'm not certain of how to suggest going about this, but it would be helpful to have an agent, or a technique at least, for detecting gradual increases of values.  For example, a value that started at 20, and then reached 25 in the course of a day, and then 30 that night, and then 40 the next morning... a gradual ramp-up that probably wouldn't be picked up by the PeakDetectorAgent.

I'm not sure of

[2015-03-23 01:30] virtadpt opened #751 "Twitter Agent fails with "Not authorized." rather than checks HTTP error code."
One of the Twitter agents (I think it's TwitterStreamAgent) fails with the error "Not authorized." under some circumstances.  Here's a stack trace before I go into my observations:
[code]
I have observed that if Twitter's API service is getting hammered too hard or too fast by an application (say, if TwitterStreamAgent has been stuck in the retry queue for too long and suddenly several copies star

[2015-03-23 02:24] virtadpt commented on #492
Worked around this by making my personal account an admin.  It's bad practice to run with elevated privileges all the time but I'm the only person making use of this particular instance.

[2015-03-23 03:47] virtadpt opened #752 "Associate icons with scenarios as referenceable web assets."
The tags on scenarios are somewhat useful - playing with the color selectors makes them somewhat distinguishable, but one "A" looks pretty much like another, and they all run together.

How difficult would it be to make it possible to upload and attach Gravatar or LiveJournal style icons to scenarios, i.e. pixmaps with a minimum and maximum size (64x64? 128x128?), so that rather than the default "

[2015-03-23 06:13] #733 closed

[2015-03-23 15:17] mattbarron commented on #744
Thanks for the updates!

[2015-03-23 17:22] Nateliason opened #753 "Twitter Service Authentication says something went wrong"
Tried authenticating with Twitter per the O-Auth instructions. Plugged in my Key and Secret, but when I go to services and click the "authenticate with Twitter" button it just says "We're Sorry, but Something Went Wrong"

Any idea what might be causing this?

[2015-03-23 17:24] cantino commented on #753
Did you set the callback url as well to something like `https://localhost:3000/auth/twitter/callback`?

[2015-03-23 17:25] cantino commented on #733
Thanks @knu!

[2015-03-23 17:26] cantino commented on #743
Great!

[2015-03-23 17:26] #743 closed

[2015-03-23 17:27] cantino commented on #745
cc @knu

[2015-03-23 17:28] Nateliason commented on #753
I'm using Heroku, would I still set that as the callback URL?

[2015-03-23 17:31] cantino commented on #753
You'd set the one for your Heroku application, then.  you.herokuapp.com, or whatever

[2015-03-23 17:32] Nateliason commented on #753
kk I'll try that

[2015-03-23 17:35] Nateliason commented on #753
That did it, thanks!!

[2015-03-23 17:36] cantino commented on #753
Great!  Is there somewhere we should make the more clear in the documentation to help the next user?

[2015-03-23 18:08] #753 closed

[2015-03-23 18:16] cantino commented on #744
@mattbarron, I reverted the Rails 4.2 upgrade on the openshift branch.  Would you mind trying that branch?

[2015-03-23 18:37] cantino commented on #749
/cc @knu @dsander

[2015-03-23 18:38] cantino commented on #750
PeakDetector with a long enough history would see this, I think, but I agree that it might be either another agent or a new option to the PeakDetector.

[2015-03-23 18:38] cantino commented on #751
Todo: see if the twitter gem, which now has streaming support, does this better than the gem we use.

[2015-03-23 19:18] cantino commented on #748
Hopefully f886bdf fixed this.  Mind pulling from master?

[2015-03-23 19:52] dsander commented on #748
@virtadpt Do you override the font in your browser or is it the default on of you Linux distribution?

I am pretty sure I checked the width with 3+ digits in every indicator in d10f21bb79

[2015-03-23 20:55] dsander commented on #749
Thos are just warnings, nothing to worry about. I will try to get rid of them.

[2015-03-23 21:06] #747 closed

[2015-03-23 21:06] cantino commented on #747
@virtadpt You can pull from master, add the new option to your `.env` file, and you should be all set.

[2015-03-23 21:07] #746 closed

[2015-03-23 21:21] dsander commented on #749
I remember seeing those warning locally before, but now I can't reproduce them.

[2015-03-23 21:23] Nateliason commented on #753
Maybe mention it here: https://github.com/cantino/huginn/wiki/Configuring-OAuth-applications that they need to set the callback as well.

[2015-03-24 02:27] mattbarron commented on #744
Works perfect. I am up and running. Thank you!!

[2015-03-24 06:38] #744 closed

[2015-03-24 16:00] cantino commented on #744
Glad to hear it!  Hopefully OpenShift fixes this soon.  Maintaining a second branch is a pain.

[2015-03-25 18:24] virtadpt commented on #748
No and yes (in that order).  I've even tried it after ^0 to reset the displayed page to defaults.

[2015-03-26 14:21] lgwapnitsky opened #759 "killing a running job"
how do I kill a running job on my heroku instance of Huginn?

[2015-03-26 15:13] cantino commented on #759
It will time out after a few minutes, if it's hung.  What issue are you running into?

[2015-03-26 17:27] wootwoot1234 opened #760 "Agents not running on heroku."
I have huginn running on heroku but my agents aren't running automatically.  I setup a cron job from another server to load/ping huginn every minute but that doesn't seem to have worked.  Is there a specific url I should be pinging and is every minute enough or too much?

Thanks.

[2015-03-26 17:43] cantino commented on #760
Every minute should be more than enough. I'm surprised that's not working.
Is there anything in your "heroku logs"?

On Thursday, March 26, 2015, wootwoot1234 <notifications@github.com> wrote:

[2015-03-26 18:15] wootwoot1234 commented on #760
Thanks for writing back.

There isn't anything in the logs that suggest there are any errors and nothing during the time when it's scheduled to run.  Is there a specific url I should be pinging or is the root url (main page) fine?  It's only a few days old but maybe I should update it?

[2015-03-26 20:08] cantino commented on #760
You could try hitting `/users/sign_in`instead, but I do find that strange.  Does it correctly run scheduled Agents when you're actively using it?

[2015-03-26 20:19] wootwoot1234 commented on #760
I have my agents set to run every 5 hours.  It ran correctly last time but
I was actively using huginn.  I'm going to leave it alone for 5 or 10 hours
and see if it runs on it's own.  I'll also check on the cron job and make
sure it's running correctly.

On Thu, Mar 26, 2015 at 2:09 PM, Andrew Cantino <notifications@github.com>
wrote:

[2015-03-27 04:49] wootwoot1234 commented on #760
Looks like that fixed it.  Thanks!

[2015-03-27 04:49] #760 closed

[2015-03-27 05:12] cantino commented on #760
Great!

[2015-03-27 05:41] McGriddle opened #761 "Only listening on localhost"
Since updating to the latest commit (currently 1832a9acfec89a315579fdde0fad6afa81ca0331), it looks like the domain setting in my .env is no longer being used.
`netstat --listen` shows that the machine is listening on localhost:3000. I can confirm that huginn is running as I can access it if via ssh port forwarding on localhost:3000.

To update I did the following
[code]

I've tried setting the dom

[2015-03-27 05:51] McGriddle commented on #16
So I started to write some code around a reddit agent, but the more I dug into it the more opinionated I realized the agent would have to be. I prefer just to use the existing agents: Website -> Deduplication -> Trigger -> Formatter -> Pushbullet

[2015-03-27 07:23] McGriddle commented on #308
Use huginn to notify self once huginn has been updated by trolling the last commit displayed on the main page. http://pastebin.com/tAkx7PAu :tada:

[2015-03-28 00:06] cantino commented on #16
You could put those in a Scenario and then export and share it.

[2015-03-28 00:09] cantino commented on #308
Perhaps everyone could add their usage to https://github.com/cantino/huginn/wiki/Companies-and-People-Using-Huginn as well?

[2015-03-28 00:15] cantino commented on #761
The `DOMAIN` in `.env` doesn't affect listening interface or port, only URLs in the app.  That shouldn't have changed.  Rails normally only listens locally when running in development mode.  Had you changed that somehow?

[2015-03-28 17:18] virtadpt commented on #748
I've merged from master/ and that does seem to have fixed it.  I'm looking at 2, 1, 1, and 2 digits up there (respectively) and there doesn't seem to be any menu bar funniness going on.

[2015-03-28 17:22] virtadpt commented on #747
Yup.  Working like a charm. :)

[2015-03-28 18:54] cantino commented on #747
Awesome!

[2015-03-28 18:55] cantino commented on #748
Something odd with the browser on Linux, I think.  We might need you to open the developer tools and play with the CSS in your browser until it fits, then submit a patch.

[2015-03-29 19:11] Nateliason opened #763 "550 Cannot receive from specified address <(my email)>: Unauthenticated senders not allowed"
Any idea how I fix this problem so that I can email myself alerts?

[2015-03-29 19:12] Nateliason commented on #763
I entered my email during the setup in terminal, never added a password or other credentials though. Is there some way to authenticate your email address as a service?

[2015-03-29 19:13] cantino commented on #763
Maybe the sendgrid credentials didn't get setup correctly?  Do you have a verified Heroku account (has a credit card number in it)?

[2015-03-29 19:14] Nateliason commented on #763
Oh Heroku isn't verified, let me do that

[2015-03-29 19:15] Nateliason commented on #763
Same problem

[2015-03-29 19:18] cantino commented on #763
See if the sendgrid addon is setup for the huginn heroku project with their web UI.

[2015-03-29 19:23] Nateliason commented on #763
Okay, added that, do I need to refresh the app or something?

[2015-03-29 19:34] cantino commented on #763
You may need to set the sendgrid details in the ENV, or it may just work.

[2015-03-29 19:52] Nateliason commented on #763
Kk I set the variables, I'll let you know if this fixes it

[2015-03-29 22:48] virtadpt commented on #748
Just saw a screen with 3, 1, 2, and 1 in the bubbles, and it looks good.  I think it's fixed.

[2015-03-29 22:52] dsander commented on #748
@virtadpt can you check which font, with which size is used in your browser using the developer tools? I am wondering why non of our sans-serif fonts are used.

Maybe we should supply some google web sans-serif font?

[2015-03-29 23:19] Nateliason commented on #763
Still doesn't work, here's the error output:

/app/vendor/ruby-2.0.0/lib/ruby/2.0.0/net/smtp.rb:951:in `check_response'
/app/vendor/ruby-2.0.0/lib/ruby/2.0.0/net/smtp.rb:920:in `getok'
/app/vendor/ruby-2.0.0/lib/ruby/2.0.0/net/smtp.rb:835:in `mailfrom'
/app/vendor/ruby-2.0.0/lib/ruby/2.0.0/net/smtp.rb:662:in `send_message'
/app/vendor/bundle/ruby/2.0.0/gems/mail-2.6.3/lib/mail/network/delivery_met

[2015-03-30 00:34] virtadpt commented on #748
The dev-tools say "Bookman URW Light" and "Bookman URW Light Italic" for the menu bar.

[2015-03-30 02:36] dskzz commented on #761
I am having same problem.  This is my first attempt with (maddening!) ruby; I think I've done everything right. Not 100% if I've set this up as production.  here from my netstat:
tcp        0      0 127.0.0.1:3000          0.0.0.0:*               LISTEN      8361/ruby

I can access it from my localhost, but that's just a server and I don't want to run huginn through lynx or set up a proxy or somet

[2015-03-30 06:30] cantino commented on #763
You may need to show us the values in `heroku config` (but please anonymize anything sensitive!)

[2015-03-30 06:31] cantino commented on #761
Are you running in development or production mode?

[2015-03-30 14:49] signallhill opened #764 "JSONPath help"
Hi I have a webhook agent receiving post but the payload is blank. I think it has to do with the payload_path not being correct. Below is the raw data that is being posted, can someone help me with the path I need to put to get the payload. I am trying to get the title, description, location and date.

{"name":"Hill","count":69,"frequency":"Daily","version":12,"newdata":true,"lastrunstatus":"parti

[2015-03-30 20:03] dskzz commented on #761
Honestly, being new to Ruby, I am not sure. I uncommented
the RAILS_ENV=production line in .env

On Mon, Mar 30, 2015 at 2:31 AM, Andrew Cantino <notifications@github.com>
wrote:

--
DM
www.gall-holl.com
201-394-7641

Confidentiality Warning: This e-mail contains information intended only for
the use of the individual or entity named above. If the reader of this
e-mail is not the intended recipien

[2015-03-30 23:48] cantino commented on #764
Which part are you interested in?

[2015-03-31 03:36] signallhill commented on #764
The data I want is starting from collection1. So each payload should have title,description, location, date.

If that's not possible then title is what I want.

{"collection1":[{"title":{"text"some title"","href"http:// link""},"description":"1 2 3 4 5 6 7 8 9","location":"1 2 3 4 5 6 7 8 9","date":{"text":"1 2 3 4 5 6 7 8 9","href":"javascript:__doPostBack('DataGrid1$_ctl1$_ctl1','')"},"url":"htt

[2015-03-31 06:49] cantino commented on #764
So you want it to loop over the results, not just return the first one with something like `collection1[0].title`?

[2015-03-31 10:52] signallhill commented on #764
Yes I think.

[2015-03-31 21:33] cantino commented on #761
If you're deploying, you should run in `production`, but then you'll need to bundle assets.  If you're running in `development`, it should serve on port 3000 on localhost, which one could proxy-pass to from nginx.  But you don't really want to run Rails in development and open to the world, as it exposes security issues.  Please see https://github.com/cantino/huginn/wiki#deploying-huginn

[2015-03-31 23:33] dskzz commented on #761
Appreciate the help.  Is there a way, a line of code or something I can
change to make it run on 0.0.0.0 without going production mode?  I'm not
worried about security, I can ipfilter the traffic.

On Tue, Mar 31, 2015 at 5:34 PM, Andrew Cantino <notifications@github.com>
wrote:

--
DM
www.gall-holl.com
201-394-7641

Confidentiality Warning: This e-mail contains information intended only for
the u

[2015-04-01 01:53] cantino commented on #761
Try editing `Procfile` and changing the `web:` line to `web: bundle exec rails server --binding=0.0.0.0 --port=80`

[2015-04-01 15:50] stvnrlly opened #765 "Option not to keep events"
I'm using a WebsiteAgent to watch a JSON file that's updated minutely, producing 20 events every minute. All I care about is the small output of the DeDuplicationAgent that it's passed to, but I still end up with tens of thousands of WebsiteAgent events per day.  This could be a problem for using the free Postgres database on Heroku, for instance.

The extreme version of this could be self-destruc

[2015-04-01 16:47] rishabhjain commented on #626
@chriseidhof @dsander `_rails_session` cookie is changing every request(why?), maybe because of that.

[2015-04-01 17:25] cantino commented on #626
Are you sending back the cookie when you make a request?  If you don't,
it'll issue a new one.

On Wed, Apr 1, 2015 at 10:05 AM, rishabhjain <notifications@github.com>
wrote:

[2015-04-01 17:51] rishabhjain commented on #626
Yeah, I'm sending the cookie back and still getting new different cookie. Weird.

[2015-04-03 03:41] cantino commented on #626
Can you show how you're sending it?

[2015-04-03 17:38] signallhill commented on #764
I read some examples online and came up with this.

$..collection1[*]

The problem is Huginn is only showing the first payload and ignoring the rest. However, when I goto http://jsonpath.curiousconcept.com/ the same query on same raw data shows each payload with Title, description, date location etc.

Is there something wrong with the above Jsonpath?

Here is the raw data

{
  "name": "Raw Data",

[2015-04-03 20:18] cantino commented on #765
You can set a max age to keep on created events when setting up an Agent.  Does that work for you?

![screen shot 2015-04-03 at 1 17 49 pm](https://cloud.githubusercontent.com/assets/83835/6988211/de16d698-da03-11e4-8f30-25e0e1a5ae05.png)

[2015-04-03 20:19] cantino commented on #764
I need to look and see if this type of Agent can loop and produce more than one event from a payload.  If not, we'd need to add that feature.

[2015-04-03 20:43] stvnrlly commented on #765
It does work, but 1 day at this rate is still 28,800 events, which pushes the Heroku database above the 10,000 row limit for the free level. I only need these events for a few seconds to propagate down the line, so it would be nice to have some even-shorter age options or to have an option to delete after propagation.

If adding more age options would make the list too long, perhaps it would be po

[2015-04-03 21:58] cantino commented on #765
Oh, I see!  You could add another option to the list for an hour or something?

[2015-04-04 00:36] cantino commented on #764
Perhaps you could modify the WebhookAgent and change the `create_event(:payload => payload_for(params))` line to something like this (untested):

[code]

Then set the `multiple_payloads` option to `true` and set the `payload_path` to the root array that you're trying to emit events for.  If that works, you could add a spec and send a PR! :)

[2015-04-04 01:45] signallhill commented on #764
Wow thank you for this opportunity. I have forked, changed the agent code and created my PR. I will create a new huginn instance from my PR and test it. I will update you.

Thank you again for allowing me to help.

[2015-04-04 04:12] rishabhjain commented on #626
Here: http://cl.ly/aW7z/Screen%20Recording%202015-04-04%20at%2009%3A34.gif

[2015-04-04 18:18] signallhill commented on #764
Couple of questions

"Then set the multiple_payloads option to true"

Do I do that in the agent like below or is that done in if boolify(options['multiple_payloads']).

{
  "secret": "secret",
  "expected_receive_period_in_days": "6",
  "multiple_payloads": "true",
  "payload_path": "$..collection1[*]"
}

"you could add a spec"

What does spec mean and how do I add that?

[2015-04-04 21:04] cantino commented on #764
Maybe Rails 4 updates the session cookie on every request to avoid replay attacks?  I seem to remember that.  Is it causing you a problem to have to resend the updated cookie each time?

[2015-04-04 21:05] cantino commented on #626
Maybe Rails 4 updates the session cookie on every request to avoid replay attacks?  I seem to remember that.  Is it causing you a problem to have to resend the updated cookie each time?

Clearly this isn't a long term solution for an API.  Better would be a token based API, or oauth.  I owe @dsander some attention to his doorkeeper efforts.

[2015-04-04 21:06] cantino commented on #764
(Sorry, that previous comment was for a different thread.)

[2015-04-04 21:07] cantino commented on #764
I think the `payload_path` would be `$..collection1` and the `multiple_payloads` you have is correct, once the new code is added.  We'd also update the file in spec/models/agents/webhook_agent_spec.rb.  Would you like me to do it?

[2015-04-05 01:56] xmehaut commented on #353
Hello
Great tools!
I would suggest a Docker installation for ease (https://www.docker.com)
Regards

[2015-04-05 11:36] signallhill commented on #764
I will do it. This is my first time doing this that's why I'm asking. I want to learn.

I will update and test again.

[2015-04-05 23:12] cantino commented on #353
@xmehaut https://registry.hub.docker.com/u/cantino/huginn/

[2015-04-05 23:54] cantino commented on #764
Great!  Glad to get your help :)

[2015-04-06 03:26] xmehaut commented on #353
Thanks Andrew for the link

Envoyé de mon iPhone

[2015-04-07 17:30] virtadpt commented on #749
What commit are you running right now, @dsander?

[2015-04-07 17:57] virtadpt opened #768 "Delayed job worker dies with a signal 137."
I've experienced two crashes of Huginn in the past two weeks (one on 1 April 2015, the other on 6 April 2015) with unusual sets of symptoms.  The delayed_job agents die with signal 137's.  Full stack traces are dumped (which I can post later as comments to this ticket) to the Screen terminal; they're not recorded in the log files but I've preserved those also.  The last thing recorded in log/devel

[2015-04-07 19:19] cantino commented on #768
The trace would be useful.  I think sig 137 might be "out of RAM"?

[2015-04-07 19:23] virtadpt commented on #768
I've been searching for that particular return code (signal 137) for the past couple of days and haven't found anything so far.  I'll post the stack trace when I get home tonight.

[2015-04-08 06:18] bruskiza opened #769 "Simply awesome!"
No issue, just happiness.

Andrew, I've been watching your project for a while now and have finally found a business use for it.

Excellent product!

Well done!

[2015-04-08 16:01] cantino commented on #769
Thanks, and glad to hear it!

What are you using it for?

On Tuesday, April 7, 2015, Bruce McIntyre <notifications@github.com> wrote:

[2015-04-08 16:15] virtadpt commented on #768
[code]

[2015-04-08 18:16] dsander commented on #749
I think that was f886bdf00d2cfb0b60ac63016679e3dacb16d9ad

[2015-04-08 18:22] dsander commented on #768
@virtadpt If delayed_job was killed by the OOM killer you should be able to find something like "killed process'" in the syslog.

[2015-04-08 18:44] virtadpt commented on #768
Good catch.  While analyzing system logs, I found the following:
[code]
With the following right before it:
[code]
crond was trying to fork() itself and couldn't, and then mysqld hit the panic button.

I'm not sure what to do, here.  I can go back to a single delayed job runner but that'll crush my responsiveness again.  Maybe going with the project fork of each agent class in a separate Gem is th

[2015-04-08 19:32] dsander commented on #768
`1077748kB` that is a _ton_ of memory my machine is utilizing about 300mb with the threaded worker, but you are probably using a lot more agents then I am.

I think we are either leaking memory or at least objects somewhere. Are you running ruby 2.1 or later? If that's the case we could use `ObjectSpace.trace_object_allocations` to locate where memory is leaked.

Having each agent in a separate ge

[2015-04-08 19:39] virtadpt commented on #768
I have several hundred agents running at this time.

Ruby version: ruby 2.1.0p0 (2013-12-25 revision 44422) [x86_64-linux]

Sidekiq.... that doesn't sound like a bad idea, thinking about it a little.

[2015-04-08 21:44] dsander commented on #749
Interestingly enough, if had the same issue again today :smile:

@virtadpt  It looks like you are running your workers in the development environment. It might help the memory usage and overall performance to run them in production via `export RAILS_ENV=production; bundle exec script/delayed_job run`

[2015-04-09 05:28] #749 closed

[2015-04-09 16:59] virtadpt commented on #768
So, digging around a little bit in the output of `ulimit`, my user shells (from which I'm running Huginn, via GNU Screen) have an unlimited maximum memory size, CPU time, and virtual memory.  I did some reading up on Sidekiq last night and it seems like it might be useful for getting memory utilization down in Huginn but I might have to upgrade my VM to the next larger size.

[2015-04-09 18:23] virtadpt commented on #749
Hmmm... are there official instructions for kicking into production mode?  I tried a few weeks ago (after doing some research) and hosed my instanance pretty badly.

[2015-04-09 20:41] dsander commented on #749
I think there is none for 'manual' deployment. All that needs to be done is to copy your development settings in the `database.yml` to the production section and then starting delayed_job with the command above.

[2015-04-09 21:12] space-pope commented on #684
This issue seems to contain a few different topics, but it's not closed yet, so I figured I'd comment here (on the original topic) instead of making a duplicate. I've also been getting a sporadic "Broken pipe" error (on OSX, running `rails server` in the development env):

[code]

...complete with that odd spacing in the first line. I've tried on both MySQL and Postgres, having read about an old i

[2015-04-10 15:19] signallhill commented on #764
Ok the updated webhook agent is working I can confirm. but

I have to apologize. I have never written a code before on any language, and dont work in IT either. From reading helpful websites and youtube vids I see spec is used to test ruby code. I also installed rspec gem. but I am on windows and I think it does not work well with it.

I think I see where I need to update the spec file below but I

[2015-04-10 21:36] cantino commented on #764
No need to apologize @signallhill!  I'm glad it's working for you, I'll make a pull request that you can try out and we'll merge it if it works.

[2015-04-10 22:02] cantino commented on #764
Mind trying out https://github.com/cantino/huginn/pull/773 @signallhill?

[2015-04-10 22:06] cantino commented on #768
This does sound like memory issues to me.

[2015-04-10 22:07] cantino commented on #684
Any chance you're running out of ram or disk space?

[2015-04-10 22:09] cantino commented on #749
Don't you need to bundle assets too?

[2015-04-10 22:16] dsander commented on #749
@cantino Not if you just run delayed job in production

[2015-04-10 22:30] dsander commented on #768
@virtadpt Would you mind trying out https://github.com/dsander/huginn/tree/trace-objects ? I added a very rudimentary MemoryProfileAgent and 'abuse' the peak detector agent to visualize the total object could with this scenario

[code]
My graph has been flat at about 600k allocated objects for a few hours, but then got a serious spike to almost 1M objects:
![screenshot 2015-04-11 00 27 43](https:/

[2015-04-10 22:43] dsander opened #774 "Better way needed to visualize events?"
For #768 I needed an quick and easy way to create a graph based on events for which I (kind of) abused the peak detector agent. To further debug the object leak I would like to be able to create multiple graphs (maybe with multiple metrics per graph).

Since this would be mainly for debugging purposes I could use something like librato, but I was wondering if there is a demand for some sort of gen

[2015-04-10 23:04] cantino commented on #774
I think that's a good idea.  I suspect @virtadpt would have uses for it.

[2015-04-10 23:53] space-pope commented on #684
Definitely not disk space; RAM...I suppose there's a chance, but swap
should in theory kick in at that point, no? Seems like I also wouldn't be
able to delete the job, kick off a new one, and have that one succeed if it
were a resource issue.

On Fri, Apr 10, 2015 at 6:07 PM, Andrew Cantino <notifications@github.com>
wrote:

[2015-04-11 16:10] virtadpt commented on #774
Depending on how the two agent classes were implemented, I'd have lots of uses for both. :)

[2015-04-11 16:43] virtadpt commented on #768
@dsander I tried to import that agent network and got an exception in
app/models/scenario_import.rb:
[code]
I've just updated to your branch of Huginn and imported the agent network.  So far I'm looking at a flat graph with 500k as the middle.

[2015-04-11 17:01] dsander commented on #768
That's what I am looking at right now, too. The first first pike happened about 15 hours after I started delayed_job. Once a peak is detected you should find a json file in the directory you configured in the MemoryProfileAgent.

[2015-04-11 17:04] virtadpt commented on #768
I'm still seeing a gradual increase in memory utilization, now headed for 1.5M (megabytes?)

[2015-04-11 17:08] virtadpt commented on #768
It's also worth noting that, when setting this up I forgot to edit the Procfile and switch to the separate process model I'd been using (with the two delayed_job instances).  Should I do so to get results closer to what we're expecting?

[2015-04-11 17:57] dsander commented on #768
Yeah, but it would need support for multiple background worker processes, and probably a bigger warning because the allocation tracing really slows down everything.

Actually it's better to just have one worker, running on two different processes would probably produce weird results.

[2015-04-11 18:39] cantino commented on #684
Yea, I agree.  That's odd.  This is a broken pipe between Huginn and the DB.  You might try increasing your `DATABASE_POOL` from `5` to `10`.

[2015-04-11 19:04] cantino commented on #749
Oh, interesting.  Do you think we should somehow make that a default?

[2015-04-11 19:26] virtadpt commented on #768
I think it might be a moot point.  I went to take a shower and get some breakfast, and came back to a dead Huginn instance and this stack trace:
[code]

[2015-04-11 19:30] virtadpt commented on #768
That said, no peak was hit but the last thing the allocated objects watching agent network saw was about 2MB of memory usage.

[2015-04-11 19:55] virtadpt commented on #768
Just got another crash, same stack dump.

[2015-04-11 20:04] dsander commented on #768
Do you have the beginning of the dump? If i remember correctly the interesting part starts with "c level stacktrace".

[2015-04-11 20:11] virtadpt commented on #768
That was as far back as I could go in Screen.

[2015-04-11 21:17] dsander commented on #768
Damn, you could redirect the output to a log which appending `2>&1 > job.log`.

Do you use the javascript agent in your setup? There therubyracer had a memory leak which was [recently](https://github.com/cowboyd/therubyracer/pull/336) fixed, upgrading therubyracer to 0.12.2 might help.

[2015-04-11 22:18] virtadpt commented on #768
Let me give that a try.

No, I don't use the Javascript agent.  It's not a language I'm familiar with so I don't have any instances of it running.

[2015-04-11 22:32] virtadpt commented on #768
Got a full stack trace for you, and it's a doozy - too big to fit in a comment on this ticket, in fact, Github won't let me post it.

http://pastebin.com/SKCJm7Xu

[2015-04-12 02:27] signallhill commented on #764
@cantino Yes it is working confirmed. Thank you very much.

I have followed this project for almost a year now. This is absolutely amazing.

[2015-04-12 02:27] #764 closed

[2015-04-12 10:24] dsander commented on #768
I read you upgraded ruby to 2.1.5, did that fix the segfault? It looks to me like something was allocating objects while the GC ran, but I am not 100% sure about that.

[2015-04-12 10:31] dsander commented on #749
Unsure, it might be nice to have the verbose development log by default.

[2015-04-12 18:30] virtadpt commented on #768
It didn't.  I got a segfault at 2241 PDT last night that took down Huginn.  It crashed, it just took longer.  I've also noticed that the JabberAgent class is no longer functioning correctly but that's a separate issue.

[2015-04-12 19:25] virtadpt opened #779 "Background Jobs page could be more helpfully labeled."
When attempting to determine what happened to an agent that may or may not have run, the Background Jobs page is of some help.  However, it only lists the status of a job, when it was created, when next it's supposed to run (empty, if it's a failed job), the total number of tries a given agent has made, and the last error message (which displays a stack trace when clicked).  However, it is never s

[2015-04-12 19:28] virtadpt commented on #613
Any word on making this an official patch?  I'm seeing the same error a couple of times an hour.

[2015-04-12 20:29] cantino commented on #613
@virtadpt, so this is still happening for you?  I was hoping that @knu's fix in https://github.com/cantino/huginn/commit/49eb43459db750b7a62319e1c0ea29ff404680ca would have fixed it.

[2015-04-12 20:29] cantino commented on #768
That's frustrating.  Can you tell from the trace which Agent it's in?

[2015-04-12 21:28] virtadpt commented on #768
Analyzing the stack dump, I can tell that the segfault was in .rvm/gems/ruby-2.1.0/gems/activesupport-4.2.1/lib/active_support/dependencies.rb where it tried to reference address 0x00000000000000 and was terminated with a SIGSEGV.  It's probably in twitter_user_agent.rb and may be due to a timeout (.rvm/rubies/ruby-2.1.0/lib/ruby/2.1.0/timeout.rb).

Incidentally, even though I'm running Ruby v2.1.

[2015-04-12 21:58] virtadpt commented on #768
Here's an odd one for you - the MemoryProfiling Agent is throwing exceptions, @dsander.  Check this out:
[code]
I'm completely out of ideas at this point.

[2015-04-12 22:01] dsander commented on #768
@virtadpt I think its fine that its still pointing to the 2.1.0 directory, afaik ruby always uses one directory for the same minor version.

The timeout could have been caused by the object tracing slowdown.

My production installation is still running at about 600k allocated objects, which no peak yet.

[2015-04-12 22:04] virtadpt commented on #768
I can't tell what the allocated object is anymore because the class is no longer functioning as expected.  The count's been frozen for a few hours now (see exception trace, my last comment).

[2015-04-12 22:10] dsander commented on #768
Wow, that exception looks really odd. Can you still access the agent via the web interface? I am asking because I think the exception suggests that somehow the user of the agent changed somewhere (?!)

[2015-04-12 22:13] virtadpt commented on #768
I can - I can edit the agent and save it in the database.  However, from the Details page:
[code]
Even though I ran it manually (Actions -> Run).

[2015-04-12 22:14] virtadpt commented on #613
Yup, still happening.

[2015-04-12 22:22] virtadpt commented on #768
It's reproduceable - seven times in ten minutes.

[2015-04-12 22:30] dsander commented on #768
I am also out of ideas what is going wrong and maybe that global approach to trace the object allocations wasn't a great one.

Having looked at active job today, I think it would be better to run the object tracing per agent check/receive job and log where and how many objects were leaked.

[2015-04-12 22:31] virtadpt commented on #768
How would I go about that on my end, or would that be something requiring changes to the codebase as a whole?

[2015-04-12 22:32] virtadpt commented on #768
It could be the fact that I've done quite a few database migrations in the past year (plus one to add the MemoryProfiling Agent, which seems to have messed a few things up on my side of things through no fault of yours, I've got some pretty weird agent networks running right now).  I think I'm going to torch and reinstall Huginn on my side and reload from backup.

[2015-04-12 22:39] dsander commented on #768
I would suggest you delete the MemoryProfileAgent and change your branch back to master (or the branch you were running before). That should bring you back to the point you were before (delayed_job worker beeing killed when it is using too much memory).

My plan for the next days/week is to test the active job interface, add (optional) memory profiling ontop of that and support sidekiq as an alter

[2015-04-12 22:43] cantino commented on #613
@virtadpt Did the amove code fix this for you?

[2015-04-12 22:46] virtadpt commented on #768
Done.  JabberAgent is still erroring out and sending empty alerts to my XMPP account, though.

[2015-04-12 22:57] dsander commented on #768
Is that related to the recent changes? I don't really see how there could be a connection.

[2015-04-12 23:00] virtadpt commented on #768
It happened immediately after I started tinkering with Huginn to figure out why it kept crashing with OOM errors (specifically, after the DB migrations).  Looking at the logs I've stored, within five minutes by the scheduler, so I may as well drop and reload.

[2015-04-12 23:26] dsander commented on #768
I see, anything that gets your huginn instance back running normally.

[2015-04-12 23:49] virtadpt opened #780 "Importing credentials."
It's possible to download the set of one's credentials from Huginn (Credentials -> Download Credentials) but it's not possible to re-import them the same way.

[2015-04-12 23:58] virtadpt opened #781 "Credential text editor is inaccurate."
When typing in credentials (Credentials -> New Credential) the position of the cursor is often several spaces off by the very end of the text.  This makes it difficult to determine if the information entered is accurate, vis a vis whether or not there are a bunch of spaces at the end, which would invalidate API keys and suchlike.

[2015-04-13 01:45] cantino commented on #781
Screenshot please?  Does this happen in both Chrome and FF?

[2015-04-13 02:45] virtadpt opened #783 "Fix for 'previous definition of xDrop was here' breaks Liquid."
Immediately after updating to a commit of Huginn that incorporated the 'previous definition of xDrop was here' fix (commit 3bb7f7a06f5cc8d5ffa47a689d7f3387f9284823) Liquid templating broke across all Agents in all Scenarios.  Manually reverting to commit a6dbb9c787e0c814921ef7001491346b148d35e9 which preceeded that fix repaired Liquid templating functionality.  Please re-examine patch.

[2015-04-13 03:14] cantino commented on #783
You definitely restarted Huginn after checking out that version?

[2015-04-13 03:19] cantino commented on #783
(I'm trying it now.)

[2015-04-13 03:21] virtadpt opened #784 "Scheduler Agents do not re-import correctly."
When importing Scenarios which have one or more SchedulerAgents in them, they are disconnected from the rest of the agent networks and have to be reconnected manually by editing them.  Looking at the exported scenarios, the SchedulerAgents do not have fields which logically connect them to the agents they're supposed to control:
[code]

[2015-04-13 03:22] cantino commented on #784
Yes, I don't think that those ever got added into Scenarios.

[2015-04-13 03:25] cantino commented on #768
@virtadpt It seems like manually exporting and re-adding all Agents / Scenarios isn't the right approach.  Your database should be fine as-is.  I don't see why re-installing Huginn itself would help, but you should make sure your .env and Procfile are similar to the default ones.  It's possible doing rvm implode and reinstalling gems could help, but I think you already did that? Have you tried run

[2015-04-13 03:51] cantino commented on #783
I just updated my Huginn installation to the newest version and Liquid is still working.  That's VERY odd.

[2015-04-13 04:01] virtadpt commented on #781
![editor_fail](https://cloud.githubusercontent.com/assets/639730/7109667/0302082e-e157-11e4-9842-0c86ced3b6bc.jpg)
I haven't tried Chrome yet.

[2015-04-13 04:06] virtadpt commented on #783
I did - it was running in Screen so I ^C'd it, then went through the process list to kill the other processes still hanging around before checking out that commit and trying again.  Events injected with the ManualAgent set off TriggerAgent as expected, and then forcing a run of the agent networks that fed them started resulting in events being transmitted.

[2015-04-13 04:10] virtadpt commented on #768
My thought was that, after all the database migrations I ran with so many agents and events piled up in there, something went pear-shaped.  I started to panic when the MemoryAllocationAgent itself started malfunctioning (when debugging instrumentation starts dying, things are never in good shape).

I didn't touch the Procfile this time around, and I started over with a new .env file and copy/paste

[2015-04-13 12:53] space-pope commented on #684
Thanks for the tip; I'll give that a shot. I haven't noticed any connection timeouts, though; wouldn't I be getting those if the pool were being exhausted?

Along the same lines, I'm wondering what could be causing the starvation...I do have a scenario with 5 or 6 agents chained one after the other and set to propagate immediately; is there a chance that, combined with the scheduler, that scenario

[2015-04-13 22:43] dsander opened #789 "How to approach sidekiq support with ActiveJob"
I was playing with sidekiq a bit and replacing delayed_job with it is _really_ easy, just replace `:delayed_job` with `:sidekiq` as the `active_job.queue_adapter` and be done.

Running sidekiq works well when using the 'old' seperate background workers approach (one process for delayed_job/sidekiq, the scheduler and twitter stream). Integrating sidekiq into the threaded worker looks like a whole o

[2015-04-15 02:30] stvnrlly commented on #765
Okay, so I was able to figure this out, but it requires setting the event cleanup to run more than once per day. For my purposes, I wanted to keep the events for 2-3 minutes, so I added that as an option and set cleanup to run every 3 minutes.

I don't know if that will cause problems for people running larger-scale Huginn instances, so I thought I'd check to see about that before submitting a pul

[2015-04-15 02:39] cantino commented on #765
You could make it a variable in the .env file?

On Tuesday, April 14, 2015, stvnrlly <notifications@github.com> wrote:

[2015-04-15 05:11] stvnrlly commented on #765
Nice, that sounds like it should work.

[2015-04-15 17:22] signallhill opened #790 "Heroku Precompile Error"
I was deploying a new heroku app by clicking the Deploy heroku button and got this error several times. Not sure if this is just me or for everyone.

       Cheers.

       ***

       Bundle completed (186.47s)

       Cleaning up the bundler cache.

-----> Preparing app for Rails asset pipeline

       Running: rake assets:precompile

       rake aborted!

       PG::ConnectionBad: could not con

[2015-04-15 17:53] signallhill commented on #790
Found something in heroku that may be helpful

https://devcenter.heroku.com/articles/rails-asset-pipeline

[2015-04-16 00:09] devilankur18 commented on #790
+1

[2015-04-16 03:08] cantino commented on #790
Maybe our Rails upgrade broke the one-click.  If someone wants to take a look, it'd be appreciated, otherwise I'll get to it soonish.

[2015-04-16 03:47] cantino commented on #684
Good question.  Even with immediate propagation, we still call `Agent.async_receive` which makes a new delayed_job, so I wouldn't think so.  Did changing the pool size help at all?

[2015-04-16 03:48] cantino commented on #783
@dsander you haven't seen anything like this, right?

[2015-04-16 03:52] cantino commented on #789
Interesting.  Impressive how easy it is for the basic case.

What do you see as the main benefits of switching to sidekiq?  Does it do retries across restarts, etc., like delayed_job?

[2015-04-16 07:48] dsander commented on #789
I think sidekiq is not for everyone (not sure if you can run it for free on heroku) and you need to have redis running on you server, so it should always be optional.

The main benefit is concurrency even on the MRI. Most jobs will be IO bound and waiting for an external API or website which releases the GIL.

Sidekiq does handle retries, if you configure persistent storage for redis it will beek

[2015-04-16 07:50] dsander commented on #783
@cantino No, but maybe the liquid formatting we use is too basic?

@virtadpt Do you have an agent/scenario that fails and you can share?

[2015-04-16 12:55] space-pope commented on #684
To be honest, I've been down a different rabbit hole the past few days and hadn't really tested out that fix until this morning. It seems to be working just fine in my limited testing so far, but it does give me a bit of pause scalability-wise if I have to make sure my d/b connection pool stays larger than the number of agents that could potentially be running at any given time. I guess that makes

[2015-04-16 18:37] virtadpt commented on #783
I can share any of my scenarios - they all broke.  Let me pick out part of one for you...
[code]

[2015-04-16 19:21] dsander commented on #783
Hmm that is working without issues on my installation, I have a Twitter agent sending my a message via XMPP. Do you get failed jobs or an exception of any kind?

[2015-04-16 19:45] virtadpt commented on #783
Neither.  Just empty alerts via XMPP of the form
[code]

[2015-04-17 04:33] cantino commented on #684
It should just have to be larger than the number of threads + delayed_job workers.

[2015-04-17 04:44] cantino commented on #783
That is SO strange.  And nothing in the logs?

[2015-04-17 09:33] orymeyer opened #791 "Is OpenShift Deployment working?"
I tried to deploy on Openshift but unfortunately got the following error(truncated):

`remote: Mysql2::Error: Can't connect to local MySQL server through socket '/var/lib/mysql/mysql.sock' (2)
remote: /var/lib/openshift/5530c507e0b8cd2e54000174/app-root/runtime/repo/vendor/bundle/ruby/gems/mysql2-0.3.16/lib/mysql2/client.rb:70:in connect`

Full logs here:  http://pastebin.com/PwbhZm48

I followed

[2015-04-17 12:34] space-pope commented on #684
Well, based on the use of `async_receive`, `# of delayed_job workers = (# of receiving agents + # of timed schedules currently firing)`, right?

[2015-04-17 17:02] cantino commented on #684
Delayed_job runs a fixed number of workers that process events from the
queue, independent of the length of the queue.  If increasing the pool size
has fixed it, hopefully we were just slightly too low.

On Friday, April 17, 2015, Josh <notifications@github.com> wrote:

[2015-04-17 17:02] cantino commented on #791
Thanks for letting us know! I haven't tried it recently, so perhaps
something has changed.  I'll try to run it soon and see if I can debug.  If
you figure anything out, any fixes or info are appreciated!

On Friday, April 17, 2015, orymeyer <notifications@github.com> wrote:

[2015-04-17 17:22] signallhill commented on #791
@cantino I was also running huginn in OS could not update so tried heroku and that is also not working.
Not sure if this has anything to do with OpenShift rack1.6 because thats the error I got when upgrading or doing new install. Hope it helps.

https://bugzilla.redhat.com/show_bug.cgi?id=1180420

[2015-04-17 17:48] virtadpt commented on #783
Not that I can tell.  I can run some tests on Saturday, depending on how things go this morning...

[2015-04-17 20:11] cantino commented on #791
@dsander I thought we held this back?

[2015-04-18 04:02] virtadpt opened #792 ""Exception during receive. Event(#70191681695620) expected, got Event(#70191632320580):""
Instances of the Change Detect Agent appear to be working, but also throw exceptions of the form "Exception during receive. Event(#70191681695620) expected, got Event(#70191632320580):" along with the following stack trace:
[code]
These stack traces consistently appear in sets of five, one after another after another without any measureable delay (at least, from what I can tell from the Logs tab).

[2015-04-18 04:25] cantino commented on #792
Looks like this? http://stackoverflow.com/a/17667722/303661

We should get you running in production mode.

[2015-04-18 05:31] virtadpt commented on #792
It does, now that you mention it.

I'll do some research on that tomorrow.

[2015-04-18 05:51] cantino commented on #792
@dsander's suggestion of running just the delayed_jobs in production is
also a good one.

On Fri, Apr 17, 2015 at 10:31 PM, The Doctor <notifications@github.com>
wrote:

[2015-04-18 10:53] dsander commented on #791
@cantino If I remember correctly you created a openshift branch which still runs on rails 4.1, maybe we need to updated the documentation? I never deployed to openshift myself.

[2015-04-18 11:36] dsander commented on #790
I am getting ` !     Push rejected, failed to compile Multipack app`  which seems to be a known issue ddollar/heroku-buildpack-multi#49

[2015-04-18 17:03] cantino commented on #791
Right!  @orymeyer, could you try the https://github.com/cantino/huginn/tree/openshift branch?

[2015-04-18 19:01] virtadpt commented on #792
I can turn that back on.  Since rebuilding I've been using the default threaded.rb job runner.  It might also fix the "unauthorized" errors the Twiter agents have been throwing, possibly because they were exceeding the allowed CPS.

[2015-04-18 19:29] virtadpt commented on #792
In Procfile, disable the first "web" and "jobs" lines and re-enable the last four lines ("web", "schedule", "twitter", "dj")?  Possibly go back to two "dj" lines?
.env:
[code]
Run:
[code]
...and restart Huginn?  Does this sound about right?

[2015-04-18 20:26] dsander commented on #792
I have prepended `export RAILS_ENV=production; ` before each bundle exec call to start the background workers, but I am not 100% sure its needed.

If you do not have nginx or apache running in front of unicorn you might also need set `RAILS_SERVE_STATIC_FILES` to something in your `.env`

[2015-04-18 21:00] virtadpt commented on #792
I do have Nginx standing in front of it, serving static content and doing SSL termination (as well as HTTP Basic Auth for Huginn).

Is setting `RAILS_ENV=production` in .env not sufficient?

[2015-04-18 22:11] dsander commented on #792
It might be, but I did not test it.

[2015-04-19 01:04] virtadpt commented on #792
Testing the hypothesis I outlined above and using what I found here (http://stackoverflow.com/questions/13979760/rails-deploying-first-app-production-mode) did not work.  I've reverted to development mode.

[2015-04-19 04:09] orymeyer commented on #791
@cantino  Tried the openshift branch.Works perfectly now.Thanks!

You guys might as well update the documentation.And BTW, some amazing work you all are doing here.

[2015-04-19 16:48] wootwoot1234 commented on #774
@dsander I would would really love to see a ```Graph``` or ```VisualizationAgent```.

[2015-04-19 18:21] eliotsykes opened #794 "Request for how to update huginn in README"
I'm very sorry if the update instructions exist and I missed them!

I'm interested in running huginn though if there's one thing holding me back it's knowing how much overhead is involved in keeping my install up-to-date. I can take a guess but it'd be great if how to stay on top of huginn updates (e.g. when huginn's Rails version is updated) was documented in the README.

[2015-04-19 20:15] virtadpt commented on #794
If you're following the workflow described in README.md (section Getting Started -> Quick Start) it's documented in there:
[code]
However, I've found that it's a little more involved than that.  Here's my workflow for updating (again, following the Github workflow of forking the repo into my own account):
• rm log/development.log
• git fetch upstream
• git checkout master
• git merge upstream/mast

[2015-04-20 00:53] virtadpt commented on #792
To restore full functionality, I had to shut Huginn down and manually delete the public/assets/ directory before restarting because the menubar wasn't functioning correctly (specifically, drop-downs weren't working).

[2015-04-20 00:58] virtadpt commented on #783
I re-ran my tests - there is nothing in the logs that would suggest that an agent was throwing exceptions or anything like that.  I also updated my checkout to the latest commit from master/ and the same thing happened - Liquid templating stopped working, even when I injected crafted events into agent networks with ManualAgent.  I then stepped backwards in commits and tested each time, and it wasn

[2015-04-20 05:26] gissehel opened #795 "Basic huginn installation (threw docker) take 90% CPU all the time with 0 agent running"
With a basic installation docker based, the process threaded.rb takes 90% of CPU.

## Steps to reproduce
* Just launch `sudo docker run -d --name huginn cantino/huginn`
* use `ps`/`top`/`htop` on host to monitor processes (from hosts and from containers)
* Initialisation process and database migration doesn't take much CPU, then the main server and threaded.rb starts. One of the threads from threa

[2015-04-20 22:03] cantino commented on #795
@ianblenke, do you have any ideas about this?

On Monday, April 20, 2015, gissehel <notifications@github.com> wrote:

[2015-04-21 03:17] ianblenke commented on #795
Indeed, threaded.rb does seem to merrily spin. If I strace it, it seems to be constantly stat()ing "/etc/localtime" trying to discover the timezone. I can bypass that stat() check by specifying TZ=UTC+0, but that only kicks the can down the road to the real problem: a futex() is timing out - there is a ruby thread deadlock going on. Do we have some kind of resource contention between ruby threads

[2015-04-21 05:18] bruskiza commented on #769
HelloPeter.com and Twitter watching mainly for now. Huginn posts into Slack notifying us when the events occur and gives us a better view on what's going on.

Early days, but I'm liking very much.

Running on Heroku is a dream too, no hassles and good documentation.

[2015-04-21 09:57] MartinDelille commented on #769
Totally ok with @bruskiza !!! IFTTT concept was cool but having an opensource alternative is awesome!
Is there a list of compatible API?

[2015-04-21 14:36] cantino commented on #795
Weird.  @dsander, could this be Rufus?

On Monday, April 20, 2015, Ian Blenke <notifications@github.com> wrote:

[2015-04-21 21:54] dsander commented on #795
I can't really debug my docker container on OSX (boot2docker does not have strace installed and running strace inside the container is somehow not permitted), but it looks like the cause is Rufus.

Inside the container I changed `/tmp/foreman.sh` to call `exec sudo -u huginn -EH bundle exec rails runner bin/schedule.rb TZ=UTC+0` and that process is still consuming almost 100% of the cpu. When I ju

[2015-04-21 22:22] virtadpt opened #796 "Ability to kill multiple queued background jobs at a time."
It would be extremely useful to be able to kill multiple pending backgrounded jobs at a time to prevent storms of requests against other people's online assets.  For example, at this moment I have 2,349 pending tasks and I'd like to kill 2,000 of them without having to hand-hack the database or terminate them one at a time.

[2015-04-21 22:35] virtadpt commented on #796
For the record, here's what I did to keep from getting banned from every service I have Huginn watching:
[code]

[2015-04-22 04:21] ianblenke commented on #795
To run strace, start the container up as privileged:

[code]

Then get an interactive bash shell in that container process namespace:

[code]

You can now get strace:

[code]

Run top to find the pid of the ruby-2.1 process that is spinning:

[code]

With the pid, you can now strace it:

[code]

It is just this repeating over and over again:

[code]

You can cntl-c to stop that output.

My underst

[2015-04-22 21:19] dsander commented on #795
@ianblenke Thanks a lot for the detailed instructions! I was missing the `--privileged` option.

The PR fixes the issue with the rufus scheduler using a lot of CPU, do you think we still need to specify the `TZ` in the `Dockerfile`? I guess it would now still do the `stat` call, but less frequently.

[2015-04-22 21:37] dsander commented on #795
Build a new docker image with the PR applied and the strace is totally quiet, which is a good but not quite what I expected.

[2015-04-22 21:37] #795 closed

[2015-04-22 22:03] mrjcleaver commented on #740
I concur. Here's me finishing a vagrant deploy, reboot and finding the MySQL server had gone AWOL.

[code]

Then:
[code]
martincleaver@MartinCaversMBP:~/SoftwareDevelopment/huginn/deployment 17:47:08 600$ vagrant ssh
Welcome to Ubuntu 12.04 LTS (GNU/Linux 3.2.0-23-generic x86_64)

 * Documentation:  https://help.ubuntu.com/

183 packages can be updated.
97 updates are security updates.

New releas

[2015-04-22 22:09] mrjcleaver commented on #740
https://github.com/cantino/huginn/blob/master/deployment/site-cookbooks/huginn_production/recipes/default.rb#L106 is a useful reference point.

[2015-04-22 22:10] dsander commented on #783
@virtadpt I finally got the same bug! `Twitter alert from Lifeline: @ -` the strange thing is the events look almost the same: [working](http://pastie.org/private/ynttnjmt6nof8tsyjvmtg), [not working](http://pastie.org/private/ggvc6nnidoapt4094g1qda)

[2015-04-22 22:17] virtadpt commented on #783
Yes!  That's what I'm seeing over here!

[2015-04-22 23:11] alias1 commented on #740
https://github.com/alias1/huginn-chef May also be useful/relevant

[2015-04-22 23:45] virtadpt commented on #768
More crashes, usually after an hour to an hour and a half of uptime.  I'm monitoring in Screen and are comparing snapshots of the process list to see which subprocess is the one that tanks.  `[ruby] <defunct>` in the process list really isn't terribly helpful for debugging.

[2015-04-23 00:26] virtadpt commented on #768
After digging through last night's development.log file, I found the final exception before what appears to be the crash:
[code]

[2015-04-23 03:26] virtadpt opened #798 "Ability to run all queued background jobs simultaneously."
Sometimes if you've only got two or three pages of stuck jobs in the queue (sometimes with lots of retries racked up) it would be nice to be able to hit a button (or select a subset of them) and force them to execute simultaneously to get them out of the queue without having to delete them.

[2015-04-23 12:32] gissehel commented on #795
I confirm I can't reproduce the problem with the docker image.

[2015-04-23 15:58] virtadpt opened #799 ""A copy of TwitterStream has been removed from the module tree but is still active!""
The backgrounded jobs thread throws the following seemingly harmless exception every time the two minute scheduler runs:
[code]

[2015-04-23 17:07] eliotsykes commented on #794
Thanks for the details @virtadpt. The update process sounds reasonable and scriptable, so that's good news, thank you! :+1:

[2015-04-23 17:07] #794 closed

[2015-04-23 19:18] virtadpt commented on #783
Just tested.  Still happens on commit 55cb1d00d0574a5464ac183ee411b4aee297bdb4.

[2015-04-23 19:32] virtadpt commented on #783
Factoid - the event gets written into the database in a broken fashion:
[code]

[2015-04-23 20:31] dsander commented on #783
@virtadpt you are right, 3bb7f7a is the cause for the issues you are having. I am working on a solution that both works in development and production.

As a workaround you can run in production or set `config.cache_classes = true` in `config/environments/development.rb`

[2015-04-23 21:43] virtadpt commented on #783
Awesome!
When you're done, mind if I pick your brain on Gitter about how that breaks Liquid templating?  Is it because it's already been pulled in ("class Drop < Liquid::Drop") and pulling it in again puts it into an inconsistent internal state?

[2015-04-23 21:54] dsander commented on #783
To be honest, I have no idea why it broke stuff.  3bb7f7a was created to fix the 'previous definition of xDrop was here'  warnings which happened when you changed files in development and rails (tried?) to reload the classes.

I noticed the same issue you are having yesterday night for the first time and was able to reproduce it today by re-emitting an event twice after restarting huginn. I guess

[2015-04-23 21:55] dsander commented on #783
Oh by the way, you could try #771 which should fix the issue.

[2015-04-24 03:18] virtadpt opened #800 "Feature request: A page that lists all of the agents that are scheduled to run and when."
Agents that can be scheduled run at more or less set times: Every minute, every two minutes, every ten minutes, every thirty minutes... it would be useful if a page was added to the UI that the user could click a drop-down on to see what agents were scheduled to run in those time slots.  The UX dialog would go something like this: "Show me all of the agents (which I can click on to go right to the

[2015-04-24 03:20] alias1 commented on #800
Sounds pretty useful

—
Sent from Mailbox

On Fri, Apr 24, 2015 at 1:18 PM, The Doctor <notifications@github.com>
wrote:

[2015-04-24 03:40] stvnrlly opened #801 "peak detector: minimum datapoints"
In some cases, I'd like to let the Peak Detector Agent gather data for a little while before attempting to identify peaks. This would be useful when the agent is doing something like powering a Twitter account, to avoid early false peak reports.

[2015-04-24 03:45] stvnrlly opened #802 "ability to erase memory"
In some cases, it's useful to reset an agent's memory, for example restarting a Deduplication Agent from scratch. I don't think there's any way to do this now.

[2015-04-24 03:47] virtadpt commented on #801
Hear, hear!  Oh gods, hear hear...

[2015-04-24 03:48] virtadpt commented on #802
I don't think it's possible, either, and deleting events isn't the same thing.  That would be handy (as handy as deleting an agent's logs).

[2015-04-24 11:54] stvnrlly commented on #801
This might be as easy as allowing an option to set the minimum value here: https://github.com/cantino/huginn/blob/master/app/models/agents/peak_detector_agent.rb#L63.

[2015-04-24 12:11] stvnrlly commented on #801
It might also be possible to distinguish between high-volume streams where gathering more data before detecting is useful and low-volume streams where smaller variations are more noteworthy. This could be done by calculating how long ago the 4th-most-recent event occurred before determining whether to use the high or low minimum.

[2015-04-24 15:44] virtadpt opened #804 "WeatherAgent throws "Exception during check. User(#70289704464880) expected, got User(#70289757252520)" exceptions and refuses to run."
I've isolated the source of the "Exception during check. User(#70289704464880) expected, got User(#70289757252520)" exceptions - it's WeatherAgent, and it crashes entirely and will not run.  I'm running HEAD on a fresh checkout, and it's the same if I manually apply the patches mentioned in comments in issue #771 or not.  Here's the stack trace:
[code]

[2015-04-24 15:48] virtadpt commented on #804
The same thing happens with the TwitterUserAgent (same stacktrace), and RSSAgent (ditto).  If I run them manually (Actions -> Run) they seem to operate normally... most of the time, anyway.

Looking at the stack traces, I think app/models/agent.rb:437:in `async_check' is where the problem might be creeping in.

[2015-04-24 16:47] virtadpt commented on #783
After another scheduler crash last night, I'm trying it on a new checkout right now.

[2015-04-24 17:56] virtadpt commented on #783
Applying the suggested changes in #771 while running HEAD on a new checkout definitely fixed Liquid.

[2015-04-24 18:15] signallhill opened #805 "WebsiteAgent URL help"
The website agent instruction has the following and I need help how its done

"url can be a single url, or an array of urls (for example, for multiple pages with the exact same structure but different content to scrape)"

Can someone give an example of "array of urls"

[2015-04-24 18:22] virtadpt commented on #805
[code]

[2015-04-24 18:25] signallhill commented on #805
Thank you.

[2015-04-24 18:25] #805 closed

[2015-04-24 21:41] dsander commented on #804
Is it possible that you have one of the your background workers or the application itself running on different versions of the code? For example a processes did not stop properly and is still running.

[2015-04-24 23:07] virtadpt commented on #804
It's possible but unlikely.  I was running from a brand-new checkout of cantino/huginn/ yesterday after a reboot of the server.  I don't autostart Huginn.

[2015-04-25 04:15] cantino commented on #796
Like, a "kill all queued jobs" button?

[2015-04-25 04:16] cantino commented on #769
Thanks for the info @bruskiza!  Are you paying for the Heroku hosting, or using the free plan?  I heard that sometimes the free plan goes to sleep and stops receiving events.  Has that happened to you?

@MartinDelille, you can look at the list of Agents in app/models/agents, or see the wiki.

[2015-04-25 04:28] cantino commented on #795
I just got back from a trip to RailsConf.  Thank you @ianblenke d n @dsander for your hard work diagnosing and fixing this!

[2015-04-25 05:37] virtadpt commented on #796
Yes.

[2015-04-25 05:39] virtadpt commented on #796
Or checkboxes that could be used to select jobs (including a "select everything on this page" checkbox) that could be used to select subsets of queued jobs to kill them.  Or both.

[2015-04-25 12:03] cantino commented on #790
I have a fix for this, deploying shortly.

[2015-04-25 12:28] cantino commented on #790
Okay @signallhill  and @devilankur18, this should be fixed now.  I'd appreciate if someone could test it.  It looks like Heroku stopped auto-provisioning their postgres addon, so I added

[code]

to the app.json config and

[code]

to `bin/setup_heroku`.

[2015-04-25 14:29] dsander commented on #799
Fixed by #806

[2015-04-25 14:29] #799 closed

[2015-04-25 14:31] dsander commented on #783
Fixed by cfe8482c0d6eca95e7324aa266caacccc4ffd46f

[2015-04-25 14:31] #783 closed

[2015-04-25 14:45] dsander commented on #790
New deployment worked like a charm :+1:

[2015-04-25 16:30] cantino commented on #790
Thanks!

[2015-04-25 16:30] #790 closed

[2015-04-25 19:04] virtadpt commented on #804
I got a clean run last night through the scheduler.  I've just done a `git pull` to merge in the last couple of commits so we'll see what happens.

[2015-04-25 19:23] virtadpt opened #807 "jsonpath v0.5.6 doesn't deal with empty strings well."
In JSON documents having an empty string ( "" ) is considered valid, for example:
[code]
However, the jsonpath gem drops the following stack trace when it sees empty strings:
[code]
All things considered this seems pretty harmless but it can also make it difficult to isolate bugs in other agents running at the same time.  What if there was a way (and there may not be - ECANTFIX is fine) to turn of

[2015-04-25 20:02] virtadpt commented on #783
Looks good!

[2015-04-25 20:57] cantino commented on #804
:crossing fingers:

[2015-04-25 20:58] cantino commented on #807
Really?  What's the json path you're using?

[2015-04-25 21:03] cantino commented on #791
I've added a comment on https://github.com/cantino/huginn/wiki/Run-Huginn-for-free-on-OpenShift

[2015-04-26 02:24] virtadpt commented on #804
Let you know tomorrow when that agent fires again.

[2015-04-26 02:25] virtadpt commented on #807
For the following JSONpath, if there has been no transaction the strings are empty:
[code]

[2015-04-26 02:39] #802 closed

[2015-04-27 04:37] virtadpt commented on #804
Nope.  32 failed jobs, all this this error.

[2015-04-27 05:29] virtadpt commented on #804
Another 8 failed jobs, including one that immediately failed with the same message when I clicked the retry button on the Background Jobs page.  I'm switching to the older version with separate processes to see if it makes a difference.

[2015-04-27 06:54] dsander commented on #804
When you switch versions, do you also switch the database? If not, do or did you have two different versions running at the same time?

[2015-04-27 17:43] virtadpt commented on #804
By "switching to the older version" I mean the part of huginn/Procfile with the comment "Old version with separate processes..." instead of the threaded worker.  The separate process worker model instead of the newer multi-threaded model.  Is there something in the database that has to be frobbed to make this work more reliably?

For what it's worth, the threaded worker ran for something like 33 h

[2015-04-27 21:06] dsander commented on #804
Gotcha, I thought you meant a different version of huginn. You do not need to change anything in the database, switching the processes in the `Procfile` like you described should be enough.

It just hung, or died due to an exception?

I don't think that is possible, the event is stored as a JSON blob in the database, afaik we never serialize a object into the database. The initial exception is rea

[2015-04-27 21:40] virtadpt commented on #804
It appeared to have hung.  Scouring the development.log file around the time it appeared to have done so (based upon the time of the last jobs executed) I didn't find any exceptions or stack traces.

While doing some research on this problem last night, I found a few threads on Stackexchange talking about similar problems, and for some of the solved threads it was due to the user's code expecting

[2015-04-27 22:00] dsander commented on #804
Can you change your `config/environments/development.rb` to have `config.cache_classes = true`? That way we can eliminate code reloading as the cause for the initial issue.

[2015-04-27 22:20] virtadpt commented on #804
Done, and I've just bounced Huginn.  Let's see what happens.

[2015-04-28 10:30] vintz opened #810 ""hostname does not match the server certificate" error when sending mail"
When trying to send a mail via huginn on my (personal) mail server, i always get this error:
[code]

[2015-04-28 10:33] vintz commented on #810
Here is the SMTP_AUTHENTICATION part of my .env

[code]

[2015-04-28 11:25] dsander commented on #810
That's odd, can you try to set `SMTP_DOMAIN` to `mail.geekmachine.info`?

[2015-04-28 11:35] vintz commented on #810
I tried it and the result is the same.

[2015-04-28 11:57] dsander commented on #810
Does running `openssl s_client -connect mail.geekmachine.info:25 -starttls smtp` on your huginn server output `Verify return code: 0 (ok)`?

[2015-04-28 11:59] vintz commented on #810
Good pick. The output is ```Verify return code: 20 (unable to get local issuer certificate)```

Any idea what I should do?

[2015-04-28 12:05] dsander commented on #810
Which unix distribution are you using? Debian derivatives have a `ca-certificates` package which you might need to upgrade.

[2015-04-28 12:19] vintz commented on #810
I'm on a Debian. And my ca-certificates package is up to date.

28 avril 2015 14:06 "Dominik Sander"  a écrit:
	Which unix distribution are you using? Debian derivatives have a ca-certificates package which you might need to upgrade.

	—
Reply to this email directly or view it on GitHub (https://github.com/cantino/huginn/issues/810#issuecomment-97037643).

[2015-04-28 14:47] dsander commented on #810
First I tested it from OSX which worked, but I am getting the same result like you do on an ubuntu server. The problem seems to be the missing the [intermediate](https://wiki.gandi.net/en/ssl/intermediate) certificate. If you do not have control over the mailserver you can change the [smtp.yml](https://github.com/cantino/huginn/blob/master/config/smtp.yml#L26) file and add

`openssl_verify_mode: n

[2015-04-28 15:37] vintz commented on #810
I just tried to add ```openssl_verify_mode: none``` and it doesn't work. I've got the same error message.

I tried to add the missing intermediate certificate to my mail server and the error message keep happening.

[2015-04-28 16:05] dsander commented on #810
I am now getting `21 (unable to verify the first certificate)`, it's strange that the òpenssl_verify_mode` setting does not work.

[2015-04-29 04:07] cantino commented on #791
So, unfortunately, I'm having trouble getting OpenShift to work now with `bin/setup_openshift`.  They seem to have changed something and it won't connect to mysql.  I'm wondering if we should drop support for OpenShift since we have Heroku and Docker?

[2015-04-29 04:17] #792 closed

[2015-04-29 04:22] cantino commented on #768
Is this fixed for you now?

[2015-04-29 05:43] virtadpt commented on #804
It's been slightly over 24 hours and after making that change, @dsander, Huginn hasn't hung up, locked up, crashed, gone into a coma, or done anything else weird.

[2015-04-29 06:14] cantino commented on #810
Seems like it would work -- https://github.com/rails/docrails/commit/a1639ad7524127be0a9e9398dc2ccc8c6629adee -- unless there error is in the mail server?

[2015-04-29 06:20] cantino commented on #804
Seems like we need to get you running Huginn in production mode.

[2015-04-29 06:51] vintz commented on #810
The problem is more than probably in the mail server. I'm trying to reconfigurate it from scratch to find my mistake.

[2015-04-29 07:38] dsander commented on #804
@virtadpt Nice!

@cantino I have been thinking about writing an installation guide like [gitlab](https://github.com/gitlabhq/gitlabhq/blob/master/doc/install/installation.md) has, but am a bit worried about maintaining another 'official' way to install huginn.

[2015-04-29 07:39] dsander commented on #791
I never personally used it, we could mark the OpenShift deployment as broken until someone has the time and motivation to fix it out, or OpenShift supports rails 4.2

[2015-04-29 09:02] vintz commented on #810
Just for information: i tried to send via smtp.gmail.com and I have the same error message.
I can't find anything wrong.

[2015-04-29 16:44] signallhill commented on #791
I am actually switched to heroku. It is far more easier to use for novice like me too.

[2015-04-29 19:40] virtadpt commented on #768
I haven't seen it in a week's time, so yes, I think it is.  Feel free to close out.

[2015-04-29 19:43] virtadpt commented on #804
@cantino, I'd like to do that so I can document it for everybody else.  My attempts in doing so have not been fruitful at all and I really don't know what I'm doing wrong.  I'm also thinking that making `config.cache_classes = true` the default for development mode might be a good idea.

@dsander Huginn isn't nearly as wiggy as Gitlab is to install and maintain.  I mean... geez, looking over that

[2015-04-30 04:31] cantino commented on #810
Oh weird.  Perhaps something odd with your system...?  But setting `openssl_verify_mode: none` in all sections of the yaml really should work.

[2015-04-30 04:38] cantino commented on #768
Awesome!

[2015-04-30 04:38] #768 closed

[2015-04-30 04:39] cantino commented on #791
Agreed.  What do you think is the best way to mark it, @dsander?

[2015-04-30 04:40] cantino commented on #804
We could remove some of the other guides?

[2015-04-30 07:02] vintz commented on #810
Thank you for your help. I found a workaround (a php webservice to send email). I'll try to resolve the problem when I'll have more time for it. For now, the problem is "solved"

[2015-04-30 07:02] #810 closed

[2015-04-30 07:58] dsander commented on #791
Adding a note on the [wiki](https://github.com/cantino/huginn/wiki/Run-Huginn-for-free-on-OpenShift) linking to the openshift [issue](https://bugzilla.redhat.com/show_bug.cgi?id=1180420) stating they do not support rack 1.6 should be enough for now?

[2015-04-30 08:31] flechaig commented on #769
@cantino : I use Heroku free plan since a few days and haven't noticed any sleep or shutdown.

[2015-04-30 13:40] joshuataylor opened #811 "There is a version mismatch between the spring client and the server."
`21:40:33 web.1  | started with pid 29056

21:40:33 jobs.1 | started with pid 29057

21:40:33 jobs.1 | There is a version mismatch between the spring client and the server.

21:40:33 jobs.1 | You should restart the server and make sure to use the same version.

21:40:33 jobs.1 |

21:40:33 jobs.1 | CLIENT: 1.3.4, SERVER: 1.3.2

21:40:33 jobs.1 | exited with code 1

21:40:33 system | sending SIGTERM

[2015-04-30 13:49] dsander commented on #811
`bundle exec spring stop` should do the trick

[2015-04-30 15:09] cantino commented on #769
Good to hear!

[2015-04-30 15:09] #769 closed

[2015-04-30 15:31] cantino commented on #791
Good call.  Done!

[2015-04-30 15:31] #791 closed

[2015-04-30 16:26] nerdbaggy commented on #390
Any update on this? I have some code that I have used for a previous project that would help a lot with this.

[2015-04-30 20:21] cantino commented on #390
We need someone to spearhead the effort.  It would be a significant contribution to Huginn!

[2015-04-30 21:18] MartinDelille commented on #353
Is there a plan for google+ agent?

[2015-05-01 07:21] knu commented on #353
@MartinDelille Not currently on the list, but you could ask us to add one.  Can you share the use cases in your mind?  IIRC, Google+ API is basically read-only.  Is that still the case?

[2015-05-01 11:39] nerdbaggy commented on #390
I can definitely spearhead it! Is the draft specification still relevant from what you guys are looking for? Commit c7cd070

[2015-05-01 14:51] joshuataylor commented on #811
:+1:

Thanks @dsander !

[2015-05-01 14:51] #811 closed

[2015-05-01 20:48] cantino commented on #390
That'd be great @nerdbaggy!  At this point, I think we should start as simple as possible.  We already have Scenarios in Huginn, which are exportable as JSON structures.  Here is a possible roadmap:

* Develop community site for sharing Scenarios.
* Allow Huginn Scenarios to be subscribed from the community site (they can already be subscribed and updated from another Huginn instance.)
* Allow Hug

[2015-05-02 13:15] nerdbaggy commented on #390
Got it! Will start working on it!

[2015-05-02 19:19] cantino opened #813 "Upgrading Scenarios"
Currently, Huginn Scenarios contain a set of Agents.  They are much like tags, in that an Agent can be “in” many Scenarios at once, and the Scenario serves mostly as a label and as a means of import and export.  There are a couple of things that currently make Scenario reuse challenging.

First, it’s challenging to share and reuse Scenarios because they are not variablized, meaning that if I make

[2015-05-02 20:38] virtadpt commented on #813
"Agents can no longer be in multiple Scenarios at the same time."

Hear, hear.  If one doesn't keep a close eye on which scenario an agent needs to go in (I've adopted the convention of putting "<scenario> - " in front of each agent's name) it's easy for them to wind up someplace unexpected, which makes debugging suck.

"Options"

This would be useful, sort of like a subset of the Credentials expo

[2015-05-02 22:44] cantino commented on #807
Which extraction is blowing it up?

[2015-05-02 23:41] alias1 commented on #813
Overall sounds like good ideas to me.

I like the idea of the scenario as a whole being a 'black box' with defined inputs/outputs. I think there would be a lot more value in subscribing it to inputs if they had a 'type' though (eg. EventDomain/EventType I talked about a while back)

Displaying on the graph as a single node, but with the ability to 'inspect' it and see it's inner agents is a good i

[2015-05-03 01:35] alias1 commented on #813
Overall sounds like good ideas to me.

I like the idea of the scenario as a whole being a 'black box' with defined inputs/outputs. I think there would be a lot more value in subscribing it to inputs if they had a 'type' though (eg. EventDomain/EventType I talked about a while back)

Displaying on the graph as a single node, but with the ability to 'inspect' it and see it's inner agents is a good i

[2015-05-03 05:55] virtadpt commented on #807
All of them.  If there are no recent transactions, the value of every key in "extract" will be empty (i.e., "").

[2015-05-03 08:51] virtadpt commented on #813
One thing: It would be handy for scenarios to some space set aside in the JSON document for internal documentation or arbitrary text, explaining what it was used for, maybe with some versioning or licensing information.

[2015-05-03 09:29] dsander commented on #813
This sounds like a great idea.

Shouldn't that something the user decides? I find it handy to have a source agent in multiple scenarios which contain the agents that are 'processing' the events the source emits.
I could move the source agent out of the scenario, but that would mean an export of the scenario would miss the source agent. If I move the processing agents into one scenario I would end

[2015-05-03 18:06] virtadpt commented on #748
I haven't seen this happen in a couple of weeks, this might be a done deal.  Anybody else?

[2015-05-03 18:11] virtadpt commented on #637
I haven't had this problem for a couple of months, so I'm wondering if it wasn't problems on Slack's side of things.  At work some other code was having difficulty with Slack integration if I recall correctly, so this might not have been a bug in Huginn at all (though an error message instead of a stack trace would have been better UX - "{{agent.name}} was unable to resolve the hostname of the Sla

[2015-05-03 18:14] virtadpt commented on #781
It doesn't seem to happen in Chromium.
![editor_fail-chromium](https://cloud.githubusercontent.com/assets/639730/7446191/8687c7f4-f185-11e4-8a0e-af67ac718be8.jpg)

[2015-05-03 19:32] cantino commented on #804
I'd like to close this issue.  @dsander, do you want to start a new issue for a potential guide?

[2015-05-03 19:34] cantino commented on #789
Given @knu's comments, is this still something you think we should do?

[2015-05-03 19:34] cantino commented on #781
Someone could try upgrading ace.

[2015-05-03 19:35] #765 closed

[2015-05-03 19:36] cantino commented on #763
Did you solve this issue?

[2015-05-03 19:36] cantino commented on #761
Did you solve this issue?

[2015-05-03 19:36] #759 closed

[2015-05-03 19:37] cantino commented on #745
Is this still happening for you?

[2015-05-03 19:49] dsander commented on #789
I would like to give it a try, but considering the unknown amount of work I have put it on hold right now

[2015-05-03 19:59] dsander commented on #804
Sure, will do once I have a rough sketch.

[2015-05-03 20:42] virtadpt commented on #745
I haven't gotten that exact stack trace lately, but I did get this one two days ago:
[code]
It's been so infrequent I'm not sure it's worth keeping this ticket open.

[2015-05-04 01:38] virtadpt opened #815 "Protecting Huginn with HTTP auth breaks Twilio integration."
When using the Twilio agent to interact with the outside world, putting Huginn behind a web server which implements HTTP Basic Auth breaks inbound interaction from Twilio's API server.  For example, sending a text message to an agent network results in the following error at Twilio:
[code]
Is there a way to work around this such that Twilio's API server can send incoming events while still prevent

[2015-05-04 13:58] signallhill commented on #765
Hi Is this now implemented in public master?

[2015-05-04 14:46] stvnrlly commented on #765
Not fully. I was going to make the option a little milder and more configurable, as we discussed on the pull requests: https://github.com/cantino/huginn/pull/808. I should be able to get to that this week.

What's in the pull request now does work, though, if you'd like to merge that and have me submit an new pull request with the revision.

[2015-05-04 14:47] stvnrlly commented on #765
@signallhill Not yet. There's still one more change to be made to make the option more configurable: https://github.com/cantino/huginn/pull/808.

[2015-05-04 14:49] signallhill commented on #765
Thanks. This is very useful update. I will follow #808.

[2015-05-04 20:29] dsander commented on #815
Doesn't the invitation code offer enough 'protection'?

You could try `https://username:password@exocortex.virtadpt.net/`.

[2015-05-04 20:34] virtadpt commented on #815
I don't know.  I set it up at the advice of @cantino.

Hmmm...  I'll try that.

[2015-05-05 02:06] virtadpt commented on #804
This is an interesting development - after updating to 8e361f8d594aec7db8b993b700cd3864be68720c 32 hours ago, I've got a queue of 310 background jobs and climbing and I'm not sure what happened.  I'm using the threaded scheduler in development mode, and I have `config.cache_classes = true` set in config/environments/development.rb.  Judging by when the single failed task was logged, it happened ab

[2015-05-05 02:47] virtadpt commented on #804
AnsiEsc (http://vim.sourceforge.net/scripts/script.php?script_id=302) is indeed life-changing.  Check this out (slightly reformatted):
[code]
Up to 944 queued jobs and nothing's running.  After that exception was thrown, the rest of the log file is full of these:
[code]
I don't know if that's relevant or not, but there are so many of them they look like they could be useful.

[2015-05-05 04:27] virtadpt commented on #804
So, I think I figured out what happened.  The web service I was hitting with WebsiteAgent was broken and throwing a nonstandard error (`"error": "Cannot read property '_connected' of undefined"`).  WebsiteAgent was hanging for its maximum runtime of 1200 seconds.  The agents in question fire every ten minutes so they kept piling up and piling up and piling up... because the agent went into retry m

[2015-05-06 22:17] stvnrlly commented on #801
I actually have this coded, but just did a bad job of putting it on its own branch. Once #808 is merged, I'll package that code into a new pull request.

[2015-05-07 04:11] cantino commented on #815
@dsander Since he was running in development mode, I encouraged him to put the site behind basic auth in nginx.  Rails in development is fairly insecure (interactive debug consoles, error logs, etc.).

[2015-05-07 04:18] cantino commented on #748
I never saw it happen.  I suspect it was a Linux issue?

[2015-05-07 04:21] cantino commented on #804
You could certainly reduce the maximum `delayed_job` running time in `config/initializers/delayed_job.rb`, and / or variables it with an `ENV` variable set in `.env` and send a PR.

That's very odd that the website agent would be hanging, though, unless the remote service wasn't closing the connection?

[2015-05-07 04:27] cantino commented on #745
@knu, what does it mean if the `@client` fetch of `BODY.PEEK[]` returns nothing on the `BODY[]` attr?  Should we just ignore this and retry?

[2015-05-07 11:29] knu commented on #745
Hmm, I'm not sure.  Probably the agent found a text file created in the folder which could not be parsed as a mail.

[2015-05-07 14:00] gtramontina commented on #813
I think I like this idea of scenarios being more like a blackbox too...

A few things/questions that come to my mind (I couldn't read the whole thread yet, so forgive me if anything here has been mentioned already):

1. "Agents can no longer be in multiple Scenarios at the same time." – to be clear, are we talking about agent _instances_? If they really can't be in multiple scenarios at the same t

[2015-05-07 17:20] cantino opened #817 "New Heroku pricing breaks Huginn?"
It looks like the free plan will no longer support Huginn.

https://blog.heroku.com/archives/2015/5/7/new-dyno-types-public-beta

[2015-05-07 18:15] virtadpt commented on #748
Probably.  There were at least three pull-and-merges in between when that was happening and when I stopped seeing it.

[2015-05-07 19:17] cantino commented on #748
Glad to hear it!

[2015-05-07 19:17] #748 closed

[2015-05-07 20:27] cantino commented on #817
We'll keep an eye on it and see if stuff starts to break.

[2015-05-07 20:27] #817 closed

[2015-05-07 20:56] virtadpt commented on #804
destroy_failed_jobs could also be set to 'true', so if they error out and are marked as failed, they'll be purged from the list of jobs in the queue.

I did some digging, and it's a little more exotic than that.  The web service that my WebsiteAgents were hitting was online and responsive.  However, the web service relies upon three other web services run by other parties.  One of them was unrespo

[2015-05-09 04:35] ZucchiniZe opened #818 "The new heroku free dyno"
The new heroku free dyno (https://blog.heroku.com/archives/2015/5/7/heroku-free-dynos) allows you to have 1 web and 1 worker process, but the web dyno can only stay awake for 18 hours of that day. Currently there is now way to force the new free dyno in the app.json.

Are we going to stick with the traditional free dyno or suggest users switch to the new free dyno?

[2015-05-09 16:52] cantino commented on #818
That's a great question.  Do you know if the `app.json` is still using the old one at the moment?

I'm also going to get in touch with Heroku and discuss options.

[2015-05-09 23:32] ZucchiniZe commented on #818
Just checked and the `app.json` still uses the traditional dyno.

[2015-05-12 17:25] benjsing commented on #353
I just installed huginn for the first time and am playing around with it. An instagram agent would be great :)

[2015-05-13 01:08] cantino commented on #353
That'd be a great contribution if someone wants to build it! :smile:

[2015-05-15 14:38] signallhill opened #823 "WebsiteAgent Suggestion"
The website agent is great, but I see when there is unequal number of extracted data then it does not work.

Wanted to suggest if it could be updated to allow empty as part of the result if it does not find equal number of result. Just have "Empty" or "No result" to fill the gaps.

[2015-05-15 16:03] cantino commented on #823
I understand why you would want that. The challenge is that it's hard to do
unless you have a container element that is always present. We could add a
container selector that must always be present, and then a list of optional
sub selectors that are optional.

Can you provide a good example of a problem that you're trying to solve, to
see if this would work?

On Friday, May 15, 2015, signallhill <

[2015-05-15 20:44] virtadpt commented on #823
Do the contents of ticket #807 match what you're seeing, @signallhill?

[2015-05-17 15:01] benjsing commented on #353
Thanks @cantino
I am just getting into huginn, so it might be a while... but if I can figure out how to implement the instagram api, I will.

[2015-05-17 19:13] e-alfred opened #824 "foreman quits without starting server"
Hello,

if I follow the novice guide (installed ruby using rvm) an then try "foreman start", I get this:

[code]

If I try to start ruby console in the huginn directory I get this:

[code]

My versions are:

[code]

I cloned Huginn today, if that matters.

[2015-05-17 22:26] cantino commented on #824
Hey @e-alfred!  Could you try `bundle exec foreman start` and see if that works better than just `foreman start`?

[2015-05-17 22:29] liquiddandruff commented on #489
Installed the heroku + ruby environment and most of the bundles until I checked out the setup script... oh the woes of using windoze

[2015-05-17 23:50] cantino commented on #489
Were you able to get it working @liquiddandruff?

[2015-05-18 00:53] liquiddandruff commented on #489
Like @knu mentioned the setup script would be straight forward to get working (using where.exe instead of which for one), but I gave up and got it going on my linux machine instead since I still needed to build the mysql bundle from source.

[2015-05-18 05:36] e-alfred commented on #824
Hello,

```bundle exec foreman start``` gives me that:

[code]

[2015-05-18 16:17] cantino commented on #824
What kind of computer / OS are you on?

On Sunday, May 17, 2015, e-alfred <notifications@github.com> wrote:

[2015-05-18 18:49] e-alfred commented on #824
It is Ubuntu 14.04.2 on a Virtualbox VM.

[2015-05-18 19:53] cantino commented on #824
That's so strange.  You ran `bundle` before this?  You didn't restrict to only some bundler groups or something, I assume?

[2015-05-19 15:36] signallhill commented on #823
Yes, I will follow 807

[2015-05-19 15:36] #823 closed

[2015-05-19 18:49] sea-grass opened #826 "Could not find a valid mapping for path "/auth/twitter/callback""
I created an app in Twitter and set the callback to http://my-server:3000/auth/twitter/callback and copied my API KEY and SECRET in my .env file. When I go to /services and Authenticate with Twitter, I enter my credentials and am redirected to a RuntimeError page with the following error message:

`Could not find a valid mapping for path "/auth/twitter/callback"`

[2015-05-20 05:44] cantino commented on #826
Hey @sea-grass, welcome to the project!

Would you be able to share how you put the key and secret in your .env file?  Just replace some of the key and secret with xxxxxxx to keep it secure.

[2015-05-20 13:47] sea-grass commented on #826
Thanks @cantino! Sure thing.

The key and secret in my .env file look like this:

[code]

[2015-05-21 03:50] cantino commented on #826
Very odd, that looks fine.  Things that come to mind:

1. Are you using `bundle exec foreman start`?
1. Have you commented out anything in the Gemfile?
1. Did you follow [these instructions](https://github.com/cantino/huginn/wiki/Configuring-OAuth-applications)?
1. If you run `bundle exec rails c` and then type `OmniAuth::Strategies::Twitter` at the console, does it give an error? (Exit with `exit

[2015-05-22 02:22] sea-grass commented on #826
Thanks for the directions. I am new to ruby so I don't know where to start debugging it.

1. Yes
2. No
3. Yes
4. I ran `bundle exec rails c` but it kept hanging while it was loading, so following this [answer](http://stackoverflow.com/a/25172613) on SO, I was able to enter the ruby console by running `bin/spring stop` first.

This is my interaction with the console:
[code]
No error as far as I can

[2015-05-22 05:12] cantino commented on #826
After having stopped spring, does Huginn work any better?

On Thursday, May 21, 2015, Chris Grass <notifications@github.com> wrote:

[2015-05-22 10:09] knu commented on #510
Dotenv has successfully been upgraded to 2.x in 90ff0afd.

[2015-05-22 10:09] #510 closed

[2015-05-22 11:47] kokotchY opened #828 "Agent with DropboxConcern doesn't seems to receive events"
I'm trying to setup Dropbox agents, but it doesn't seems to work.

None of the 2 provided agents (dropbox_file_url_agent and dropbox_watch_agent) doesn't seems to receive events. I've tried to develop my own agent to upload some file, but it didn't receive any event neither.

I have created a simple agent, and it's working, the log messages are displayed:
[code]
[code]

After a bit of investigatio

[2015-05-22 20:38] trenkert commented on #353
I just installed huginn. An emacsclient agent would be great. The agent could place an orgmode agenda entry for emails of wheather alarms...

[2015-05-23 22:04] cantino commented on #828
Hey @kokotchY, welcome to the project!  Sorry this isn't working.

Including the `DropboxConcern` primarily adds a dependency on having a Dropbox service configured.  Have you setup Dropbox credentials in your .env file and added a Service for it?

@gtramontina may have other suggestions as well.

[2015-05-23 22:08] cantino commented on #353
That'd be interesting @trenkert.

[2015-05-23 22:19] cantino commented on #807
@virtadpt, what URL is that JSONPath fetching?  I'd like to try it locally.  Maybe you could give me the Scenario JSON?

[2015-05-24 11:33] kokotchY commented on #828
Hello @cantino ,
My dropbox service is configured in .env. I can see it in the services tab (and my name is associated to it, so the communication between huginn and dropbox was working at start).

I might then be the dropbox dependencies not available, but it seems that they are installed:
[code]

[2015-05-24 16:50] cantino commented on #828
It's odd that you're not seeing any error logs in the console or in the agent logs on the /agents/NUM page for each agent.  (You're looking at both, right?)

Are you using `bundle exec foreman start`?

Try temporarily editing your DropboxConcern and changing the gem_dependency_check to

[code]

and look for that in the logs.  Both `true`?

You could also run `bundle exec rails c` and `Agent.find(N

[2015-05-24 16:51] #779 closed

[2015-05-25 11:08] knu commented on #592
Cool!  How about a version for iPhone/iPad that fits in a rounded square?

[2015-05-25 19:22] kokotchY commented on #828
I've checked the logs for both agents and the output is more or less the same when viewing the page.

I'm using ```bundle exec foreman start``` to start the application.

After adding the debug inside DropboxConcern, I'm receving the expected output:
[code]

Next, I've tried to remove the dropbox service and re-add it... but it was more difficult than expected.
It seems that I need to be disconnec

[2015-05-26 22:17] virtadpt commented on #807
The scenario JSON is a couple of megabytes in size, so getting it to you will be problematic.  However, here is a URL that triggers this bug on a semi-reliable basis: https://api.ripple.com/v1/accounts/rrrrrrrrrrrrrrrrrrrrBZbvji/payments

[2015-05-26 22:23] virtadpt commented on #828
You're not the only person it happens to - I've never gotten the Dropbox agents to work, so I use an RSSagent to monitor my Dropbox share for changes.  I don't think I've seen anything in the logs, either, but arranging some tests to see what happens won't be difficult.

[2015-05-27 03:32] cantino commented on #828
I'm glad you were able to get it working @kokotchY.  I think we've definitely learned from this that the Dropbox integration is brittle.

I wish I know how best to output error logs for this.  Maybe there's a way to tell `Dropbox::API::Client` to output more verbose logs.

[2015-05-27 04:18] cantino commented on #807
Haha, so after playing with this for like 45 minutes, I realized you need to use `path` instead of `value`. :hamster:

#831 should prevent this in the future.

[2015-05-27 18:37] virtadpt commented on #807
When I have time I'll update my install and give it a spin.

[2015-05-28 04:57] cantino commented on #807
@virtadpt You can just switch your usage from `value` to `path` now and it should work.  My addition is just a validation.

[2015-05-28 22:08] spdustin opened #832 "Should validation of agent config go thru JSON Schema?"
I've been giving some thought to how Huginn currently checks that an agent's config is valid, and it seems like it's too fragile, and would require over-work to validate common scenarios (since there's no agreed-upon validation methodology). JSON Schema seems like a good fit to validate agent configuration, and may enable a GUI-based config for agents that supply a JSON Schema for their config opt

[2015-05-30 05:12] willyg302 commented on #592
Sure thing! I'll make a PR and post some mockups by the end of the weekend.

[2015-05-30 19:38] willyg302 commented on #592
Done in #833! Mockup:

![huginn-mockup](https://cloud.githubusercontent.com/assets/2390474/7899027/bf360216-06c8-11e5-8098-9e85a966ca78.png)

[2015-06-01 13:45] flechaig opened #834 "In DataOutputAgent, enclosed media cannot be output"
I have a source RSS feed that I want to filter before importing it in my favorite Podcast Player on Android. The issue is that I can't add attributes to entries in the xml output of an item. This is the output I want to be able to achieve :

[code]

Look at the "enclosure" line : it has 3 mandatory attributes to link to the content.
How to achieve that ?
Thanks

[2015-06-03 20:12] cantino commented on #832
That's an interesting idea @spdustin.  I haven't used JSON Schema.  Have you played with it?

[2015-06-03 20:18] cantino commented on #834
This seems like a straightforward improvement.  I guess you'd add sub-object to `options['template']['item']` that looked something like `"enclosure": { "tag_type": "enclosure", "self_closing": true, "attributes": { "url": "{{url}}", "length": "??", "type": "audio/mpeg" } }`

Would something like that work?

[2015-06-03 21:33] dsander opened #836 "JSONPath attribute matching"
I am trying to select objects out of an array using JSONPath based on on an attribute matching a specific value.

The WebsiteAgent is fetching https://ws.ovh.com/dedicated/r2/ws.dispatcher/getAvailability2 and
the JSONPath I am using is `$.answer.availability[?(@.reference='150sk30')].metaZones..availability`

I would expect an output like this:

[code]

but it return an array containing all avail

[2015-06-04 04:23] cantino commented on #836
Unfortunately, I don't know JSONPath well enough to really answer the question.  (The JavaScriptAgent could definitely do this, of course.)  We could fork and extend the JSONPath library if it's limiting.

[2015-06-04 07:32] dsander commented on #836
This was the first time I tried to use it :smile: Actually I thought the JSONPath library could use a rewrite, having to enable `eval` to allow the attribute matching felt wrong to me.

The JSONPath ['specs'](http://goessner.net/articles/JsonPath/) don't look to hard to parse without using eval.

[2015-06-04 20:55] elijah opened #837 "icon.rake width:nil under huginn_development chef role, works fine under huginn_production"
So I got this explosion when running vagrant up with the huginn_development role set - meaning that i got the huginn_development chef cookbook from site-cookbooks:

{code}
SyntaxError: /home/huginn/huginn/lib/tasks/icon.rake:72: syntax error, unexpected tLABEL
def convert_image(source, target, width: nil, round: false)
                                        ^
/home/huginn/huginn/lib/tasks/icon.ra

[2015-06-04 22:31] knu commented on #837
b737a77 may have fixed this, assuming you are using Ruby 1.9.  Could you run git pull and see if it fixes the problem?

[2015-06-04 23:35] spdustin commented on #832
I have, recently, as I was pondering how to standardize the various options JSON objects that agents use. There's a [json-schema gem](https://github.com/ruby-json-schema/json-schema) that works pretty well for validation, and I found an [excellent reference](http://spacetelescope.github.io/understanding-json-schema/) to understand JSON Schema. The schema itself could be used to generate a configur

[2015-06-05 02:05] cantino commented on #837
I think that our vagrant setup may be very out of date. I wonder if we
should remove it?

On Thursday, June 4, 2015, Akinori MUSHA <notifications@github.com> wrote:

[2015-06-05 08:50] flechaig commented on #834
Sorry, I'm new to Ruby and Huginn, I don't understand your suggestion.
Should I only include this in my  DataOutputAgent ? If so, this is the output :
[code]
This is not what I want.
Or are changes needed in huggin code ? In data_output_agent.rb ? data_output_agent_spec.rb ?
Thank you for your help.

[2015-06-05 13:55] alexiri opened #838 "Fetch page from event"
I'm trying to replicate Yahoo Pipe's "fetch page" source in order to fetch (part of) the content of each link in an RSS feed. How can I do this with Huginn?

[2015-06-05 18:58] virtadpt commented on #838
Use an instance of RSSAgent to pull the feed.  RSSAgent emits one event per entry in the RSS or ATOM feed it sees.  Run its output through an instance of DeDuplicationAgent (in case the feed has lots of duplicate entries) followed by something like TriggerAgent to detect what you're really looking for.  Use MessageFormattingAgent to built the output events.

[2015-06-05 20:49] hammerandtongs opened #839 "Explore a Sandstorm.io based instance"
This may be complicated by the outgoing http security restrictions on sandstorm but it seems like this is a very natural application for a personal server.

https://blog.sandstorm.io/news/2014-07-21-open-source-web-apps-require-federated-hosting.html

[2015-06-05 21:28] virtadpt opened #840 "Unable to open the pages of jobs that need retry, recent failures, or pending jobs."
When attempting to open the pages of jobs in the retry queue, the page of recent failures, or the page of pending jobsI am redirected to the error page with the following:
[code]
I've just updated my local copy to commit 8dc5387f0b14940af6c728fe4f5c570d325c32ff and run the upgrade process.  What other information would be necessary for troubleshooting?

[2015-06-05 23:12] virtadpt commented on #840
This only happens when trying to do so from a particular agent's page when multiple agents' pages are open.  When all agents' pages are closed and only the Huginn dash is open, they work.

[2015-06-05 23:17] virtadpt commented on #840
Stack trace from development.log:
[code]

[2015-06-05 23:29] virtadpt commented on #836
Would the JSONpath Online Evaluator (http://ashphy.com/JSONPathOnlineEvaluator/) help?

[2015-06-05 23:38] virtadpt commented on #824
Are you running Rails from the APT repository, or are you using something like RVM to install an isolated copy of the Rails environment?

[2015-06-05 23:41] virtadpt commented on #815
I could try.  I haven't had time to mess with Huginn for a few weeks now.

[2015-06-05 23:43] virtadpt commented on #807
I've made the change, and it was like night and day. Thanks!

[2015-06-06 00:10] e-alfred commented on #824
Hello,

i tried to run it first with the version from the local repositories (1.9.3), then using rvm and a newer version because it complained about the old version.

I resolved the problem by reinstalling the VM and using chef solo to deploy Huginn. It runs great so far.

Thank you

Alfred

[2015-06-06 05:16] cantino commented on #815
That'd be my recommendation.

[2015-06-06 05:17] #807 closed

[2015-06-06 05:17] cantino commented on #807
Great!

[2015-06-06 05:18] cantino commented on #824
Great!

[2015-06-06 05:18] #824 closed

[2015-06-06 05:19] cantino commented on #834
Sorry @flechaig, I was unclear.  We do need to modify the Huginn code to allow this.  I'll try to take a look at solving this for you soon.

[2015-06-06 05:24] cantino commented on #840
Let's see what you're getting.  Would you mind changing `agent_from_job` in `app/helpers/jobs_helper.rb` to the following:

[code]

/cc @evaryont and @dsander

[2015-06-06 05:29] cantino commented on #839
Hey @hammerandtongs!  I'm a big fan of Sandstorm.  I even bought the "Choose an App" perk in their indiegogo campaign.  Unfortunately, they haven't prioritized Huginn yet, but hopefully they'll get to it soon.  For anyone who is interested in seeing this happen, I'd encourage you to reach out to https://twitter.com/KentonVarda and https://twitter.com/qiqing and ask them to hurry up and bring the a

[2015-06-06 08:54] dsander commented on #840
I could be caused by an old job which was created before we added the `AcitveJob` interface. Maybe we should change `ArgumentError` to `StandardError`?

[2015-06-06 08:56] dsander commented on #836
@virtadpt I used a different online tool to validate my JSONPath expression and it really seems the library we use does not support attribute matching.

I am still undecided if I am motivated enough to rewrite it, removing the need to `eval` would be pretty great.

[2015-06-06 15:07] robbielj opened #841 "WebsiteAgent: Creating events based on a specific key changes"
For instance, RSS feed usually has a global identifier (like GUID) for identifying unique entries. Currently the agent checks any of the extracted data field for change. Duplicated events are sometimes created.

I am using de-duplication agent as a workaround and hope there will be a switch for controlling what data field should be monitored.

[2015-06-06 16:53] virtadpt commented on #840
@cantino I've made the requested change to `app/helpers/jobs_helper.rb` and restarted Huginn; it seems to have restarted properly.  I was able to load /jobs successfully but just captured a stack trace in development.log, which I'll post in a following comment.

@dsander I created [mumble] hundred agents prior to the addition of ActiveJob, so that seems like a reasonable hypothesis to test.

[2015-06-06 16:59] virtadpt commented on #840
[code]

[2015-06-06 17:01] virtadpt commented on #840
Another data point: Sometimes I can load the /jobs page and get the stack trace, and sometimes I get the "RuntimeError at /jobs" error page from Rails when I try.  Not sure what the deciding condition is yet.

[2015-06-06 18:07] virtadpt commented on #836
Which tool do you use, if you don't mind my asking?
Are there viable alternatives out there to the library used right now?

[2015-06-06 18:10] virtadpt commented on #841
Using the DeDuplicationAgent is less a workaround and more of a design pattern.  There are some use cases where you just want raw events from a website (or a feed) for processing by another agent.

For what you want to accomplish, perhaps RSSagent isn't the right way to start.  Check out WebsiteAgent's XML parsing mode and see if that takes you in the direction you want to go.

[2015-06-06 18:16] virtadpt opened #842 "ImapFolderAgent throws an "undefined method 'scrub' for nil:NilClass" exception."
From time to time the ImapFolderAgent throws an exception "undefined method 'scrub' for nil:NilClass" exception.  I'm not entirely certain what the criteria for this are - at first I thought it was due to the agent looking for a message in the IMAP queue and not finding it, but the other ImapFolderAgent instances don't do this when they don't find anything.  First comment will contain the Error Ba

[2015-06-06 18:16] virtadpt commented on #842
[code]

[2015-06-06 18:17] robbielj commented on #841
As the title says, i am using WebsiteAgent right now. The `on_change` mode will detect any change to the extracted data and create events. Sometimes we just want to get notified when one of it changes. The rest data fields may have other usage like customizing output etc.

[2015-06-06 18:21] virtadpt commented on #841
Sorry.  Still on my first cup of coffee.

What about using an instance of ChangeDetectorAgent?

[2015-06-06 19:32] robbielj commented on #841
Thanks for your input. I have just tried ChangeDetectorAgent. It does not solve the issue. de-duplication is still the best workaround i can find.

to illustrate the issue: for example, i have an agent for scraping Pinboard.in popular page and make it a RSS feed. The entry I construct is like:

[code]
noticed that i have set "id" as a unique identifier. I store bookmark item tags into "description

[2015-06-06 22:10] virtadpt commented on #840
Since making the change suggested, I've started getting the following runtime error and no /jobs page:
[code]

[2015-06-07 00:45] cantino commented on #840
@dsander, I assume `Delayed::PerformableMethod` is the older style?

[2015-06-07 00:48] cantino commented on #841
Does the `DeDuplicationAgent` work for you with a `property` or `{{id}}`?

[2015-06-07 00:51] cantino commented on #842
/cc @knu

[2015-06-07 00:53] cantino commented on #838
Hey @alexiri, welcome!  I think you could potentially use the WebsiteAgent for this.

[code]

[2015-06-07 00:54] cantino commented on #592
Awesome!

[2015-06-07 03:32] robbielj commented on #841
yes. that is what i am doing right now.
so just think it would be nice that website agent has this kind of feature built in.

[2015-06-07 05:31] cantino commented on #834
Hey @flechaig, I have a prototype working: https://github.com/cantino/huginn/pull/843

Would you mind testing it?  Try the following:

[code]

[2015-06-07 05:33] cantino commented on #841
Oh, I see.  That's reasonable, if you'd like to contribute it!  I guess when `on_change` is provided, an optional `on_change_key` could be considered as a Liquid or JSONPath expression.

[2015-06-07 10:14] dsander commented on #840
@cantino Yes

[2015-06-07 10:27] dsander commented on #836
@virtadpt I used http://jsonpath.curiousconcept.com/

For ruby the library we use seems to be the only one available.

[2015-06-07 10:27] dsander commented on #836
Closing this since I solved my initial problem by using the JavascriptAgent.

[2015-06-07 10:27] #836 closed

[2015-06-07 10:49] robbielj commented on #841
It is a pity i don't know how to write ruby. Are you interested in implementing this feature?

[2015-06-07 15:59] cantino commented on #841
I can take a look at the difficulty.  Is chaining on a `DeDuplicationAgent` too much hassle?

[2015-06-07 16:46] robbielj commented on #841
No. `DeDuplicationAgent` works quite well.

You may consider this proposal as an enhancement. It should be effective in reducing duplicated events, especially when the scheduled updating cycle is short.

[2015-06-07 17:23] virtadpt commented on #836
Oh, the one at Curiousconcept.  I use that one occasionally.

As for the Ruby gem... I can do some asking around and see if my cow-orkers know of a different one, but that may not be the case.

[2015-06-07 17:57] flechaig commented on #834
Hi, thank you !
I'll test it, but let me a few days please, I need to setup a dedicated environnement for this. I'll let you know as soon as I test it.
Thanks again

[2015-06-07 20:37] cantino commented on #834
You're welcome :) And no rush.

On Sunday, June 7, 2015, flechaig <notifications@github.com> wrote:

[2015-06-08 05:22] sean-horn opened #845 "Webhook JSONPath Failure"
Huginn Version: master 8dc5387f0b14940af6c728fe4f5c570d325c32ff

In a WebHookAgent, I think I should be able to declare a JSONPath to only capture the value of a leaf node. Currently, it seems that I can only follow the path down to the second to last key and value, i.e `$.foo.bar`, to generate an event of `{"bing": "hmmm"}`

If I try the complete JSONPath `$.foo.bar.bing`, I get an error as shown

[2015-06-08 10:12] alexiri commented on #838
Hi @cantino, thanks, that's exactly what I wanted! Sorry I missed it in the docs.

[2015-06-08 10:12] #838 closed

[2015-06-08 22:21] sillygwailo opened #846 "Twitter timelines"
Is there a way to get a Twitter home timeline flowing into to Huginn via the streaming API? And public lists? Private lists? Not just a single user's timeline, or a filtered stream, but the flow of tweets in what I see when I login to Twitter.com, for example.

[2015-06-08 22:24] sillygwailo opened #847 "Filtering agents"
Is there something like the Filter module that Yahoo! Pipes has, where you can filter on many criteria, and it returns or blocks events based on all or any of the filters? So far I've been doing that with a JavaScript agent, but if there was something that was more of a configurable form, I'd use that.

[2015-06-08 22:33] irfancharania opened #848 "Fulltext fetch for feed item"
I'm trying to fetch full text for a feed item, and I'm unsure how to go about it.
[issue 598](https://github.com/cantino/huginn/issues/598) suggests it's possible but I can't find any other hints.

Here's what I've got:
__Agent 1: Type: Rss Agent__
[code]
It generates the events as expected.

Next I'm failing at trying to use the urls from the events in a Website Agent

__Agent 2: Type: Website Ag

[2015-06-08 22:48] virtadpt commented on #847
You can do it with a TriggerAgent.  I use a few instances of this agent with between 10 and 30 filtering rules each to parse and sort events coming from data feeds.

[2015-06-08 22:49] sillygwailo commented on #847
TriggerAgent. Perfect. That opens up a world of possibilities. Thanks!

[2015-06-09 18:00] sillygwailo commented on #847
Maybe I need a tutorial on how to create a flow where the following happens:

1. Take in an RSS feed and, for each item emit an event that has a 'url' property. (No problem, that's easy.)
2. A TriggerAgent that says: If the contains any of the specified domains in an array, do not emit the event down the chain. If it doesn't contain any of the domains in the array, emit the event down the chain. H

[2015-06-09 18:18] irfancharania commented on #847
I've been playing around with the RSS and TriggerAgents after seeing the hint from virtadpt.

My guess would be:

1. 'keep_event' set to true will keep the RSS item for you to pull 'url' from
2. use something like the following (not tested)

[code]

My use case has been RSS -> TriggerAgent to filter out items -> RSS

[2015-06-10 00:46] cantino commented on #845
Hey @sean-horn, welcome and thanks for the detailed report!

The problem is that the output needs to be a valid JSON Object, and `{"hmmm"}` isn't valid JSON.  I'd suggest using `$.foo.bar`.  We could also modify the agent so that JSONPaths to single values return something like `{ "value": "hmm" }`.  Would this be better?

[2015-06-10 00:50] cantino commented on #846
Hey @sillygwailo.  That isn't possible right now, but it seems like it'd be straightforward to add a TwitterTimelineAgent which could either be streaming (like the TwitterStreamAgent) or intermittent polling (like the TwitterUserAgent).

[2015-06-10 00:52] cantino commented on #848
Hey @irfancharania, welcome!

What happens if you change `mode` to `merge`?

[2015-06-10 00:53] cantino commented on #847
Do we need to add a `{ "type": "inclusion", "in": ["foo", "bar"] }` mode to the TriggerAgent?  That would be an easy change.

[2015-06-10 01:03] sillygwailo commented on #847
I guess that was my understanding of this: "The value can be a single value or an array of values. In the case of an array, if one or more values match then the rule matches." I get the sense that it doesn't work with arrays of regexes.

@cantino The syntax you suggest would make that more clear. Would it be able to do regex? I want to filter out domains inside URLs.

[2015-06-10 01:09] sean-horn commented on #845
@cantino Thanks, happy to try to help! Oh yes, I see that.  I think it's ok. I wouldn't make a special case of the final element unless other people have seen a need for this too. Please close at your convenience.

[2015-06-10 05:29] cantino commented on #847
An array of regexes should work.  Did it not work for you?

This is the current code, which should handle an array of regexes.

[code]

[2015-06-10 05:32] cantino commented on #847
@sillygwailo, as it is right now, you could so something like this right?

[code]

[2015-06-10 05:40] cantino commented on #845
Glad you like it!  Let me know if we can help out.

[2015-06-10 05:40] #845 closed

[2015-06-10 12:49] Free16t opened #849 "Add Massive RSS feed for filtering"
Hi,

As Yahoo Pipes is closing, I'm looking for using Huginn as a new platform. However, I would like to know if it's possible to add a lot of RSS feed (because currently in the RSSagent you can only add one url) ?

Regards

[2015-06-10 12:59] K1773R commented on #849
You can create an RSSAgent for each feed and then "combine" them in a TriggerAgent/Other for example.

[2015-06-10 13:23] Free16t commented on #849
This is okay for me. But if I would like to add 400 feeds, it's could be quite long.
Same for the Twitter Agent

[2015-06-10 13:38] K1773R commented on #691
I think this should be documented before closed, in case others are interested in this too.

[2015-06-10 13:38] K1773R commented on #849
I have a similiar setup, tough not RSS. The good thing about having alot of agents, is that you can run multiple workers, ie multiple agents can run at the same time, tough you have to change things for this #691. With one big Agent you wont have this "feature".

[2015-06-10 13:45] Free16t commented on #849
I do agree. For one of my project it could be really interesting but for others projects no. It could be interesting to add this feature futher

[2015-06-10 15:29] irfancharania commented on #848
Thanks! That gave me what I was looking for.

Though my initial confusion turned out to be something else: I had to re-emit event from the first agent in order to see it propagate through. Then everything worked.

I think I found a bug in tinkering around with things. In the url field for the second agent, you cannot add a suffix or prefix to the {{url}}.

__Agent 1__
Type: Manual Event Agent
Even

[2015-06-10 15:33] irfancharania commented on #849
Being able to add multiple feeds in one pipe was fantastic and would be a nice future feature for the RSSAgent

[2015-06-10 16:04] cantino commented on #849
Allowing the RSSAgent to take a list of feed URLs would be a
straightforward addition.  Would someone be interested in adding it?

On Wednesday, June 10, 2015, Irfan Charania <notifications@github.com>
wrote:

[2015-06-10 18:19] irfancharania commented on #849
I've never worked with ruby. At this point, it'd be less than straightforward for me...

[2015-06-10 18:28] irfancharania opened #850 "WebsiteAgent: Extract .//node() error"
Setting `value` to __.//node()__ seems to double up the extracted text (try it to see)

__Agent: test__
Type: Website Agent
[code]

Whereas setting `value` to __normalize-space(.)__ extracts it correctly. I would expect __.//node()__ to just give me the html as is on the web page.

I'm wondering if I'm doing something wrong or if this is a bug.

[2015-06-10 22:05] irfancharania opened #851 "RssAgent: Missing tags"
RssAgent ignores a number of tags, mainly **guid** and **enclosure**.

Is the fix as simple as adding these in [rss_agent.rb L93](https://github.com/cantino/huginn/blob/285407caeaab8b489c3f0f67f692ee58d2d9bc02/app/models/agents/rss_agent.rb#L93)?
Any reason not to?

[2015-06-11 02:38] cantino commented on #850
Good question, and I'm not sure.  @knu, do you know?

[2015-06-11 02:40] cantino commented on #851
It may be straightforward.  Do you have an example feed I can test on that has these?

[2015-06-11 02:41] cantino commented on #691
@K1773R Would you be willing to document it on the wiki?

[2015-06-11 02:44] cantino commented on #848
The `url` key is not currently used when a `url` is received from an incoming Event, so you'd need to use an EventFormattingAgent to add the prefix / suffix.

I actually like your approach of always using the options.url in the Agent, and allowing Liquid formatting in it to include an Event's url, but given the current behavior, I'm not sure how best to change it without breaking people's setups.

[2015-06-11 02:45] cantino commented on #849
@irfancharania If you'd be interested in tackling it, I'd be happy to help guide you.  If not, I can take it on.

[2015-06-11 02:50] irfancharania commented on #851
[This](http://www.mediamonkey.com/wiki/index.php/Podcast_Sample_Feed) seems to be a standard for podcasts

here's [an example feed](http://feed.cnet.com/feed/podcast/googlicious/hd.xml)

[2015-06-11 02:54] cantino commented on #849
I actually went ahead and added this feature for you.  Please see if #852 works for you.

[2015-06-11 02:57] irfancharania commented on #849
Thanks Andrew!
I'll have a look tomorrow and report back.

[2015-06-11 03:07] irfancharania commented on #848
Yeah, I realized something was off when I tried to pass it a differently named key and it wouldn't take. EventFormattingAgent it is then.

As far as backwards compatilbility:
1. The form won't let you leave the url field as blank
2. It won't accept anything other than `url` if incoming
3. If not incoming, you are filling it with non-liquid style text

It doesn't sound like anything would break by

[2015-06-11 04:03] cantino commented on #851
`guid` should be available in the `id` attribute.  I tried getting enclosure to work, but the RSS parser we're using didn't make it easy.  For now, I'd suggest using the XML parsing capabilities of the WebsiteAgent.

[2015-06-11 04:11] irfancharania commented on #851
Okay. I'll give it a shot tomorrow and see how it goes.

[2015-06-11 07:12] knu commented on #850
You should use either "./node()" or ".", with which you could get inner HTML or outer HTML, respectively.
".//node()" recursively recursively selects all nodes, so, for instance, applying it to a node `<a>x<u>y</u>z</a>` will generate a node set that consists of:

* `<a>x<u>y</u>z</a>`
* `x`
* `<u>y</u>`
* `y`
* `z`

And you'll get a string with all those stringified and concatenated.  That's why

[2015-06-11 08:35] Free16t commented on #849
Thanks a lot Andrew, if I was more a ruby power user, I would be glad to help you.

I try to add feeds with | between them. However I have this error in the job page: `bad URI(is not URI?): http://rss.lemonde.fr/c/205/f/3050/index.rss|http://www.latribune.fr/`

[2015-06-11 12:32] irfancharania commented on #850
Yep, that did it. Thanks @knu!
Will you add it to the description in the side? I think it'd be helpful to just have a line stating that.

[2015-06-11 12:32] #850 closed

[2015-06-11 16:00] cantino commented on #849
Yes, that syntax is not supported.  Hopefully this PR will give you what
you need.

On Thursday, June 11, 2015, Free16t <notifications@github.com> wrote:

[2015-06-11 16:43] sillygwailo opened #853 "Expanding short URLs"
What's the best way to expand a short URL (say, an ow.ly URL)? I tried a WebsiteAgent that ran it through LongURL.org but that's overthinking it? Also the WebsiteAgent scrapes the value 'url' key of an incoming event anyway, and I don't want it to do that. I want to pass the expanded URL on as an event to another agent.

[2015-06-11 20:38] cantino commented on #853
Might potentially be a new UrlExpanderAgent?

[2015-06-11 22:50] sillygwailo commented on #847
Array of rules, not an array of values, gotcha. I have this running and have a good feeling about it. I'll post back later after more events go through (and, in some cases, hopefully not).

[2015-06-11 22:51] sillygwailo commented on #853
That would be cool. The easy way to do it would be to just redirect a URL until it doesn't redirect, I assume.

[2015-06-12 09:05] Free16t commented on #849
Which syntax I'm suppose to use ?

[2015-06-12 09:58] K1773R commented on #853
ie, follow each HTTP 301/302 until you get an 200?
there should be a max depth and also auto detection of loops

[2015-06-12 10:43] K1773R commented on #691
https://github.com/cantino/huginn/wiki/Concurrent-Jobs---Workers---Agents

My grammar is bad as i'm not a native English speaker. Could you take a look at it and edit it if necessary?

[2015-06-12 13:04] K1773R opened #854 "Wrong url_encode"
I have an RSS Feed i'd like to scrape
[code]

unfortunately, huginn replaces this to
[code]
and the server returns an error...

[2015-06-12 14:51] irfancharania commented on #851
XML parsing with WebsiteAgent works. Thanks Andrew!

Leaving this open as a future "to revisit"

[2015-06-12 15:22] cantino commented on #853
That's right K1773R.  Might be able to use HEAD requests for speed.

On Friday, June 12, 2015, K1773R <notifications@github.com> wrote:

[2015-06-12 15:23] cantino commented on #849
When this PR is merged, you'd use an array in the JSON editor.

On Friday, June 12, 2015, Free16t <notifications@github.com> wrote:

[2015-06-12 18:27] virtadpt commented on #853
It should also be possible to use the URL shorteners' APIs to expand what they're given (like this one: https://v.gd/apilookupreference.php).

[2015-06-12 22:42] irfancharania commented on #849
I just tested it out with 3 feeds, and it's working!

@Free16t

You'd write it like this:
[code]

[2015-06-13 03:46] cantino commented on #691
I made some edits.  Thanks!

https://github.com/cantino/huginn/wiki/Concurrent-Jobs---Workers---Agents

[2015-06-13 03:49] cantino commented on #691
Linked now at https://github.com/cantino/huginn/wiki/Running-Many-Job-Workers

[2015-06-13 03:49] #691 closed

[2015-06-13 03:49] cantino commented on #691
Thanks!

[2015-06-13 03:54] cantino commented on #854
The URL has two `?` in it?  That's not valid.

[2015-06-13 03:54] cantino commented on #849
Great!  I'll merge it into master shortly.

[2015-06-13 03:54] #849 closed

[2015-06-13 03:55] cantino commented on #850
@irfancharania, would you be interested in updating the doc?

[2015-06-13 04:15] knu commented on #853
I think we could add a Liquid function that expands a shortened URL.

[2015-06-13 04:16] cantino commented on #853
I like that.

[2015-06-13 09:56] K1773R commented on #854
all other browsers handle it w/o problem. i checked with fake ssl certs + tcpdump that only huginn does that.

[2015-06-13 10:02] K1773R commented on #691
Great :)

[2015-06-13 11:15] dsander commented on #854
Interesting, thats the first time I have seen a URL formatted like this too. The [RFC 3986](http://tools.ietf.org/html/rfc3986#section-3.4) really seem to allow it. I don't know how much we can do about this since I think we are just passing the URL to `faraday` to fetch it.

[2015-06-13 11:17] K1773R commented on #854
@dsander its not only with the RSSAgent. its also with the WebsiteAgent...

[2015-06-13 11:30] dsander commented on #854
@K1773R would you mind testing https://github.com/dsander/huginn/tree/disable-faraday-url-encoding ? This is still a bit rough, but you should be able to disable the url encoding by setting `disable_url_encoding` to `true` in your RSS or WebsiteAgent.

[2015-06-13 13:24] irfancharania commented on #850
Sure I'll give it a shot.

I was also thinking I would add an example entry in the wiki for a typical
scenario I'm using it for :
Rss agent > trigger agent (for filtering) > website agent (for full text
fetch) > dataout agent (for full text rss)
 On Jun 12, 2015 8:55 PM, "Andrew Cantino" <notifications@github.com> wrote:

[2015-06-13 16:35] cantino commented on #850
That'd be great!  Maybe on the page for configuration examples?

On Saturday, June 13, 2015, Irfan Charania <notifications@github.com> wrote:

[2015-06-14 16:07] flechaig commented on #834
Yes, it works :)

I think it would be event better with an example in true JSON like :
[code]
Thank you

[2015-06-14 17:20] cantino commented on #834
Awesome! I'll switch it to JSON, thanks!

[2015-06-15 07:18] knu commented on #842
@virtadpt There probably was a mail without a Subject field, judging from the second line of the backtrace.  I've patched the scrubbed() method so it won't choke with such a mail.  Please try out the tip of the master branch.

[2015-06-15 07:27] knu commented on #745
Is this still an issue?

[2015-06-15 07:57] Free16t commented on #849
Well, by using your the code you paste, I had this error:

/home/user/.rvm/gems/ruby-2.1.6/gems/activesupport-4.2.1/lib/active_support/core_ext/array/grouping.rb:91:in `split'
/home/user/.rvm/gems/ruby-2.1.6/gems/faraday-0.9.1/lib/faraday/request.rb:55:in `url'
/home/user/.rvm/gems/ruby-2.1.6/gems/faraday-0.9.1/lib/faraday/connection.rb:371:in `block in run_request'
/home/user/.rvm/gems/ruby-2.1.6

[2015-06-15 12:27] robbielj opened #856 "Non-existent value in website-agent"
Sometimes when the agent cannot extract a value, it will mark it as `[]`, which prompts uneven matches and stops event generating. Is it a good practice to convert it into an empty value like `['']`? In this way, events can be created as usual.

For example, change the jsonpath extract:
`result = Utils.values_at(doc, extraction_details['path'])`
to
`result = (Utils.values_at(doc, extraction_detail

[2015-06-15 13:58] irfancharania commented on #849
Silly question, but this is after you've updated your instance of huginn with the new changes?

Also, the second link should be this http://www.latribune.fr/feed.xml

[2015-06-15 16:21] irfancharania opened #858 "Limit RSS feed items"
Is there a way to limit the number of RSS items fetched similar to the [Truncate Module in Yahoo Pipes](http://pipes.yahoo.com/pipes/docs?doc=operators#Truncate)?

Scenario: Feed has a large number of items, and I only want the most recent 10.

[2015-06-15 17:36] cantino commented on #858
Not at the moment, but that would be an easy addition to the RSSAgent.
I'll try to add it for you.

On Monday, June 15, 2015, Irfan Charania <notifications@github.com> wrote:

[2015-06-15 18:38] cantino commented on #856
Hey @robbielj!

Is this a case where you're extracting multiple groups, but only some of them have a certain field?

Could you provide an example?

[2015-06-15 18:41] cantino commented on #858
@irfancharania, are you interested in learning a bit of Ruby and getting your hands into the Huginn code?  If so, that feature would be straightforward to work on and is definitely something I could help you through.

[2015-06-15 18:59] irfancharania commented on #858
Sure!
I'll have time closer to the end of the week, and ask for guidance then. Work for you?

[2015-06-15 19:39] robbielj commented on #856
hi, @cantino

for example, the captured JSON response is like

[code]
I want to extract all these values to create events. so the paths are `stuff.key1`, `stuff.key2` etc. Under specific circumstance, one of the keys may be missing. Currently the agent will report uneven matches and stops creating events. Is it better that the value of the missing key is set to `['']` (empty) as default so that ev

[2015-06-15 20:28] cantino commented on #858
Sounds great!  Glad to have you involved :)

[2015-06-15 20:43] virtadpt commented on #745
I don't know.  Let me upgrade Huginn to the latest commit and I'll get back to you.

[2015-06-15 21:22] irfancharania opened #859 "Event Formatting Agent: Replacers?"
In the Event Formatting Agent, what do you think about having a "Replacers" setting?

It would be handy to be able to match and substitute text that you can't really easily do with matchers. Scenario: `I have / some / long text / from / some source ` and I just want to easily remove all instances of `/` by replacing them with empty space.

To keep things simple, order would be insignificant: match

[2015-06-15 22:32] j0narch3r opened #860 "cannot match precise term in TwitterStreamAgent"
I am having trouble getting the TwitterStreamAgent to return tweets matching a precise term.

e.g.

filter: [
match this term <= this matches if all words appear in any order
"match this term" <= this does not match because it looks for the term to include quotes
]

Evidently, when I put quotes around the term in the filter, the output escapes them, turning them into actual quotes to be searched f

[2015-06-15 22:41] virtadpt commented on #745
Updated to commit 1e57f3a4572f041be01e0a533d24c417235ab752.  I'll keep an eye on it and let you know what I see.

[2015-06-15 22:41] virtadpt commented on #842
I've updated to 1e57f3a4572f041be01e0a533d24c417235ab752.  I'll let you know what I see.

[2015-06-16 07:25] knu commented on #859
If you just need simple (literal) string substitution, try the `replace` filter: `{{ string | replace:' / ',' ' }}`
https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#standard-filters

If you want regex, we'd consider adding a custom filter.

[2015-06-16 15:01] irfancharania commented on #859
That worked. Regex might have been cleaner, but you can pipe multiple filters, so no need.
Thanks!

[2015-06-16 15:01] #859 closed

[2015-06-16 15:26] Puneeth-n opened #861 "DOMAIN in .env file has no effect"
The DOMAIN parameter in the .env file which contains the default address to bind the huggin server doesn't seem to work and always binds to 127.0.0.1:3000

[2015-06-16 15:42] cantino commented on #861
Are other params from the .env being picked up? Are you running Rails in
development or production mode?

On Tuesday, June 16, 2015, Puneeth Nanjundaswamy <notifications@github.com>
wrote:

[2015-06-16 15:43] cantino commented on #859
Would one of you mind adding that trick to the Liquid page on the wiki?
Very cool!

On Tuesday, June 16, 2015, Irfan Charania <notifications@github.com> wrote:

[2015-06-16 16:27] irfancharania commented on #859
It's already there:
https://github.com/cantino/huginn/wiki/Formatting-Events-using-Liquid#basic-usage-of-liquid-in-huginn

It just didn't occur to me right away as an option...

On Tue, Jun 16, 2015 at 8:43 AM, Andrew Cantino <notifications@github.com>
wrote:

[2015-06-16 16:51] irfancharania commented on #859
I updated the existing example slightly.

[2015-06-16 20:01] Puneeth-n commented on #861
I am trying to bring up the vagrant box using the vagrant file provided. I will update here soon.

[2015-06-17 04:46] #834 closed

[2015-06-17 04:47] cantino commented on #834
Merged @flechaig!

[2015-06-17 04:48] cantino commented on #859
Thanks :)

[2015-06-17 04:49] cantino commented on #856
Could you make your selector be an ORed list of the possible keys?  Is this XPath or JSONPath?

[2015-06-17 04:54] cantino commented on #860
Hey @j0narch3r, I'd think that if you did `'"something in quotes"'`, we'd send that through to Twitter literally.  I assume https://twitter.com/search-home does what you'd want?

[2015-06-17 06:31] j0narch3r commented on #860
I would have assumed so, too. Under Details in the Agent, the term gets sent as "\"something in quotes\"", but for some reason tweets weren't appearing. (I sent a series of test tweets with the term from another account, and no emails were triggered until I removed the quotes.)

For total clarity, here are screencaps of my setup, with one term in quotes for demonstration purposes:

![image](https:

[2015-06-17 14:28] Edu115 opened #864 "Agents won't run"
Hi,

For some reason, after following [this](https://gist.github.com/mjhea0/b6b58eefc38985380ff9#file-install_huginn_locally-md), whenever I try and run an agent, nothing happens.
There's also nothing in the logs about the agents, just the web.1 reporting.

Also, very weird is that the "Next run" is always in the past.

![image](https://cloud.githubusercontent.com/assets/665222/8209565/e3bbd590-15

[2015-06-17 14:35] robbielj commented on #856
I tried JSONPath but cannot get a clue on how to do an "OR" between an possibly non-existent path and a string like "". Any suggestion?

I have switched `ALLOW_JSONPATH_EVAL` on.

[2015-06-17 18:14] dsander commented on #864
Hi @Edu115, how does your [Procfile](https://github.com/cantino/huginn/blob/master/Procfile) look? When you are using the default file the output of `foreman start` should look something like this:

[code]

[2015-06-17 18:19] dsander commented on #860
I don't think exact matches are possible, the API [docs](https://dev.twitter.com/streaming/overview/request-parameters#track) do not mention it. Have you tried using "music makes a city" (without the quotes)?

[2015-06-17 18:24] Edu115 commented on #864
Hi @dsander, it looks exactly like that. It is just like the default one.

However, I just uncommented the old version with separate processes, and it seems to fix it, the jobs ran successfully!
I would still prefer to use the threaded version, but I guess this is good enough.

[2015-06-17 18:28] dsander commented on #864
That's odd. Have you tried starting the threaded worker without using foreman?
You can just run `bundle exec rails runner bin/threaded.rb` in a console.

[2015-06-17 18:28] j0narch3r commented on #860
@dsander Thanks, I had suspected that might be the case. Yes, without the quotes everything works just fine—it just throws a fair number of false positives since it's unique in that order, but fairly non-unique if they can appear in any order. At the volume I'm dealing with, not really a big deal.

[2015-06-17 18:28] #860 closed

[2015-06-17 18:39] Edu115 commented on #864
Just tried, jobs just stay pending.

I've just noticed that the behaviour is similar to this:
https://github.com/cantino/huginn/issues/795

In fact, running strace, I can see the same clock_gettime loop going on.
However, I'm not using a docker image or nothing like that.

[2015-06-17 18:48] dsander commented on #864
#795 was caused by SCHEDULER_FREQUENCY being not set. If you are using the default .env and use a relatively recent version of Huginn that should not be an issue.

Do you mind sharing your (redacted) `.env`?

[2015-06-17 20:28] cantino commented on #856
I assume `$.stuff.*` wouldn't work because there are some keys you don't want?

[2015-06-18 10:16] hakarune commented on #489
Can't get it to install on windows either. Halted on bundle step. no way to execute bundle script on windows

[2015-06-18 15:31] cantino commented on #489
My general suggestion on Windows is to use VirtualBox.  Have you tried that
by any chance?

On Thursday, June 18, 2015, Ace Elliott <notifications@github.com> wrote:

[2015-06-19 09:06] t4meg commented on #864
Hi,

I have a quite similar issue, agents stay in queue.
In the console, here is the output:

bin/threaded.rb:19:in `safely'
bin/threaded.rb:46:in `block in <top (required)>'

[2015-06-19 09:14] Puneeth-n commented on #861
Works with docker. May be some problem with chef version/ cookbook

[2015-06-19 09:24] robbielj commented on #856
Indeed, I just want a few keys of the response.

[2015-06-19 09:50] Edu115 commented on #864
@dsander here's the env file

[code]

Could it be the timezone?

[2015-06-19 10:21] knu commented on #864
Hmm, seems this is occurring frequently on my instance also.  Even worse, jobs keep being queued while the worker does not dequeue at all.  So, I'm guessing something in the job queue may be getting DelayedJob to stall.  Once this occurs, restarting bin/threaded.rb never works until I manually clear out the job queue by executing DelayedJob.destroy_all.
I've switched to the non-threaded version an

[2015-06-19 13:01] Edu115 opened #867 "Email not being sent"
Hi,

Yet another issue configuring huginn :disappointed:

When running a job from an EmailDigestAgent I get the error

[code]

Why would it try to use my local postfix instance and not the configured Google Apps SMTPD server?
Bear in mind that this is running in development mode (as I can't seem to configure nginx to run this in production), but SEND_EMAIL_IN_DEVELOPMENT is set to true.

[2015-06-19 15:11] dsander commented on #864
Hi @t4meg, your problem looks like a different one, do you mind creating a new issue including the full bac trace if you have one?

@Edu115 Your `.env` looks ok to me. Does the `strace` show anything else abnormal? I think three `clock_gettime` calls per second (due to `SCHEDULER_FREQUENCY` beeing set to 0.3) would be fine.

@knu  That sounds odd, I think we did not change anything in the threaded

[2015-06-19 17:56] irfancharania commented on #489
@hakarune: I grabbed a linux VM from [osboxes](http://www.osboxes.org/) and got it going that way.

[2015-06-19 19:35] cantino commented on #694
@elijah Is the current Vagrantfile / chef setup working for you?

[2015-06-19 19:56] cantino commented on #856
@dsander Do you know if it's possible to specify a list of keys in JSONPath?

[2015-06-19 20:17] danielpcox opened #869 "Heroku auto-deploy failed"
...
-----> Compiling Ruby/Rails
 !
 !     An error occurred while installing Ruby ruby-2.0.0
 !     For supported Ruby versions see https://devcenter.heroku.com/articles/ruby-support#supported-runtimes
 !     Note: Only the most recent version of Ruby 2.1 is supported on Cedar-14
 !     Command: 'set -o pipefail; curl --fail --retry 3 --retry-delay 1 --connect-timeout 3 --max-time 30 https://s3-ex

[2015-06-19 20:33] cantino commented on #867
You're using `foreman` and it's definitely loading your `.env`?

[2015-06-19 20:34] #489 closed

[2015-06-19 20:46] cantino commented on #869
Hey @danielpcox, thanks for letting us know!  I just clicked the Heroku button in our README and it built successfully.  Did you do anything different?  Mind trying again and seeing if it was a brief glitch on their end?

[2015-06-19 21:14] dsander commented on #856
@cantino I dont think that is possible.

@robbielj Can you use a `EventFormattingAgent` after fetching all keys to select just the ones you are interested in?

[2015-06-19 21:47] robbielj commented on #856
Thanks @dsander. `EventFormattingAgent` is a good idea!  Just checked and it works.

This issue can be closed now.

[2015-06-19 22:17] Edu115 commented on #867
@cantino yes, and I think so, as all other agents work fine.

[2015-06-19 23:54] robbielj opened #870 "Deployment on a VPS"
Hello @cantino

Yesterday I deployed huginn instance on a Digitalocean vps (ubuntu 14.04, x64) in production mode. The guide in the wiki section (Deployment with Capistrano, Unicorn, nginx, Foreman, and Upstart) seems to be based on ruby1.9.1. `rvm` can offer ruby2+.  Also i suspect `Capistrano` is not really needed if one just want to clone app to vps, configure it and host it via nginx for perso

[2015-06-20 00:00] danielpcox commented on #869
All I did was name it and click Deploy for Free. I just did it again and it worked, though, so I guess you're right: it was a temporary problem on their end. Looking forward to trying out huginn!

[2015-06-20 00:00] #869 closed

[2015-06-20 00:25] cantino commented on #869
Thanks for trying again.  Welcome aboard :)

On Friday, June 19, 2015, Daniel Cox <notifications@github.com> wrote:

[2015-06-20 00:56] reticentsmile commented on #848
I've been playing around with huginn for a week to setup security feeds. I worked around a way to add prefix/suffix to by using concat(string1,string2) function in the value field. For your scenario,try:
 "url": {
      "css": "body",
      "value": "concat('@attr',testing)"
    }
The attr is to replaced with the attribute containing url (which for most cases was @href). Hope this helps. Have fun!

[2015-06-20 03:32] virtadpt commented on #870
Please do make a wiki page for this.  I've tried to deploy in production mode several times, and bollixed it up each time.

[2015-06-20 04:39] irfancharania commented on #848
knu just added easy liquid url formatting with pull #866
check it out!

[2015-06-20 04:39] #848 closed

[2015-06-20 13:41] dsander commented on #870
I have started working on a guide, will try to finish it over the weekend.

[2015-06-20 15:06] robbielj commented on #870
@dsander okay then ;)

[2015-06-20 15:06] #870 closed

[2015-06-20 15:36] cantino commented on #867
Can you share a de-sensitized copy of your .env?

On Friday, June 19, 2015, Edu115 <notifications@github.com> wrote:

[2015-06-20 15:37] cantino commented on #870
Thanks @dsander.  @robbielj, maybe you can proof / refine it when he's done?

On Saturday, June 20, 2015, robbielj <notifications@github.com> wrote:

[2015-06-20 22:34] robbielj commented on #870
@cantino yep.

[2015-06-20 23:47] virtadpt commented on #842
Nope.  I haven't seen this exception since.  I think that fixed it.

[2015-06-20 23:50] virtadpt commented on #840
The "Recent Failures" page opens for me pretty reliably.  The "Pending Jobs" (/jobs) page still throws the runtime error:
[code]

[2015-06-20 23:51] virtadpt commented on #745
I haven't seen this exception since then.

[2015-06-20 23:56] virtadpt opened #871 "RSSagent throws an "undefined method `<<' for nil:NilClass" exception for certain feeds."
For the past couple of days, the RSSagent has been throwing a "undefined method `<<' for nil:NilClass" exception for some wikis' RSS feeds that I keep an eye on.  It happens pretty regularly, every two hours (which is my execution schedule), five attempts per run.  First comment will be the exception that it's been throwing.

[2015-06-20 23:57] virtadpt commented on #871
[code]

[2015-06-20 23:58] virtadpt commented on #867
In particular, we need to look at the values for the SMTP_* variables in your .env file.

[2015-06-21 00:02] virtadpt commented on #861
Is the address you have set in the DOMAIN option a hostname or an IP?  If it's a hostname, is it resolvable by DNS or is it in /etc/hosts?  If it's an IP, make sure it's on one of the network interfaces on the system.

[2015-06-21 00:15] virtadpt commented on #840
By the way, this happens on commit 1e57f3a4572f041be01e0a533d24c417235ab752.

[2015-06-21 00:41] virtadpt commented on #815
I've created a separate basic auth user for webhooks and I'm trying that URL spec - I forgot that you could do that.

It works like a charm!

[2015-06-21 01:00] virtadpt commented on #804
Setting DELAYED_JOB_MAX_RUNTIME to 5 has helped significant with this.  I can probably cut it even lower (to 3 minutes, say).

[2015-06-21 01:02] virtadpt commented on #781
I haven't seen this problem in a couple of weeks.  Did Ace get updated?

[2015-06-21 01:18] virtadpt commented on #722
Okay, here's what I've got:

If Huginn is behind a web server of some kind (like Nginx), the value of server_url will be whatever the URL would be in the browser: https://huginn.example.com/.  If HTTP authentication is enabled, a separate username and passphrase need to be set in the .htaccess file and added to the URL (ref ticket #815), like this: http://user:password@huginn.example.com/.  Twilio

[2015-06-21 02:08] cantino commented on #781
Don't think so, but I did use the ace editor for the JavaScriptAgent--
maybe thst fixed something for some reason?

On Saturday, June 20, 2015, The Doctor <notifications@github.com> wrote:

[2015-06-21 03:01] cantino commented on #745
Great!

On Saturday, June 20, 2015, The Doctor <notifications@github.com> wrote:

[2015-06-21 04:02] virtadpt commented on #781
Do they reference the same editor library?

[2015-06-21 04:13] virtadpt commented on #781
I just went prowling throug the code to see what they had in common, and I'm not seeing anything overt.

[2015-06-21 11:59] flechaig commented on #834
Thank you very much.

[2015-06-21 15:19] cantino commented on #781
Maybe your browser updated?

On Saturday, June 20, 2015, The Doctor <notifications@github.com> wrote:

[2015-06-21 16:33] dsander commented on #871
That seems to be a bug in the `hpricot` gem. Can you share the XML that is returned by the server at the time the exception is happening?

[2015-06-21 16:41] dsander commented on #840
Can you update after 180b694dbd39f08c41deceba9860961dbc4936d3? I think that commit should fix that issue

[2015-06-21 18:17] virtadpt commented on #781
I did update to Firefox v37.0.2 eight days later...

[2015-06-21 18:40] virtadpt commented on #871
The XML is an RSS feed: http://rss.gmane.org/messages/excerpts/gmane.org.wikimedia.mediawiki.announce

[2015-06-21 18:43] virtadpt commented on #840
Let me give it a go...

[2015-06-21 18:56] virtadpt commented on #840
Updated to 6a0dcd43ce37def6c196bb72bbf89f0dc4ad278e.  Huginn is up and running.  I've just been able to load the /jobs page once.  Trying it a few times over a few minutes shows that it's much more reliable.  I haven't gotten a single exception yet.

(said to see if I can provoke one... and not so far.)

[2015-06-22 01:53] cantino commented on #815
Great!

[2015-06-22 01:53] #815 closed

[2015-06-22 01:53] cantino commented on #804
Maybe we need a timeout around all WebsiteAgents?

[2015-06-22 01:54] cantino commented on #722
Would it be worth writing this up on the wiki?

[2015-06-22 01:55] cantino commented on #842
Great!

[2015-06-22 01:55] #842 closed

[2015-06-22 01:55] cantino commented on #781
Seems likely.  Glad it's fixed now :)

[2015-06-22 01:55] #781 closed

[2015-06-22 02:09] virtadpt commented on #722
I think it would.  I'll get on it.

[2015-06-22 02:24] virtadpt commented on #722
https://github.com/cantino/huginn/wiki/Using-the-Twilio-Agent

[2015-06-22 02:29] virtadpt commented on #804
That might be helpful.  Maybe make the default whatever the value of DELAYED_JOB_MAX_RUNTIME is?

[2015-06-22 05:00] cantino commented on #722
Thanks!  Are any parts of that worthy of also adding to the agent in a PR?

[2015-06-22 05:40] virtadpt commented on #722
At the moment, no.  I don't think so, anyway.

[2015-06-22 08:14] Free16t commented on #849
Sorry for the delay, I had some issues on my server.
Well, as jobs are not running anymore in my case, I can't tell you know if it's fix

[2015-06-22 08:39] Free16t commented on #849
I still have the same issue. I update Huginn and ruby's gem

[2015-06-22 09:59] Puneeth-n commented on #861
I provide the ip address in the env file and definetely it is on my ethernet network interface. I moved to docker as it worked seamlessly.

[2015-06-23 03:36] #722 closed

[2015-06-23 03:37] cantino commented on #722
Okay, it seems like you've figured this out now and documented it, so I'm going to close the issue.  Please reopen if more discussion is needed.

[2015-06-23 03:40] cantino commented on #849
@Free16t is this on the newest version of Huginn master?

[2015-06-23 07:01] Edu115 commented on #867
'''
# ==== Required configuration settings for Huginn ====

# Replace the following with the output from "rake secret"
APP_SECRET_TOKEN=[REDACTED]

# This is the domain where your Huginn instance will be running. The default should work
# for development, but it needs to be changed to your Huginn domain when you deploy to a
# production environment (e.g., yourdomain.com, possibly including a port)

[2015-06-23 07:39] Free16t commented on #849
@cantino Yes, I update using the command `git remote update` I'm using the master.
I'm using screen in order to daemonize huginn

[2015-06-23 10:14] knu opened #873 "Adding "next" page navigation to WebsiteAgent"
I've been thinking of adding a key named "next" to WebsiteAgent so you can tell an agent to navigate to the next page(s) if existent.

For instance, you could specify the following:

[code]

And if the fetched page had a link with a `rel` attribute value including "next", then the agent would navigate to the link URL.  This would be repeated until there was no "next" link.

There should also be a

[2015-06-23 14:51] cantino commented on #873
Cool!  Would just a selector and a max paginations be enough, when combined
with the normal event deduplication?

On Tuesday, June 23, 2015, Akinori MUSHA <notifications@github.com> wrote:

[2015-06-23 16:35] nris opened #874 "Question about RSS and Extraction matching with website agent"
I'm trying to pull out a full rss, from the url i wish to extract two div.
In the Website Agent:
{
  "expected_update_period_in_days": "14",
  "url": "{{url}}",
  "type": "html",
  "mode": "merge",
  "extract": {
    "body_text": {
      "css": ".filelist, .download",
      "value": "./node()"
    }
  }
}

and

DataOutputEvent:

{
  "secrets": [
    "examplerss"
  ],
  "expected_receive_period_in_

[2015-06-23 17:33] irfancharania commented on #874
What happens if, in the Website Agent, you extract the two separately as {{filelist}} and {{download}} instead of in one {{body_text}}, and then in DataOutput you join the two results together in description?

[2015-06-23 17:54] nris commented on #874
irfancharania: i tried to do something like that but dont know what to use as alternate body_text in websiteagent and how to merge the results in the output.

(im totally newbie and honestly i found out about huginn after yahoo pipes died :)

[2015-06-23 18:00] nosybore commented on #761
Had the same issue - I found this helpful. Thanks.

[2015-06-23 18:02] irfancharania commented on #874
You don't need `body_text`; you can extract whatever you want...
You could try something like this and see if it does the trick:

__WebsiteAgent__
[code]

__DataOutput__
[code]

[2015-06-23 18:12] nris commented on #874
irfancharania:
it works!
ThankYou!

[2015-06-23 18:39] HiddenKn commented on #761
Thanks! I have been looking for this all day.

[2015-06-23 21:00] #874 closed

[2015-06-24 04:34] cantino commented on #874
I'm glad that worked for you @nris.  Thanks @irfancharania!

[2015-06-24 04:39] cantino commented on #867
Well, it looks fine to me.  @virtadpt, do you notice anything odd?

To be super sure that the .env is being read, you could change `DATABASE_NAME` to gibberish and make sure the server won't start.

[2015-06-24 04:40] cantino commented on #849
You'd need to do `git merge origin/master` too, to make sure you have any remote changes.

[2015-06-24 04:41] cantino commented on #761
@dsander I don't think I really understand local Rails port binding.  Do you know if we should change a default around this?

[2015-06-24 07:39] Free16t commented on #849
You're right, I though that it was enough, I'm not yet a poweruser in git ... sorry

Thanks a lot, it does work very well

[2015-06-24 18:15] cantino commented on #849
Great!

[2015-06-24 19:08] virtadpt commented on #867
SMTP_USER_NAME=huginn@eduardoneves.net jumped out at me.
@Edu115, if you log into the Google Apps Admin page, is there a user 'huginn' set up in the Users panel?  If that e-mail address doesn't exist, it can't be used to send mail.

[2015-06-24 19:12] Edu115 commented on #867
![screen shot 2015-06-24 at 21 12 24](https://cloud.githubusercontent.com/assets/665222/8339149/bf37c960-1ab5-11e5-899e-e0a95906c8de.png)

[2015-06-24 19:22] virtadpt commented on #867
Okay, that rules that out.
Try setting the value of EMAIL_FROM_ADDRESS= to huginn@eduardoneves.net, restart Huginn, and try again.  Maybe the GMail server doesn't like it when you log in as one user but have a From: header of someone else.

[2015-06-24 20:24] dsander commented on #761
@cantino Do you mean port or interface binding? I think we could change the default web command to bind on `0.0.0.0`

[2015-06-24 23:43] reticentsmile opened #875 "Accessing locally hosted huginn through intranet"
I've been playing around with huginn and am currently done with configuring and setting up agents. Now, is it possible to allow locally hosted huginn to be accessed by anyone through intranet?
I've tried setting up alias which points to the localhost and then trying to access it through the domain alias but something seems to be missing.. Any advice?

[2015-06-25 04:27] cantino commented on #761
Interface, I guess.  Is the issue that Rails, by default, binds to localhost instead of 0.0.0.0, and that causes problems?

[2015-06-25 09:04] Puneeth-n commented on #761
I was also looking for this and was chaining the env file to listen to all ports.

[2015-06-26 03:12] cantino commented on #761
I guess we should change this then.  I don't fully understand when it's needed and when it's not.

[2015-06-26 07:42] dsander commented on #761
I agree we should change the default.

@cantino Maybe you are used to using `unicorn` in development? unicorn binds to 0.0.0.0 per default whereas `thin` just binds to localhost

[2015-06-26 07:50] dsander commented on #875
Hi @reticentsmile,

if you are running huginn in development [this](https://github.com/cantino/huginn/issues/761#issuecomment-88311126) might solve your problem. However when you not planning to do huginn development on that installation it is recommended to run huginn in the production environment.

I am working new installation instructions, the guides are not complete yet but the installation [

[2015-06-26 11:51] nris opened #876 "Generatin Pastebin RSS from Website"
Hello,
I'm trying to make a rss from an user pastebin page,

first agent i use (WebsiteAgent):
[code]

second is TriggerAgent, which from WebsiteAgent it gets

[code]
and
[code]
and so on

i need first to get rid of "/archive/text"  and then replace "/FaSCTsjp" with "http://pastebin.com/FaSCTsjp"

is it possible?

[2015-06-26 15:13] irfancharania commented on #876
You can use the EventFormattingAgent to format it however you like:

[code]

[2015-06-26 16:12] nris commented on #875
hello,
add "GatewayPorts yes" to /etc/ssh/sshd_config
run command "screen"
run ssh -R 9000:127.0.0.1:3000 user@IPHUGINNISRUNNINGON

this way im accessing from internet to huginn on a vps

[2015-06-26 17:01] nris commented on #876
there are the agents i setup to get pastebin user content to rss:

WebsiteAgent:
{
  "expected_update_period_in_days": "2",
  "url": "http://pastebin.com/u/NWPlayer123",
  "type": "html",
  "mode": "on_change",
  "extract": {
    "body_text": {
      "xpath": "//*[(@id = \"content_left\")] | //tr/td/a",
      "value": "@href"
    }
  }
}

EventFormattingAgent:
{
  "instructions": {
    "url": "htt

[2015-06-26 18:08] virtadpt commented on #876
This might make what you want to do a little easier: http://pastebin.com/api#9

[2015-06-26 19:54] cantino commented on #761
@dsander I always just run `foreman start`

[2015-06-26 20:20] #858 closed

[2015-06-26 21:49] nris commented on #876
is there a way to reverse the item display order? at the moment above agents give oldest on top and newest on bottom of the rss results

[2015-06-26 21:53] nris commented on #876
@virtadpt thanks, at the moment I'm trying to understand how to make rss from website page, pastebin is just a test

[2015-06-27 01:58] virtadpt commented on #876
Okay.  Just a suggestion.

[2015-06-27 02:03] cantino commented on #876
I don't think we have a way to reverse items right now.  That's a good suggestion.

[2015-06-27 09:59] dsander commented on #875
That does not sound like a production installation, have you looked at the guide I linked? If you follow it huginn will be available at the http port 80, proxied by nginx, which is the suggested way to run huginn in production.

[2015-06-28 14:09] knu commented on #876
I have a plan to introduce the concept of "sort key" to WebsiteAgent.  I'll open an issue later.

[2015-06-28 22:22] HiddenKn opened #877 "Error while using de_duplication"
Error: https://gist.github.com/HiddenKn/5b4e2f91f167fbc3e3c8

Event info (WebHookAgent)
  Event from YoutubePythonScript
  Expires in: never

  Payload:

  {
    "body": "New video: Mass Effect Andromeda News! ~ Way to Andromeda Discovered?",
    "url": "http://youtu.be/eavFOjFtICI"
  }

[2015-06-28 23:01] dsander commented on #877
Hi @HiddenKn,

is it possible that you deleted the memory of your DeDuplicationAgent? If that is the case I think it is a bug in the Agent. Sadly the only way to resolve it would be to clone your current agent and delete the old one.

[2015-06-29 10:00] HiddenKn commented on #877
Yup, that was the issue. Thank you!

[2015-06-29 17:15] cantino commented on #877
To clarify-- did you click the button that cleared the Agent's memory?  If so, I agree that we have a bug; Agents should know how to clear their own memory in a safe way.

[2015-06-29 18:05] HiddenKn commented on #877
Yes, I did.

On 29 June 2015 at 19:15, Andrew Cantino <notifications@github.com> wrote:

[2015-06-29 18:14] reticentsmile commented on #875
@dsander  thanks a lot for the suggestion. I've followed the one with running huginn in development and it works. Hope configuring iptables on top of it would solve the security problems. I will also try the guide for deploying it in production mode on Gentoo linux and let you know if that works!

@nris Never used screen before! But I've tried as you said and it doesn't solve my issue. Thanks!

[2015-06-30 11:46] mhow2 commented on #703
I'm having the same problem and I'm not sure to understand how to configure .env file, and if I have to restart huginn after modifications. @cantino what's the official procedure to make huginn to send mails through the local MTA (localhost, *no auth* on port 25) ? Thanks.

[2015-06-30 19:08] virtadpt commented on #703
@mhow2, this is how I do just that: https://github.com/cantino/huginn/issues/703#issuecomment-73782770

[2015-07-01 00:20] #875 closed

[2015-07-01 01:02] cantino commented on #703
Thanks @virtadpt!

@mhow2, yes, you do need to restart foreman after editing the .env file.

[2015-07-01 06:42] mhow2 commented on #703
Hi and thanks to both of you. However as I have deployed huginn with Chef Solo there is nothing about foreman. Should I use 'sudo stop/start huginn' ? ('stop' doesn't stop spring, is it normal ?) In addition I see that some SMTP variables are sitting in /etc/init/huginn-jobs-1.conf which means that editing /home/huginn would not be sufficient here (and the documentation at https://github.com/canti

[2015-07-01 09:42] reticentsmile opened #879 "nginx socket connection refused"
Followed the guide posted by @dsander on this link:
https://github.com/dsander/huginn/blob/deployment-guide/doc/install/installation.md
to host my own server.
Pretty much everything worked and the test also completed. But, when I try to access huginn through a browser, it doesn't work. On looking through logs on /var/log/nginx/huginn-errors.log, I get an error saying: connect to ........socket ...

[2015-07-01 12:14] dsander commented on #879
Hm I never had that issue during my tests.

I suppose you started huginn with `sudo start huginn`?

Can you paste the output of `/home/huginn/huginn/log/unicorn.log`? It should say something like: `INFO -- : listening on addr=/home/huginn/huginn/tmp/sockets/unicorn.socket fd=8`

If that file does not exist, check your `Procfile`, it is important that you use one of the example configuration from t

[2015-07-01 19:30] cantino commented on #703
Hey @mhow2, you should take a look at https://github.com/cantino/huginn/pull/872.  @elijah is in the process of extracting the Chef Solo system into a separate repo, since it's not super-well supported right now, and @dsander is working on an official guide for installing Huginn (without Chef).

[2015-07-01 19:36] #877 closed

[2015-07-02 17:26] reticentsmile commented on #879
It's weird. I don't see unicorn.log file inside log folder. After which I was trying to solve it for like the whole day.
Luckily, when I was retrying it again from my PC it worked, and the only difference between both is that my laptop has ubuntu 15.04 while my pc has v14.04 LTS. Still can't find in what way it affects huginn.
Also, I remembered getting an error in 15.04 initially saying "start: u

[2015-07-02 17:48] dsander commented on #879
That really sounds like like unicorn is not enabled in the `Procfile`, can you check the contents on your `14.04` installation? Both the missing log file and socket would be explained by this.

Good to know the guide also works on `15.04`, the problem with upstart was that ubuntu changed the default init system to systemd with the 15.04 release.

[2015-07-02 18:24] reticentsmile commented on #879
Sorry for the confusion, what I meant was:
14.04 - It works with your guide.
15.04:
           - I get the upstart unable to connect error.
           - After modifying initctl to return true (or forcing upstart to be the default), it doesn't throw any error when i run huginn but I don't get the message saying huginn start/running. Finally, checked open files and processes (including logs and proc

[2015-07-03 17:35] HyShai opened #881 "Liquid "split" filter causes 500 error"
When saving (or Dry Run) a WebsiteAgent that uses an interpolated `url_from_event` and the Liquid `split` filter as well, I get a 500 error - "We're sorry, but something went wrong."

Example 1 (`link` is the interpolated property):
[code]

Example 2 (`link` is the interpolated property):

[code]

(I know that in this contrived case I can use the `replace` filter)

[2015-07-03 18:35] #881 closed

[2015-07-03 18:37] HyShai commented on #881
@knu why is this an interpolation error?

[2015-07-03 19:08] HyShai commented on #881
@knu also, after updating I still get a 500 error when trying to save.

Maybe this should be reopened.

This only happens when using the split filter - this works:
[code]

[2015-07-03 19:09] knu commented on #881
Because you didn't provide the error backtrace, I tried it myself and observed this:
[code]
If this is not what is happening on your site, please paste the log.

[2015-07-03 19:12] knu commented on #881
Seems `interpolated` is also called via `#working?` and a problematic template affects the /agents page, which needs a fix.

[2015-07-03 19:14] HyShai commented on #881
That's really weird - it's a valid filter according to the Liquid docs https://docs.shopify.com/themes/liquid-documentation/filters/string-filters#split
and it works when using a hardcoded string.
[code]

[2015-07-03 19:15] HyShai commented on #881
(sorry about the logs - I'm running on heroku and I'm not sure how to access the logs....)

[2015-07-03 19:20] robbielj commented on #856
Hi

i re-open this issue as i feel adding an extra event formatting agent for each scraping instance is quite inefficient. I suppose data fields could be optional thus should not interrupt event creating (uneven number of matches error).

Another possible approach is to set a default value for cases when no value is found following scraping rules.

[2015-07-03 19:23] knu commented on #881
Evaluating a valid Liquid template still can raise an error.  `"{% assign foo = link %}{{foo[0]}}"` is valid but will raise NoMethodError when `link` is evaluated to null.
In this case, Huginn tried to validate the options in which process the above template was interpolated without an incoming event, so it failed.

[2015-07-03 19:30] cantino commented on #881
@HyShai do you get logs in the Agent logs section of the Agent?  Also, `heroku logs -n 200` should show you the last 200 lines of logs.

[2015-07-03 19:31] HyShai commented on #881
Ah gotcha thanks so much! Seems to be fixed now!

[2015-07-03 19:33] HyShai commented on #881
Actually - like @knu said - I can't access the /agents page that has that agent.

[2015-07-03 19:34] HyShai commented on #881
Wow!! You guys work fast! I gotta get involved. Brush up on my Rails first...,

[2015-07-03 19:34] knu commented on #881
@HyShai Just pushed a fix for that.  Please give it a try.

[2015-07-03 19:41] HyShai commented on #881
@cantino in this case there were no logs in the Logs section of the agent. Possibly because this issue happened when I was saving the agent, not when running it?

[2015-07-03 19:41] knu commented on #881
@cantino It is a problem that an exception (not <= Liquid::Error) Liquid's `render!()` may raise kills the whole recursive interpolation process in `interpolated()`.  It should probably offer a "safe mode" that leaves any failed template as it is, for use from validation, etc.  What do you think?

[2015-07-03 19:42] HyShai commented on #881
@knu everything seems good now. Thanks so much!

[2015-07-03 19:49] cantino commented on #881
@HyShai We'd love to have you involved!

[2015-07-03 19:50] knu commented on #881
Glad to hear that!

[2015-07-03 19:51] cantino commented on #794
@dsander Does / will your guide have a section about this?

[2015-07-03 20:53] dsander commented on #794
@cantino Yes, but the [update docs](https://github.com/dsander/huginn/blob/deployment-guide/doc/update/README.md) are pretty specific to the installation and will probably not work when running in development.

[2015-07-03 21:01] dsander commented on #879
I see. Great the installation worked on 14.04, I think we will not support 15.04 since its not a LTS release which gives us some time to either pick a different init system then upstart or ensure upstart is properly installed on 16.04.

[2015-07-03 21:52] virtadpt commented on #879
When last I heard, Upstart was being replaced with systemd.

[2015-07-03 22:38] dsander commented on #879
@virtadpt Thats correct, really not sure yet how we should be dealing with the switch, but that's something to decide in a different issue after I got my PR merged :smile:

[2015-07-03 23:46] #761 closed

[2015-07-05 05:11] HyShai commented on #859
I would love to have Regex replace functionality (without using the JS agent). As a newcomer from Yahoo Pipes - this was a huge part of my scraping pipes. E.g. to replace part of a badly formatted url.
I know that shopify doesn't [officially support regex replace](https://github.com/Shopify/liquid/issues/202)  but it would seriously be awesome.

[2015-07-05 05:17] HyShai commented on #673
This is currently a bug - when editing the JSON in the json-editor it adds quotes around the numbers, therefore it blows up in `validate_extract_options!` [here](https://github.com/cantino/huginn/blob/master/app/models/agents/website_agent.rb#L233) `when String` because it thinks it's a string.

[2015-07-05 06:03] cantino commented on #673
Hey @HyShai, can you show an example of the regex that is a number?  Or I think I'm misunderstanding.

[2015-07-05 06:05] cantino commented on #859
@HyShai Would this be a new Agent type that replaces text of events that come through it?