[2016-02-17 14:50] stefuNz commented on #166
Android +1

[2016-02-17 16:37] cantino commented on #603
Totally understand. Thanks for the answer!
On Tue, Feb 16, 2016 at 11:32 PM Chris Eidhof <notifications@github.com>
wrote:

[2016-02-17 17:50] sillygwailo commented on #892
Looks like this is merged already and it seems to be working. Closing this.

[2016-02-17 17:50] #892 closed

[2016-02-17 21:18] Jngai commented on #955
I am aware that @knu is still working on it. I have looked into his work/commits in the reference pr. I am just having trouble reproducing this error. I tried two examples mashable and wired feeds.

[code]

{
  "id": "http://mashable.com/?p=4324379",
  "date_published": "2016-02-17 20:42:14 +0000",
  "last_updated": "Wed, 17 Feb 2016 20:42:14 +0000",
  "url": "http://feeds.mashable.com/~r/Mashable

[2016-02-18 05:27] signallhill opened #1305 "Email from address be a variable."
Currently send from email is defined in .env

``# The address from which system emails will appear to be sent.
EMAIL_FROM_ADDRESS=from_address@mydomain.com

Can this be something that can be defined in email agent. So if a weather agent gives out a event that I am emailing from its email agent, the from email be weather@mydomain.com. If there is a price alert from website agent & trigger agent the

[2016-02-18 05:46] xdirty commented on #1305
Not hijack this thread from signallhill, but i had a question about emails as well.
I want to change the email address the email appears to be from to the received. i change the settings from the .env file below but nothing happens.

``# The address from which system emails will appear to be sent.
EMAIL_FROM_ADDRESS=from_address@mydomain.com

[2016-02-18 06:41] csu opened #1306 "Can't restart with existing MySQL data"
I originally ran Huginn using:

    docker run --restart=always -v /data/huginn/mysql:/var/lib/mysql -d --env-file ~/huginn_env -p 3000:3000 cantino/huginn

I had to stop it recently. Upon running the above again, I get the following error from `docker log`:

    2016-02-18 06:04:21,346 CRIT Set uid to user 0
    2016-02-18 06:04:21,346 WARN Included extra file "/etc/supervisor/conf.d/bootstrap.co

[2016-02-18 09:32] dsander commented on #1306
Hi @csu,

when did you last pull the docker image? This might be related to #1243. I will try to have a look tonight if updating the image did not help.

[2016-02-18 15:15] #1305 closed

[2016-02-18 15:16] signallhill opened #1307 "Email from address"
Currently send from email is defined in .env

``# The address from which system emails will appear to be sent.
EMAIL_FROM_ADDRESS=from_address@mydomain.com

Can this be something that can be defined in email agent. So if a weather agent gives out a event that I am emailing from its email agent, the from email be weather@mydomain.com. If there is a price alert from website agent & trigger agent the

[2016-02-18 19:49] virtadpt commented on #1307
It would be handy, I'll admit.

(By the bye, why did you close the other ticket instead of reopening it?)

[2016-02-18 20:16] signallhill commented on #1307
I closed it by mistake. Was not sure if I opened it again it would get in line to be looked at again. I dont work in IT field and not familier with these systems. I learned Huginn by reading the instructions and posting here.

[2016-02-18 21:59] csu commented on #1306
Hadn't pulled in maybe a week or so. Just pulled, restarted, and everything worked perfectly! Thanks, @dsander!

[2016-02-18 21:59] #1306 closed

[2016-02-19 05:34] cantino commented on #1305
Moving conversation to #1307.

[2016-02-19 05:40] cantino commented on #900
Sounds good. Let us know if we can help. :smile:

[2016-02-19 05:41] cantino commented on #1299
Thanks for letting us know.

I've never seen it before, so I think it's pretty safe to assume that it's due to the sleep / resume.

I'm going to close the issue, but if you or someone else sees it again in a different context, please re-open!

[2016-02-19 05:41] #1299 closed

[2016-02-19 09:04] mdazmir opened #1308 "How to deploy Production mode on Mac"
I tried to run Huginn inside Docker but it's using too much memory and decided to run in natively on my Mac. I managed to install and run Huginn in development mode on my Mac Mini (OS X El Capitan) by following the instruction on this page: [Novice Setup Guide for Mac](https://github.com/cantino/huginn/wiki/Novice-Setup-Guide-for-Mac)

 To run in production mode, I tried to roughly follow this [gu

[2016-02-19 16:37] dsander commented on #1308
Hi @mdazmir,

I don't think running in production mode will reduce the RAM usage by a lot. You can try it by switching your local development to production like this:

Add these to your `.env` file:
[code]
Bundle to remove the unneeded `development` and `test` gems.
[code]
Precompile the assets
[code]
then (re)start foreman.

[2016-02-19 16:47] TildeWill commented on #390
We're looking for a good name for the scenario directory site. I opened an issue here: https://github.com/omniscopeio/flight-plans/issues/1 please add your suggestions and I'll update the list at the top of the thread.

[2016-02-19 22:27] xdirty opened #1309 "I need more website agent html examples."
I have been trying to figure out how to extract data using the website agent, and i have successfully using json and xml but im still having trouble with regular html. The problem for has been no enough examples to study and not enough documentation. Does anyone know where i can view more examples on how to extract data from and html webpage and maybe some more documentation ?

[2016-02-20 05:47] cantino commented on #1309
I assume you've seen the ones on the wiki at https://github.com/cantino/huginn/wiki/Agent-configuration-examples?

[2016-02-20 13:20] xdirty commented on #1309
Yes that link helped me with json and xml. But there's barely any examples of extracting html

[2016-02-20 21:01] cantino commented on #1309
Do you have an example site you're trying to scrape?

[2016-02-20 21:06] cantino commented on #955
Thanks for looking into it @Jngai! @schulzpin, do you still have this issue?

[2016-02-20 21:24] cantino commented on #1290
It'd be awesome if someone wanted to try and modify `FormConfigurable` to have a raw JSON options tab.

[2016-02-20 21:25] #1291 closed

[2016-02-20 21:35] cantino commented on #1307
PR #1312 should allow this.

[2016-02-20 22:16] #1307 closed

[2016-02-21 02:22] signallhill opened #1313 "HTTP Basic Auth"
Is there a way to implement HTTP Basic Auth in huginn.

I am following https://www.digitalocean.com/community/tutorials/how-to-set-up-http-authentication-with-nginx-on-ubuntu-12-10

But where should step 3 go? Or is it even possible to do?

[2016-02-21 04:59] santoshgistto commented on #1309
@cantino i have question how we can add the pagination to scrape the next page and for also reddit
i am also trying to scrape website not succeeded here is the sample link http://simpleindianrecipes.com/

[2016-02-21 05:03] xdirty commented on #1309
Im trying to get the titles and links from http://newyork.backpage.com/buyselltrade/

Backpage has rss feeds but they update every few hours. I wanted to create my own website agent, extract all the titles then use a trigger agent to filter things im looking for .

I feel bad asking you for help again but i dont know where else to look. if theres anything guides or more examples on how to extract

[2016-02-21 10:01] dsander commented on #1313
This should work without problems, you can put the `auth_basic*` configuration directives inside the [server](https://github.com/cantino/huginn/blob/master/deployment/nginx/huginn#L23) block of your Huginn nginx configuration file.

[2016-02-21 19:00] cantino commented on #1309
@xdirty, I recommend using SelectorGadget to come up with selectors.  For that page, according to SelectorGadget, `.cat a:nth-child(1)` would work for the links.

[2016-02-21 19:03] cantino commented on #1309
So something like this:

[code]

[2016-02-21 19:04] cantino commented on #1309
@santoshgistto, there was some discussion of this in #873

[2016-02-21 19:04] cantino commented on #873
@santoshgistto requested this too.  Maybe we should re-open?

[2016-02-21 20:03] signallhill commented on #1313
Thanks worked beautifully. Is there anyother methods to this that you recommend?? I read in that this is not the best way to do it. What else can do something similar but better??

[2016-02-21 20:13] Androoz commented on #1201
Sorry for late reply @cantino and @dsander.

It did worked sort of, but I yet again got the CSS problem where the stylesheets won't load correctly. So I reverted back to my previous solution using a `config/initializers/assets.rb` file. After that I got Huginn to work and I haven't looked further into it.

[2016-02-21 20:32] cantino commented on #1201
Thanks for letting us know!  Please re-open if you have any issues.

[2016-02-21 20:32] #1201 closed

[2016-02-21 21:20] dsander commented on #1313
I am using the same way when I want to have Basic Auth for one of my applications and do not know of a different solution.

[2016-02-21 21:27] signallhill commented on #1313
Great Thanks

[2016-02-21 21:27] #1313 closed

[2016-02-21 22:29] xdirty opened #1314 "What does this error message mean?"
I had found something had terminated my huginn and when i relaunched it i starting getting this error .

[2016-02-21 22:35] xdirty commented on #1314
/home/pi/huginn/app/models/agent_log.rb:18:in `write'
/home/pi/huginn/app/models/agent_log.rb:18:in `puts'
/home/pi/huginn/app/models/agent_log.rb:18:in `puts'
/home/pi/huginn/app/models/agent_log.rb:18:in `log_for_agent'
/home/pi/huginn/app/models/agent.rb:212:in `log'
/home/pi/huginn/app/concerns/dry_runnable.rb:61:in `log'
/home/pi/huginn/app/models/agent.rb:216:in `error'
/home/pi/huginn/app/j

[2016-02-21 22:58] Jngai commented on #1088
@matk0 are you still tackling this? I am interested in this ticket.

[2016-02-22 06:53] matk0 commented on #1088
Hi,
no I’m not anymore.

On 21 Feb 2016, at 23:58, Judy Ngai <notifications@github.com> wrote:

@matk0 <https://github.com/matk0> are you still tackling this? I am interested in this ticket.

—
Reply to this email directly or view it on GitHub <https://github.com/cantino/huginn/issues/1088#issuecomment-186938984>.

[2016-02-22 09:20] knu commented on #1289
I'm not a serious/heavy user of MQTT, I just use it occasionally when I go on a trip and want to track myself, for example.  I think for serious use you'll need process persistency and/or support for a higher QoS level.

Here are some references:
- https://github.com/tierconnect/appcore2-ruby-mqtt
- https://github.com/jemc/ruby-mosq

It would be great if we could use Agent's memory as storage requ

[2016-02-22 10:03] gdomod opened #1315 "Docker cantino/huginn lose admin password after restart"
Hi

docker cantino/huginn save the password at running machine but on restart the password will be overwritten by default.

[2016-02-22 10:51] unnikked commented on #934
Deeply sorry to reply late. I'm not able to reproduce again this issue at the moment. I guess you can close for now.

[2016-02-22 11:38] dsander commented on #1314
Hi @xdirty,

how are you running Huginn? `broken pipe` looks like you redirect STDOUT so some process which closes the pipe.

[2016-02-22 11:41] dsander commented on #1315
Hi @gdomod,

it looks like we need to improve our database seeds to not touch existing users. You can avoid it by setting the `DO_NOT_SEED` environment variable when creating the container like this:
 `docker run --name huginn -e DO_NOT_SEED=true -p 3000:3000 cantino/huginn`

[2016-02-22 11:53] jmatsushita commented on #708
I'm interested in this feature and I'm wondering whether there's a workaround to implement some kind of light-weight bidirectional sync between 2 services currently?

[2016-02-22 12:57] gdomod commented on #1315
ok thanks, but how can i change the envirment startup vars without to remove the container ?

the .env also overwritten by restart if i edit in bash.

[2016-02-22 13:49] restofworld commented on #1278
Sorry,im busying with other things these days.Thank you for your help,but it didn't work yet.

[2016-02-22 14:40] dsander commented on #1278
Hi @restofworld,

when you have time to give Huginn another try I recommend you start over and follow the [manual installation guide](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md) again. You mentioned that you tried to access via `http://52.36.67.236:3000/` which would explain nginx responding with 502s and the assets not being shown. Normally you would access huginn vi

[2016-02-22 14:40] #1278 closed

[2016-02-22 19:56] dsander commented on #1315
As far as I docker does not support changing the environment variables after the container has been created.

[2016-02-22 21:25] Jngai commented on #1088
I will take a look into this ticket.

[2016-02-22 22:17] xdirty commented on #1309
Ok i downloaded selector gadget and i will play around with it. Thanks for the help

[2016-02-22 22:20] xdirty commented on #1314
Im running hugginn on a raspberry pie with 1gb ram, on raspbian with one worker.  I had had ice weasel on and i think the raspberry pie ran out of ram and thay caused this. I restarted the pie and this issue seems to have gone away.  I could be wrong, im not sure what happened

[2016-02-23 00:29] Jngai commented on #1249
@cantino The follow param is an "or" scenario and not an "and" one. So if filter is "harvard" and set to follow "me". I am getting tweets with harvard (filter) plus my own "harvard" related tweets. I am not sure if this answers what @vx28643 is looking for since its not only tweets by that user with those terms. It will be everything and will be quite messy. You will have to look for that particul

[2016-02-23 01:23] vx28643 commented on #1249
Thank you @Jngai for looking at options.

What I want is a way to follow all tweets from multiple Twitter accounts, rather than setting up a Twitter User Agent for each of them.

So either of:

* a way to follow multiple Twitter accounts with a single Twitter User Agent (i.e. easily add/remove accounts by editing a single agent).
or
* a way to tell Twitter User Agent to just follow **all** Twitter

[2016-02-23 02:11] signallhill opened #1317 "Integrate mailing list software with huginn."
I recently looked into some mailing list managers like phplist,mailman, dadamail etc. And thought it would be really nice if something like that could be integrated with huginn. Or even be part of the installation of huginn.

[2016-02-23 03:00] xdirty commented on #1309
Okay , i got everything working, SelectorGadget makes my life a lot easier. Another question. Is there a way that i can use the urls i have extracted with this agent and use them to visit and generate a description of each one ? Then combine them into one, that has title description and link ?

[2016-02-23 03:55] cantino commented on #934
Thanks!

[2016-02-23 03:55] #934 closed

[2016-02-23 03:56] cantino commented on #934
Please re-open if you'd like to discuss further.

[2016-02-23 04:00] cantino commented on #1317
What did you have in mind?

[2016-02-23 04:02] cantino commented on #1309
I think you could send them to a WebsiteAgent, extract the page title, and merge it into the incoming event, then combine them with a DataOutputAgent.

[2016-02-23 04:08] cantino commented on #708
I'd love to see Huginn get better at bi-directional sync.  It's not great at it yet -- I think it's missing a core concept of shared state.  Definitely interested in contributions in this area.

[2016-02-23 05:20] signallhill commented on #1317
I was just thinking since Huginn is all about getting information through agents and then getting alerts through emails. Right now its confined to either people who know what they are doing with all these different systems or someone who has lots of time and  to go through and learn. But that leaves behind people who are neither.
So instead of having others get down and dirty with getting their ow

[2016-02-23 09:39] jn11 commented on #1116
I've been running some apps on heroku with the suggested patch for more
than 1 month and is working fine

On Thu, Feb 11, 2016 at 6:36 AM, Andrew Cantino <notifications@github.com>
wrote:

[2016-02-23 09:40] jn11 commented on #1114
I didn't test it again with no agents.

On Sat, Feb 20, 2016 at 10:37 PM, Andrew Cantino <notifications@github.com>
wrote:

[2016-02-23 13:20] gdomod commented on #1315
i give docker a try with --env-file parameter maybe i can change the parameter after named run.

[2016-02-23 13:20] #1315 closed

[2016-02-23 13:31] gdomod commented on #1258
signup with "try-huginn" and connect to bash with docker exec -it DOCKERNAME /bin/bash

mysql -uroot -ppassword huginn_production
update users set admin=1 where id=1;

#create a admin users

[2016-02-23 14:00] dsander commented on #1258
@gdomod Sorry, I don't follow?

[2016-02-23 14:23] gdomod commented on #1258
@dsander i also create a docker huginn container with do-not-seed.
the problem is there are no admin created.

my workaround are:
i opend the signup page and register a new account.
after this i connected to docker container and edit the mysql user table and make registred user as an admin user.

[2016-02-23 14:28] gdomod commented on #1309
`{
  "expected_update_period_in_days": "2",
  "url": "http://www.fussballgucken.info/fussball-alle-termine",
  "type": "html",
  "mode": "on_change",
  "extract": {
    "date": {
      "xpath": "//*[contains(@class,\"time\")]",
      "value": "concat(../../preceding-sibling::*[contains(@class,\"date\")][1]//text(), \" \",.//text())"
    },
    "wettbewerb": {
      "xpath": "//*[contains(@title,\"

[2016-02-23 17:24] screamolic opened #1318 "i cant access on browser"
error nginx

[2016-02-23 18:58] signallhill commented on #1318
Try restarting your instance. It usully works for me.

[2016-02-23 19:39] dsander commented on #1258
Ah I see, yes that is a good tip.

[2016-02-23 19:42] dsander commented on #1318
@screamolic It would be nice if you could be more specific, if you used the manual installation guide we have a [troubleshooting](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md#troubleshooting) section at the bottom of it.

[2016-02-23 20:37] dsander commented on #1314
That could be it, did runit automatically restart the process?

[2016-02-23 22:37] screamolic commented on #1318
i will try again ..

[2016-02-23 23:22] xdirty commented on #1314
Im sorry im not sure what you mean, im very new to linux and huginn. huggin stopped running completely if thats what you are asking.

[2016-02-23 23:27] screamolic commented on #1318
i got error

Couldn't create database for {"adapter"=>"mysql2", "encoding"=>"utf8", "reconnect"=>true, "database"=>"huginn_development", "pool"=>20, "username"=>"huginn", "password"=>"huginndb", "host"=>nil, "port"=>nil, "socket"=>"/var/run/mysqld/mysqld.sock", "strict"=>false}

[2016-02-23 23:35] dsander commented on #1318
When you created the database user like in the [database](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md#4-database) section you need to change `DATABASE_NAME` in `.env` to `huginn_production`

[2016-02-23 23:37] dsander commented on #1314
I assumed you installed huginn using the [manual installation guide](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md), that would make runit manage the huginn processes and should automatically restart huginn when it died due to an error.

[2016-02-23 23:42] xdirty commented on #1314
oh i have a local installation so i cant even access huginn outsite of my network. it definitely doesn't restart it self.

[2016-02-23 23:49] screamolic commented on #1318
i miss that. thanks

[2016-02-24 03:26] #1318 closed

[2016-02-24 03:35] screamolic opened #1319 "support spinner ?"

[2016-02-24 06:11] restofworld commented on #1278
Hello there,I tried again, the problem still exists. I do not know how to solve. I like huginn, I hope for your help.
http://52.37.1.247:3000/

[2016-02-24 07:13] gdomod commented on #1200
works thanks

[2016-02-24 07:13] #1200 closed

[2016-02-24 08:24] dsander commented on #1278
Did you follow the manual installation guide? If you did did you maybe forget to make changes to the [`Procfile`](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md#install-init-script)?

[2016-02-24 08:25] dsander commented on #1314
I see, are you starting huginn with `foreman start`? As far as I know foreman does not automatically restart processes.

[2016-02-24 11:06] gdomod opened #1320 "Feature Code Agent"
can we add a code agent ? please :)

I could well imagine, that we have a parameter for binaries
ilke /usr/sbin/python

and the code block with the prgramm code
the return value could the agent response and must be return by code as json string

[2016-02-24 11:08] restofworld commented on #1278
I was done in accordance with guidelines,but i don't kown how to changje the procifle!

[2016-02-24 14:26] gdomod commented on #1285
Website agent for parsing ebay, you just need to add Email or Pushbullet agent
[code]

[2016-02-24 15:53] dsander commented on #1320
Did you have a look at the `ShellCommandAgent`? You can run any command you like with it.

[2016-02-24 20:22] dsander commented on #1278
My guess is you are using the default Procfile, which would explain huginn listening to port 3000.

Open the Procfile:
`sudo -u huginn -H editor Procfile`
Comment out (disable) [these two lines](https://github.com/cantino/huginn/blob/master/Procfile#L6-L7)
Enable (remove the comment) from [these lines](https://github.com/cantino/huginn/blob/master/Procfile#L24-L25)

After that continue with the gu

[2016-02-24 21:07] Jngai commented on #1249
@cantino The user agent is using `twitter.user_timeline` instance method to return 20 tweets from a user. There is actually a `home_timeline` method that

This should answer the question. If it does would it be appropriate to modify the user agent and or create a new twitter agent?

[2016-02-24 21:14] Jngai commented on #846
@cantino I think a TwitterTimelineAgent (like twitter user agent) will solve this problem and #1249 as well. Using "with" attribute to streaming agent won't solve #1249 because he doesn't want search terms.

[2016-02-24 23:17] BinaryPaean commented on #1288
@loganfreeman

If you are using docker, this /may/ be related to a very similar problem I ran into, which is that the override/priority order for the database connector env vars are a little confusing.

In my situation, when I [linked a postgres docker container](https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/) to the huginn container, and then specified some addit

[2016-02-25 05:02] cantino commented on #1200
Great!

[2016-02-25 05:06] restofworld commented on #1278
Wow!It work well now,thank you very much.You are a nice and very professional.

[2016-02-25 05:21] cantino commented on #1278
:)

[2016-02-25 05:22] cantino commented on #1320
See also the JavaScriptAgent.

[2016-02-25 05:34] cantino commented on #1249
It seems a bit silly to have multiple types of Twitter agents.  Do you think it makes sense to add this feature to your new `TwitterFavoritesAgent` and call it just the `TwitterTimelineAgent` or something?  Maybe it could select between modes?

[2016-02-25 08:06] dsander commented on #1278
Great, glad it works!

[2016-02-25 15:25] jmatsushita commented on #708
Hi @cantino

Here's some design thoughts about this (not sure I can contribute code unfortunately).

I agree that shared state is a key component here. I'll look at the use case of trying to synchronise a Google Calendar with the calendar in a hypothetical project management software with an API. Focusing on a use case like calendar sync and well defined and adopted standards like CalDav might be

[2016-02-25 18:27] brunoqc commented on #694
I'm closing this since the Vagrantfile was removed in 9f260d6c217097ce16c1ffaf5f61e8f3f7aa8265.

[2016-02-25 18:27] #694 closed

[2016-02-25 19:25] Jngai commented on #1249
#1321 I added the option to twitter user agent. Turns out user_timeline-instance_method are nearly identical to home-timeline-instance method. It makes more sense to add this feature in user agent. Tested both locally and through spec. Description updated. There is a new pull request for this.

[2016-02-26 15:38] mightymt commented on #1116
@cantino I also didn't notice any problems whatsoever since applying this patch almost 3 weeks ago.

[2016-02-26 19:52] Jngai commented on #1256
I can look into this.

[2016-02-26 20:04] cantino commented on #1249
Awesome!

[2016-02-27 09:47] dsander commented on #1268
Docker fixed the issue.

[2016-02-27 09:47] #1268 closed

[2016-02-29 00:23] cantino commented on #166
I've added a bounty to this issue.  Perhaps React Native would be a good choice?

[2016-02-29 00:24] cantino commented on #1121
I've added a bounty to this issue.

[2016-02-29 00:26] cantino commented on #416
Refunded all bounty placers and moved my portion to https://github.com/cantino/huginn/issues/166 and
https://github.com/cantino/huginn/issues/1121.

[2016-02-29 01:33] somadona opened #1324 "NO css loading"
I have successfully installed Huginn but as image attached no css is loading although functions looks to be working.
![2016-02-29_3-32-02](https://cloud.githubusercontent.com/assets/17308512/13383633/1b7144d8-de95-11e5-9043-ba3c9b388254.jpg)

Can you please tell me what is wrong ?

[2016-02-29 04:39] cantino commented on #1324
You likely need to compile assets.  How did you install Huginn?  Via the https://github.com/cantino/huginn/blob/master/doc/manual/README.md guide?

[2016-02-29 04:40] somadona commented on #1324
Yes did exactly as in the guide above.

[2016-02-29 05:29] somadona commented on #1324
I have that messages while compiling ruby after command "make -j`nproc`"

Failed to configure -test-/win32/console. It will not be installed.
configuring -test-/win32/dln
Failed to configure -test-/win32/dln. It will not be installed.
Failed to configure -test-/win32/dln/empty. It will not be installed.
configuring -test-/win32/fd_setsize
Failed to configure -test-/win32/fd_setsize. It will not be

[2016-02-29 10:06] dsander commented on #1324
This looks like you are running on windows? We only support *NIX operating systems for the manual installation guide. I recommend you have a look at [out docker images](https://github.com/cantino/huginn/tree/master/docker).

[2016-02-29 13:38] gdomod commented on #1320
JavaScriptAgent has to few function (like xmlhttprequest)
and
it would be nice i can edit online my scripts, with shellcommanderagent i need to upload the script and i use a docker container. its not so funny to edit

[2016-02-29 17:26] dsander commented on #1121
I will be working on that as part of my contract with www.kreuzwerker.de

Features we have planned:

* List users
* Create new users from the admin interface
* Edit existing users
* Make devise options configurable (lockable variables, confirmable durations, etc.)
* Manually de- and reactivate a user (should also stop the agents from running)

[2016-02-29 17:35] albertsun commented on #1121
One other feature request for something I think would be useful: the ability for admin users to directly make changes to a user's agents.

[2016-02-29 17:50] somadona commented on #1324
NO I have installed on Ubuntu 14

[2016-02-29 19:02] dsander commented on #1324
I see, you might have the same problem as described in [this issue](https://github.com/cantino/huginn/issues/1278#issuecomment-188136688).

[2016-02-29 20:47] Jngai commented on #1256
#1325 I opened a pr for this and is currently waiting for feedback.

[2016-02-29 21:28] somadona commented on #1324
@dsander Thank you your reference solution fixed it :)

[2016-02-29 22:44] Jngai commented on #801
@stvnrlly are you still working on this? I may be interested.

[2016-03-01 01:19] dsander commented on #1324
Great, glad it works.

[2016-03-01 01:19] #1324 closed

[2016-03-01 07:47] cantino commented on #1121
Awesome @dsander!

[2016-03-01 07:49] cantino commented on #1256
Thanks @Jngai! @hcampan, would you be able to test @Jngai's PR?

[2016-03-01 07:51] cantino commented on #1324
@somadona Do you have a suggestion on where we could add a warning to the docs to make this clearer?

[2016-03-01 09:35] hcampan commented on #1256
Sure ! How do I proceed. Sorry for my lack of "how to" on this.

[2016-03-01 15:34] Jngai commented on #1256
@hcampan, update yourself with the newest version of huggin code

afterward try this

`git fetch origin pull/1325/head:emailtest`
then
`git checkout  emailtest`

The first command pulls my pr into a new branch locally in your machine. Then the second command switched your app to that version. I just tried this.

Please don't push anything and delete emailtest branch after testing.

[2016-03-01 16:01] hcampan commented on #1256
Thanks @Jngai

I appreciate your explanation, but I do not have enough knowledge bricks to make it work. I installed Huginn with https://github.com/cantino/huginn/blob/5fa18248666308624afa75ad4e3a370e26a3ae24/doc/manual/installation.md#install-init-script

I suppose I have to get to home/huginn/huginn$ and type your commands, but it didn't work even using sudo. I also went to https://help.github.c

[2016-03-01 16:49] Jngai commented on #1256
@hcampan lets wait for @cantino to chime in and confirm.

[2016-03-01 21:29] Jngai commented on #350
I will work on this ui change.

[2016-03-02 06:15] somadona commented on #1324
@cantino Sure I recommend make the following change on here:
https://github.com/cantino/huginn/blob/master/doc/manual/installation.md

Install Init Script
Huginn uses foreman to generate the init scripts based on a Procfile
Edit the Procfile and choose one of the suggested versions for production:
sudo -u huginn -H editor Procfile

To be:
Install Init Script
Huginn uses foreman to generate the ini

[2016-03-02 06:47] cantino commented on #1256
Hey @hcampan.  There are general update [instructions here](https://github.com/cantino/huginn/blob/5fa18248666308624afa75ad4e3a370e26a3ae24/doc/manual/update.md), but those don't go into how to point at a fork.  It's probably not worth trying to manually test in your production setup.

Don't worry about it! I'll test this out soon and we'll get it merged.

[2016-03-02 06:52] #1249 closed

[2016-03-02 13:48] dsander commented on #371
I will open a PR which implements parts of the feature request.

We were also thinking about moving some configuration options from `.env` to the database. At first we planned just to move those options that do not require a restart of Huginn, but then realized that we do not have a way to propagate the changes to all application servers, so a restart would be required for every change made.
Now I

[2016-03-02 13:49] dsander commented on #1121
@albertsun That is a great idea, I might work on this after we have the initial version merged.

[2016-03-02 15:50] Jngai commented on #846
@sillygwailo I modified the twitter user agent to display home timeline/tweets for an authenticated twitter user and their followers here #1249 . The ticket is closed and the pr merged in. I think this solved your problem. @cantino this issue is similar to #1249 you may be able to close this issue as well.

[2016-03-02 16:53] Jngai commented on #243
@cantino you meant to say upgrading the jsoneditor and not replacing it right? just double checking.

[2016-03-02 21:54] Jngai commented on #1088
I am going to put this on hold. I did some research and didn't think the doc is that robust. Google mixed with ruby and google api client is in alpha mode.

[2016-03-02 21:55] Jngai commented on #321
Let me try this when I have a chance.

[2016-03-02 23:59] gtramontina commented on #321
I'm sorry, everyone... I just have too many things on my plate now.. :disappointed:

[2016-03-03 00:44] Jngai commented on #321
@gtramontina hey I pulled down your old commit and is currently working on it.

[2016-03-03 06:37] cantino commented on #371
@dsander some options could presumably be stored in the DB and loaded every time they're used.  A new ActiveRecord object called Setting or something.  Which options were you interested in making dynamic?

[2016-03-03 06:38] cantino commented on #243
@Jngai, I didn't have a clear vision.  It could mean improving the existing UI by working on https://github.com/cantino/jsoneditor (which is, I think, the same code as is checked into Huginn).  Another option could be a full replacement if you can find (or write) something better.

[2016-03-03 09:19] dsander commented on #371
Have to (or should) stay in .env:
[code]

Require restart:

[code]

[2016-03-03 09:25] dsander commented on #321
@Jngai Did you see #1301? It should be possible to adapt the same concept for the DropboxAgent.

[2016-03-03 16:40] #1317 closed

[2016-03-03 19:46] signallhill opened #1327 "Error when installing"
Trying to install new instance of Huginn with Ubuntu 14.04

when i get to here

sudo -u huginn -H bundle exec rake db:seed RAILS_ENV=production SEED_USERNAME=admin SEED_PASSWORD=yourpassword

get error

user admin@example.com already exist. not seeding

If I move on and do all the steps. The website gives Bad Request error.

[2016-03-03 21:47] elvetemedve opened #1328 "Setup Gmail with Email Digest Agent"
I would like to use my Gmail account to send notifications from Huginn.
I followed the [documentation](https://github.com/cantino/huginn/blob/master/.env.example) to configure the Docker container. Running the email digest agent does not report an error, but I haven't got any email. I also checked the `/app/log/production.log` file inside the container, but it was empty.
What did I do wrong? Why t

[2016-03-03 22:54] Jngai commented on #841
I will take a look into this ticket.

[2016-03-04 06:50] cantino commented on #1327
If you pull from master, I believe @dsander recently fixed this.

[2016-03-04 06:58] cantino commented on #1328
Hi @elvetemedve.

Do you have any messages in the Agent logs in the UI?  I assume you configured the ENV variables for the email username and password, etc?

[2016-03-04 07:02] cantino commented on #1317
It's an interesting idea @signallhill, thank you.  It would probably make the most sense if someone ran a separate mailing list system and then let people subscribe to Huginn scenarios that they ran.

[2016-03-04 08:26] dsander commented on #1327
Bad request probably means that unicorn did not start. @signallhill Did you check the  [logs](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md#troubleshooting)?

[2016-03-04 08:28] dsander commented on #1328
@elvetemedve You access the logs with `docker logs <container name>`

[2016-03-04 08:57] elvetemedve commented on #1328
Hi @cantino,
The only message I see is this: `Sending digest mail to ******@gmail.com with events [2]`.

Hi @dsander,
I triggered the agent and watched the logs. I guess these are the relevant lines:
[code]
However I don't see any email or SMTP related info.

[2016-03-04 09:11] level20peon commented on #1103
Since this doesn't seem to get solved I would like to know if it's possible to run specific clients via console.
I have a keepalive script which restarts huginn in case it crashes (and in some other circumstances) and would like this keepalive script to run specific agents for the first time on a specific time after starting huginn (like on 6am, 12am, 6pm, 12pm). For that I need a console command.

[2016-03-04 10:52] dsander commented on #1328
That does not look like the agent attempted to deliver a mail, did the Digest Agent have event in its memory queue?

[2016-03-04 11:25] elvetemedve commented on #1328
@dsander It seems to be empty at the moment.

I made few screenshot of the configuration. See it here: https://drive.google.com/folderview?id=0B2tXOm0gFdwed0tDZFVSQ3ZqSTg&usp=sharing
Can you spot any problem?

[2016-03-04 11:43] dsander commented on #1328
The configuration looks correct, when you re-emit the event of the RainNotifier it should be added to the email digest agens memory again. Running the digest agent afterwards should send an email, or at least show an error in the docker logs.

[2016-03-04 13:12] elvetemedve commented on #1328
They key was **re-emitting** the event of the Rain Notifier. At the time the event was created, the SMTP setup was wrong. I amened it later, but only re-run the Email Digest agent which did not do anything, because of the empty memory queue.

So it works perfectly.
Thank you for helping me.

[2016-03-04 13:12] #1328 closed

[2016-03-04 15:29] signallhill commented on #1317
Yes. I saw that MailChimp able to do this. Sorry, I am learing myself all this things.

[2016-03-04 16:09] signallhill commented on #1327
I did the install again, making sure I follow all the instruction. I can see Huginn login page, but

sudo -u huginn -H bundle exec rake db:seed RAILS_ENV=production SEED_USERNAME=admin SEED_PASSWORD=yourpassword

Said user admin@example.com already exist. not seeding.

I cannot login to the admin page. I am guessing this command would pull the master according to the instruction.

sudo -u huginn -

[2016-03-04 16:11] dsander commented on #1327
Did you already seed the database before without providing the changed SEED_PASSWORD? We changed the seed script to not change existing users, if admin@example.com already exists. Try logging in with "admin" and "password".

[2016-03-04 16:12] dsander commented on #1328
Glad we could help!

[2016-03-04 16:14] signallhill commented on #1327
I just followed the instruction. Copy Paste.

Yes user: admin password: password worked.

[2016-03-04 16:14] #1327 closed

[2016-03-04 18:51] Faberman commented on #1287
All listings have images. Anyway there's always a dummy image (for example: http://thumbs.ebaystatic.com/images/i/272155657052-0-1/s-l225.jpg).

I tried all the combinations of selectors, but without success. Then I tried http://webscraper.io and it scraped everything without any problems. The selectors were `a.vip` for titles, `img.img` for images and `a.vip` with `href` attribute for links. So I

[2016-03-06 07:45] DreamFlasher opened #1333 "Monitoring Working Status of Agents"
I would like to get a notification if one of my agents is not working anymore. Is there an Agent which can create events if the status changes from Yes to No or an agent which can pull the information?

[2016-03-06 12:42] dsander commented on #1333
Hi @DreamFlasher,

we do not have an Agent for that at the moment, but it sounds like a good addition. Would you be interested in working on it?

[2016-03-06 14:16] DreamFlasher commented on #1333
Hi @dsander,

Well, of course I'd prefer if it already would exist :D so when I tried to extend the rss agent to support variables (don't know the right term) I realized that it requires considerable amount of time to get started with the Ruby templating you use for the agents... If there would be a tutorial on how to write your own agent that would make it easier to get started for new contribute

[2016-03-06 16:20] dsander commented on #1333
We have a [wiki page](https://github.com/cantino/huginn/wiki/Creating-a-new-agent) that should explain the basics, does that help?

[2016-03-06 21:40] DreamFlasher commented on #1333
Nice! That's definitely helpful. How would I retrieve a list of all Agents from one agent? How do I access the info if they are working or not? Would I do that via a DB query?

[2016-03-06 23:23] cantino commented on #1333
From within an Agent, `user.agents` should be all of the owning User's Agents.  You could loop over them and call `working?` on each one.

[2016-03-06 23:27] cantino commented on #1103
It'd be a bit hacky, but `rails runner "Agent.run_schedule('11am')"` would run the 11am schedule, or `rails runner "Agent.async_check(123)"` would run the check for Agent#123.

[2016-03-07 00:00] cantino commented on #1287
Is it possible that the page is responding with different data for Huginn's user-agent string?  You might see if anything is better when setting `user_agent` in the WebsiteAgent to that of Chrome or Firefox.

[2016-03-07 00:02] cantino commented on #371
I'm generally a fan of 12 factor apps, so I like having stuff in the environment.  Do you see a benefit of pulling some application-wide settings into the app and leaving some in the env?  I definitely see a benefit for any user-specific settings, but app-wide ones seem more like .env settings to me.

[2016-03-07 00:04] level20peon commented on #1103
Thanks, that looks promising. Could you elaborate on "would run the check for"... does it run the agent when I issue this command or does it perform some kind of check which might result in the agent not being ran?

[2016-03-07 00:06] cantino commented on #1103
It runs Agent 123's `check` action (that would normally run on a schedule).  It doesn't trigger `receive`, which is what would happen if an event were coming in.  You could also force event propagation if any events are waiting with `bundle exec rails runner "Agent.receive!"`.

[2016-03-07 00:10] level20peon commented on #1103
If I issue this command for a Delay Agent, what would happen? Would it cause the Delay Agent to pass the cached events or would it just check for incoming events? I just need Delay Agents to be synchronized, every command achieving a result other than that, I cannot use in my scenario.

[2016-03-07 00:14] cantino commented on #1103
It looks like `bundle exec rails runner "Agent.async_check(123)"` on DelayAgent#123 would cause it to emit.

[2016-03-07 00:15] cantino commented on #1103
I also agree that a more cron-like system would be a good addition.

[2016-03-07 00:17] cantino commented on #846
Thanks @Jngai!  Please re-open @sillygwailo if this didn't fix the issue.

[2016-03-07 00:17] #846 closed

[2016-03-07 00:18] cantino commented on #1324
Thanks @somadona, @dsander just made these changes.

[2016-03-07 00:20] cantino commented on #1320
It would be interesting if we could extend our embedded JavaScript / CoffeeScript agent to be able to make web requests.

[2016-03-07 06:39] cantino commented on #708
Thanks for the thoughts @jmatsushita.

I've thought about shared state (a new model, State, that a collection of Agents can maintain and try to synchronize from/to), and about ways to ensure that any Agent that reads and writes data avoids loops.

I'd like to make the smallest possible change to get simple synchronization working.  Huginn already does a huge number of things, so I'd like to keep t

[2016-03-07 06:41] #1256 closed

[2016-03-07 11:48] level20peon commented on #1103
ok here's my workaround until a cron-like system will be implemented. I want my Delay Agents to be ran twice a day, on 06:00 and 18:00. So depending on when huginn gets started this script waits for the next occurence of either those times and then runs all Delay Agents:

    current_epoch=$(date +%s)
    HOUR=`date +"%H"`

    if [ "$HOUR" -lt "6" ]; then
        target_epoch=$(date -d 'today 6:0

[2016-03-07 18:52] Jngai commented on #1276
@knu do you have an update for this issue?

[2016-03-07 23:21] elvetemedve opened #1337 "Is there any aggregate agent in Huginn?"
Let's suppose I have two agents, both emitting events like:
[code]
and
[code]

What I would like to get is an aggregated event by merging the two:
[code]
Is it possible to do in Huginn?

[2016-03-08 03:25] cantino commented on #1337
Hey @elvetemedve. That's a great question and suggestions.

Huginn doesn't really synchronize Events, so it'd be hard for it to know which ones you want to merge. Perhaps an Agent could have a window of time that it looks back, then merges any events received in that time into a single new one.  Would that work?

[2016-03-08 06:50] A20229 opened #1338 "multiworker efficacy"
Hi~,I use the delayed job gem under rails to do something.
I use the 4 workers ,10 workers,50 workers,70 workers,100 workers to do the same number of jobs.
When number of workers from 4 to 10,the time for complicate the process decreasing,but when number of workers from 10 to 50&70&100,I get the same time for complicate the same number of jobs.
For the situation,it means the worker's efficacy has

[2016-03-08 08:13] dsander commented on #1338
Hi @A20229,

I have never benchmarked delayed_job with that many workers. How many jobs did you enqueue in your test? Per default delayed_job fetches 10 queued jobs per run, when you using 100 workers you should test with at least 1000 jobs so see a difference. An other question would be how does the load of your system look?

[2016-03-08 08:45] A20229 commented on #1338
Just give a example but real test :

TEST1 : I insert 5000 jobs in my delayed_job table ,all associate just one agent(output a event) , and use 10 workers to run, my Delayed::Worker.read_ahead = 5 ,then I get the complete time == 33 seconds(the time get by last event's created time - first event's created time)

TEST2 :  I insert 5000 jobs in my delayed_job table ,all associate just one agent(outp

[2016-03-08 09:45] elvetemedve commented on #1337
Hey @cantino,

That sounds good to me. Thanks for the hint.
I'll try to put together someting like this using a Javascript Agent. If I can get the [list of connected sources and the actual source](https://github.com/cantino/huginn/wiki/Formatting-Events-using-Liquid#objects-provided-by-huginn) of a received event, then it should not be too hard.

[2016-03-08 11:39] dsander commented on #1338
That is interesting, did you also try what effect lower values of `DELAYED_JOB_SLEEP_DELAY` have?

[2016-03-08 14:08] Faberman commented on #1287
I've changed `user_agent` and it fixed the problem with images. Thank you!

Still have an issue with missing listings though. Is there any way to debug Website Agent?

[2016-03-08 14:58] nineralpha opened #1339 "Agent cloning for Users..."
I have Huginn deployed on ubuntu on my laptop.. i want to clone all agents of admin user for every new user.... can anyone help me with the query???

[2016-03-08 15:41] MingShyanWei commented on #1338
Hi @dsander,

I have the same result.

I found that delayed_job processing can not be increased with the multi worker.

30 multi works =  20 multi works  = 10 multi works > 5 multi works  > 1 multi works  @4 Core CPU / 32G Memory

But I never try DELAYED_JOB_SLEEP_DELAY .... :)

[2016-03-08 15:49] dsander commented on #1339
Hi @nineralpha,

you could put all your agents into a scenario and export it. Then on every new you create import the scenario.

[2016-03-08 15:51] dsander commented on #1338
I am not sure what is the limiting factor, if the jobs are CPU heavy it will be the CPU, when you are downloading websites it might be the bandwidth, what kind of jobs/agents are you running?

[2016-03-08 16:10] MingShyanWei commented on #1289
Hi @r04r @cantino ,

I have a lot of experience in MQTT.
I try to answer your question.

The MQTT agent will connect and keep N seconds ... than disconnect.

Have 2 method.
1.  Modify "mqtt_agent.rb" .   Connect with Client_ID(must fixed)  and  clean_session = FALSE.
     And Subscriber topic with QoS 1/2
     And the agent executed once before publish.

     when Publisher send message with QoS 1

[2016-03-08 16:23] MingShyanWei commented on #1338
I make a simple agent...counter... A=A+1

I'm sure not bandwidth,
and CPU usage above 60%, memory usage less than 8G.

I need a more time to test.

[2016-03-08 22:13] Jngai commented on #1276
@knu if you don't mind, I plan to try it. I was looking at the rss agent and think it is manageable.

[2016-03-08 22:33] elvetemedve commented on #1337
Is there a way to get the IDs of connected source agents from a Javascript Agent?

[2016-03-08 23:49] dsander commented on #371
The main beneficiaries would be docker users, if almost all configuration options would be stored in the database one would not need to recreate the container but only update the settings and restart. For some installation methods (manual install with upstart and maybe docker when the docker socket is mounted), we even could offer an automatic restart.
I was excited about having the configuration

[2016-03-09 06:07] cantino commented on #1287
Glad it's fixed.  That's annoying of them.

[2016-03-09 06:07] #1287 closed

[2016-03-09 06:09] cantino commented on #1337
I don't think we have a JS API for that right now, but it would be pretty strightforward to add if you'd like to give it a try.  Expose the Ruby result of `sources.pluck(:id)`, basically.  Want to give it a try?

[2016-03-09 09:00] elvetemedve commented on #1337
My Ruby knowledge is not too deep, so I won't try it now. IMHO a native agent would be better as a final solution. I think of the Javascirpt Agent implementation as a proof of concept.

[2016-03-09 13:37] nineralpha commented on #1339
O yes.. Thanks man that may help. i am going to try it

On Tue, Mar 8, 2016 at 8:49 PM, Dominik Sander <notifications@github.com>
wrote:

[2016-03-09 15:09] darrencauthon opened #1341 "Consider Treant for Agent Diagram"
I was looking for a visualization tool and I came across Treant.  I'm not going to use it for what I need, but it reminded me of the Huginn agent visualization.  I've found that the more agents I have, the more I look at that tree tool.

Treant offers the same sort of tree visualization as Huginn has, but... it seems to have more options (hide/show, multiple buttons, etc) and might make it possibl

[2016-03-09 16:18] level20peon commented on #1103
Well the workaround doesn't work as intended. It does in fact run the Delay Agents at the time I want but the scheduler doesn't reset their timers when they get run. So let's say a Delay Agent currently has a 12h schedule which has its next iteration at 9am. Now I run all Delay Agents at 6am with the script above. The scheduler still runs said Delay Agent again at 9am (and then at 9pm, again at 9p

[2016-03-09 16:37] dsander commented on #1103
Does it work when you change the DelayAgent to the "never" schedule and only have it run by your script?

[2016-03-09 17:07] level20peon commented on #1103
Probably, but I would have to run it by script all the time, which defeats the purpose of the built in scheduler. I'd rather "just" reset the built in scheduler somehow.

[2016-03-09 18:02] Jngai commented on #1276
@Lenbok I don't think there is a way to select your own urls. I was looking into the agent. Turns out its pretty reliant on feed-normalizer and the url has already been selected. On the upside did you notice that the alternative links that you were looking for are actually in the content section? Hope this helps.

[code]

[2016-03-09 19:14] Jngai commented on #1319
Do you mind elaborating more on this issue (like this http://spinner.fullcontentrss.com/) ?

[2016-03-09 20:46] elvetemedve commented on #813
Just a tiny suggestion: I would like to see the nodes coloured in the diagram view in the same way how scenario labels are shown in the agent view.

[2016-03-09 21:06] willenglishiv opened #1342 "CDATA escape character in DataOutput Feed"
I have an iTunes podcast feed that I'm trying to convert to use for a social media delivery platform.

I have a website agent pulling in the feed, and I noticed that everything is wrapped in CDATA tags on title, description, etc.

On the data output feed, it seems to be wrapped in CDATA from the raw feed, however when I view the feed in firefox and subsequent social media platforms, we're getting

[2016-03-09 22:17] elvetemedve commented on #1337
I managed to create a simple event aggregate agent which merges the events from sources into a singe event.
Here is the JS code of it:
[code]

IDs of the source agents are stored in a static array. It could be eliminated if it were a native agent.
Similarly I have a static configuration of sources which could trigger the merging. This also could be configured by ticking in checkboxes as a native a

[2016-03-09 22:30] elvetemedve commented on #353
Current implementation of User Location Agent does not help much when I need to know whether the location belongs to a pre-defined area or not. So I created a JS Agent which generates "enter" or "leave" events depending on previous locations and the circle area defined by a GPS coordinate and a radius.
Here is the code below if someone needs it. Feel free to play with it, if you find it useful.
[c

[2016-03-10 00:13] Jngai commented on #353
I will be working on the github agent.

[2016-03-10 02:43] screamolic commented on #1319
thatswhat i want.  thats will be good .

[2016-03-10 03:43] JosefJezek commented on #700
Please Firebase...

https://zapier.com/zapbook/firebase/

[2016-03-10 04:19] thelittlesaul commented on #1127
Need help for generating an array of company info from an array of company link which is a concated string from an incoming event:
"https://index.co/company/google/hovercard,https://index.co/company/twitter/hovercard"

This is the current setting which I found not working,

[code]

Question 1. The split template seems not giving an array output, should I use an Event Formatting Agent for that inst

[2016-03-10 05:28] cantino commented on #1341
Hey @darrencauthon.  Looks interesting.  I wonder if it's as flexible as our SVG output?  Also, can it handle loops?

[2016-03-10 05:33] cantino commented on #813
Nice idea @elvetemedve, would you mind submitting a separate issue for this?

[2016-03-10 05:35] cantino commented on #1337
Cool!  If you want to try it as a native agent, I'm happy to answer questions and offer code review.

[2016-03-10 05:36] cantino commented on #353
Neat @elvetemedve! If you're interested, you could make a Wiki page documenting some of the more interesting JS agents you're building.

Awesome @Jngai!

[2016-03-10 09:09] level20peon commented on #1103
ok, I created a workaround for the workaround. The launch/keepalive script now launches huginn, runs all Delay Agents on start (in order to propagate "old" events), then waits until the next occurrence of my target time (6am / 6pm) occurs and then simply terminates huginn and launches it again, and again runs all Delay Agents at that point.
It's a workaround of a workaround, so I would rather real

[2016-03-10 15:11] cantino commented on #1103
@level20peon, I want to make sure that I understand the problem you're solving. Why didn't using the
'9am' schedule work for you?  Was this because you want it to run more than once per day, at a specific time?  And what was the reason that ScheduleAgents wouldn't work for this?  Was this because you'd need too many of them?

[2016-03-10 15:34] level20peon commented on #1103
The Agents which I want to "synchronize" have "every 12h" schedules, so yes, they are run multiple times a day (at 6am and at 6pm).
I _could_ use ScheduleAgents but I don't know if such setup would be more elegant than "just" synchronizing schedules when Huginn is launched !?

[2016-03-10 18:16] darrencauthon commented on #1341
@cantino I'm not sure.  I think it might actually be more flexible, at least when it comes to using vertical space.

I have 70-something agents now, and when I view my diagram it stretches far to the right.  I bet a library aware of horizontal space limits might be able to display them as discrete units of nodes, but sometimes down instead of right.

Looping... I'm not sure.  But I'll have to see

[2016-03-10 18:16] #1341 closed

[2016-03-10 18:40] elijah commented on #1341
Has anybody looked into using something like graphviz to do the layout and
produce something reasonable?

--e

On Thu, Mar 10, 2016 at 10:16 AM, Darren Cauthon <notifications@github.com>
wrote:

[2016-03-10 22:03] darrencauthon commented on #1341
@elijah I've never heard of that, do you have a small screenshot or something to compare?  Mayb ethat would be a better approach, if I were to go down this road.

[2016-03-10 22:11] dsander commented on #1341
@elijah Huginn currently uses graphviz when `USE_GRAPHVIZ_DOT` is [configured](https://github.com/cantino/huginn/blob/master/.env.example#L166-L169) in the `.env` file.

#1019 looks like an interesting approach to extend the current diagram.

[2016-03-10 22:12] brianpetro opened #1343 "What happens if I run a worker dyno while using the"

[2016-03-10 22:21] elijah commented on #353
It would be cool to have an agent / set of hooks for fieldbook - https://fieldbook.com/

[2016-03-11 06:54] vmpj opened #1344 "Batch Re-emit"
Is it possible to do a batch re-emit events that was generated by a agent?

I can see how to re-emit one event, but how a about the last 100, or all of them.

Thanks.

[2016-03-11 09:11] dsander commented on #1344
Hi @vmpj,

we do not have an option to do that via the web interface. In a rails console you can do it like so:

[code]

[2016-03-11 09:13] vmpj commented on #1344
Great, that did the trick!
Thanks

[2016-03-11 09:13] #1344 closed

[2016-03-11 09:17] dsander commented on #1343
I suppose you changed the Procfile from the special heroku version to a "normal" one that does not use the special `deployment/heroku/unicorn.rb` unicorn configuration? That should work, but I do not know how heroku expects the unicorn server to be configured.

[2016-03-11 12:22] brianpetro commented on #1343
Thanks for the response @dsander

My procfile path is set to `./deployment/heroku/Procfile.heroku` and I haven't made changes to the file.

Would you recommend using the threaded worker  under "Production" in the traditional Procfile?

[2016-03-11 17:24] Jngai commented on #353
I have decided to start of with something easier so I am working on aftership agent instead. Making decent progress so far.

[2016-03-11 18:15] dsander commented on #1343
I think you would need to modify the unicorn config to look like something like this: https://devcenter.heroku.com/articles/rails-unicorn#config and then modify your `Procfile.heroku` to include the threaded background worker:
[code]
Not totally sure if that will work because I never used Heroku with worker dynos.

[2016-03-11 22:19] Kentoseth commented on #353
Does an 'agent' classify as a single-service task or is it a wrapper around the whole API?

For example, when I want to use github as an agent, do I get multiple options for which task I'd like to do (fetch top 10 repos, fetch top 10 followed-users, push repo-updates to Slack/HipChat/IRC) or will each of the options listed in brackets be a separate agent?

[2016-03-11 22:41] JamiePhonic commented on #353
Based on the current agents, the idea would be that "github" would be an agent that hits githubs API to get the information you want, like fetch top 10 repos, fetch top 10 followed-users, etc, Then that agent would create events that a seperate IRC or slack agent would receive and do stuff with. That way you can use the IRC or slack agent to do other things with, like send an IRC message when a bu

[2016-03-11 23:02] Kentoseth commented on #353
@JamiePhonic what does the actual list of agents look like? I see only a few tick-boxes checked (above - and it seems kind of cluttered), so is the number of agents only a few (like maybe 5 or 10)?

Also, if someone can point me in the direction of where each agents source-code is stored, I can try generating a nice wiki-page for each agent, and then add some details about each.

[2016-03-12 00:17] JamiePhonic commented on #353
@Kentoseth this is the suggestions thread, so the list at the top is a list of suggested agents.
There's at least a good 50 to 60 or so, and you can find the source code for each agent in "[app/models/agents](https://github.com/cantino/huginn/tree/master/app/models/agents)"

Some of the file names may not be the most descriptive, however each agent actually already has an explanation of what it do

[2016-03-12 14:48] elvetemedve opened #1345 "Diagram view should show agents with colour"
I would like to see the nodes coloured in the diagram view in the same way how scenario labels are shown in the agent view.

[2016-03-12 14:49] elvetemedve commented on #813
@cantino Here you go: https://github.com/cantino/huginn/issues/1345

[2016-03-12 19:24] signallhill opened #1346 "Use multiple SMTP server."
Is it possible to add the ability to choose from multiple SMTP servers in email agent? Either add it to the .env and choose in the agent or just enter in the agent to override default?

So low volume sends can be done through gmail which have daily limites.

Do high volume sends from email service.

[2016-03-12 20:08] cantino commented on #1346
At the moment, you'd have to update the .env file and restart.  This might be tricky to change dynamically.  Why?

[2016-03-12 20:09] cantino commented on #1345
Good idea!

[2016-03-12 21:21] cantino commented on #1103
Agreed, we'd definitely like schedules to be more cron-like on Huginn launch.

[2016-03-12 21:23] cantino commented on #1342
Hey @willenglishiv, if you export a Scenario with the different Agents, I'd be happy to take a look.

[2016-03-12 21:27] cantino commented on #1127
Hey @thelittlesaul, I believe that `url_from_event` can only match a single URL.  You can't scrape multiple URLs from a single incoming event right now.  You might need to use a JavaScriptAgent to split that string into multiple events for now.

[2016-03-12 21:47] cantino commented on #1289
Thanks @MingShyanWei.  I've never actually used MQTT.  @CloCkWeRX and @knu are the two people who have contributed primarily to this Agent.

[2016-03-12 21:53] cantino commented on #371
Yea, we don't have many user-specific settings at the moment, that's true.

[2016-03-13 03:03] signallhill commented on #1346
1. I am using regular email host smtp. It has limits like hourly send and daily send limits. Not always but sometimes those limits stop the emails in Huginn. I have couple of email agents that cause this. So instead of using all emails with another service wanted to see if using multiple smtp could be an option.

2. There are also instances where the email host is down. Then doing SSH and then cha

[2016-03-13 03:33] thelittlesaul commented on #1127
Thanks @cantino for your advice, I finally got it works with the JavaScript agent!

[2016-03-13 09:53] dsander commented on #1103
I tried this once, if I remember correctly the issue were very slow startup times of rufus when I changed our `Xm/Xh` schedules to a cronline. To make it work we might need to add some optimizations to rufus first.

[2016-03-13 10:19] dsander commented on #1346
I think your best option would be a email service that does not have rate limits. http://www.mailgun.com lets you send 10000 mails for free every month. They do not seem to have a SLA, but it is a paid service i guess the uptime will be pretty good. Overcome downtime or connection issues you could setup [a local SMTP relay](https://community.rackspace.com/products/f/28/t/63).
Even if Huginn would

[2016-03-13 13:25] signallhill commented on #1346
Ok I will do that. Thanks

[2016-03-13 13:49] signallhill commented on #1346
"Even if Huginn would let you configure the SMTP settings via the browser a restart would still be required to propagate the changed settings to the background workers"

Restarting can be done from the browser and/or apps of the service. I use digitalocean that I can restart from an mobile app.

If I know the agents that need separate SMTP I would use that going forward.

[2016-03-13 18:58] cantino commented on #1346
I'd recommend using a reliable SMTP provider instead of trying to customize Huginn.

[2016-03-13 19:01] cantino commented on #1127
Nice @thelittlesaul!

[2016-03-13 19:02] signallhill commented on #1346
Ok thanks

[2016-03-13 19:02] #1346 closed

[2016-03-13 20:32] cantino commented on #1286
Fixed in #1335.  Please let us know if the fix doesn't work.

[2016-03-13 20:32] #1286 closed

[2016-03-14 01:40] vx28643 opened #1349 "Help with update procedure"
Hi,

I'm trying to follow your manual update procedure found [here](https://github.com/cantino/huginn/blob/master/doc/manual/update.md), however, I'm getting an error:
[code]
The update procedure worked for me in the past but if 'db/schema.rb' was removed or renamed then perhaps the update instructions also need updating.

What can I do about this and complete the update of my Huginn install?

Tha

[2016-03-14 02:04] alxcord opened #1350 "How to compile LibV8 in FreeBSD env."
Hi,

Sory I'm new on Unix world, I'm trying to complile Huginn on an FreeNAS jail.

Following (as I can) the installation guid (https://github.com/cantino/huginn/blob/master/doc/manual/installation.md), when I compile the gems (sudo -u huginn -H bundle install --deployment --without development test) I got an error:
[code]

This is the second time I make this jail (yes, I deleted it and tried from

[2016-03-14 03:11] knu commented on #1350
The error messages look like the default make(1) is used when GNU make needs to be used.  Do you have GNU make installed?  It should be at "/usr/local/bin/gmake" or something.

[2016-03-14 03:36] knu commented on #1350
Also, depending on the version of clang libv8 3.16.14.13 might not build due to its stricter warning/error options.  In that case, try creating the following wrapper script at `/somewhere/clang++` and let the gem/bundle command use it by prefixing `env PATH=/somewhere:$PATH` to the command line:
[code]

[2016-03-14 08:06] dsander commented on #1349
Hi @vx28643,

you are right, we removed `db/schema.rb` from git and forgot to update the instructions. I will do that tonight.

For now this command should work:
[code]
Afterwards continue with the update like you did before.

[2016-03-14 08:41] vx28643 commented on #1349
Thank you! That got me past the issue and I was able to update.

Just one note:

when I got to this part:
`sudo -u huginn -H bundle exec rake db:migrate RAILS_ENV=production`

I got this error:
[code]

so I did `bundle install` (as root) and got this warning:
[code]

I suppose I should have done: `sudo -u huginn bundle install` ?

Anyway, not sure if this `sudo -u huginn bundle install` is somethi

[2016-03-14 09:18] dsander commented on #1349
Bundling is mentioned as the first step in [4. Install gems, migrate and precompile assets](https://github.com/cantino/huginn/blob/master/doc/manual/update.md#4-install-gems-migrate-and-precompile-assets), `sudo -u huginn bundle install` should work too but it will install gems that are not needed in production.

[2016-03-14 09:24] vx28643 commented on #1349
Thanks for the clarification, and assistance. Closing the issue :)

[2016-03-14 09:24] #1349 closed

[2016-03-14 13:43] elvetemedve opened #1351 "Weather Agent produces an "undefined method" error"
**Account > Job Management** menu shows an error as it can be seen on the following screenshot.
https://drive.google.com/file/d/0B2tXOm0gFdweTTc1Tnd3bkc4NWs/view?usp=sharing

However the agent "**SF Weather Agent**" does not exist. I have another weather agent called "Wunderground Weather Agent" with _ID 1_ and that works well. This one has the agent _ID 21_ which is a false information.
If I dele

[2016-03-14 14:00] dsander commented on #1351
Hi @elvetemedve,

is it possible that this agent belongs to a different user?

[2016-03-14 14:45] Jngai commented on #350
@cantino I think you can close this.

[2016-03-14 18:53] ledoarea opened #1352 "Export the init scripts Error .'sv stop huginn-web-1' exited with a non-zero return value: warning: huginn-web-1: unable to open supervise/ok: file does not exist"
Hello
I am reading the installation.md
The step of **"Export the init scripts"** had some trouble
sudo bundle exec rake production:export
[code]
thank you!

[2016-03-14 19:20] dsander commented on #1352
Hi @ledoarea,

I have never seen this error before, which Linux distribution and version are you using?

[2016-03-14 20:38] sonontse opened #1353 "Schedule: Every 30 Sec?"
Is there any way to increase the schedule internals down to 30 seconds?  I have some webagents setup to pull data from an API (within the API's rate limit) and would like to pull it more frequently.  Thanks.

[2016-03-14 20:56] dsander commented on #1353
Hi @sonontse,

you can achieve that by using a `SchedulerAgent` which triggers your `WebsiteAgents` to run. When you need them to run more frequently then every 15 seconds you need to set `ENABLE_SECOND_PRECISION_SCHEDULE` to `true` in your `.env` file.

[2016-03-14 21:38] elvetemedve commented on #1351
Hi @dsander,

Yes, it seems to be the case.
In the beginning I logged in with the **admin** user and I created some agent.  But later I renamed this user from the **Account > Account: Edit User** menu.
I looked into the database and I see two rows in the users table. One is for admin, the second is my actual user.
I've removed the admin user, so that probably solved my problem. Thank you.

But I t

[2016-03-14 21:53] dsander commented on #1351
We do not clone the user, is it possible you are using one of the docker images or re-ran `rake db:seed`? Per default we do not have the `DO_NOT_SEED` variable set, which means the the database will be seeded every time the containers starts, `db/seeds.rb` will recreate the default user when the email address changed.

[2016-03-14 22:57] sonontse commented on #1353
Awesome! Works like a charm

[2016-03-14 22:57] #1353 closed

[2016-03-14 23:06] dsander commented on #1353
Glad I could help :smile:

[2016-03-14 23:10] elvetemedve commented on #1351
I'm using the multi-process Docker image and I haven't read the documentation carefully. :)
My bad, sorry.

[2016-03-15 00:16] ledoarea commented on #1352
Debian 7.0 x86 minimal
Maybe like this issue https://github.com/cantino/huginn/issues/1085
But , Im not sure
I do:
`sv force-stop huginn-jobs-1`
But Im getting this:
[code]

[2016-03-15 01:47] alxcord commented on #1350
Hi, the problem was the gmake missing, Thanks so much! Just compiled.

[2016-03-15 01:47] #1350 closed

[2016-03-15 07:38] vx28643 commented on #1249
Fantastic work @Jngai. I finally got the chance to update my install and try this. Following my own timeline appears to work well!

[2016-03-15 09:43] dsander commented on #1352
I did not find anything helpful while googling either. Do you have a link to the iso image you used to install that specific Debian version? As far as i remember I tested the manual installation guide using one of the more recent Debian 7.x releases, but probably not 7.0

[2016-03-15 11:34] ledoarea commented on #1352
I can give you my vps account
can you help me?
If that's all right, Please give me your email address
and my live.cn mail is  v3mars
Thank you very much!

[2016-03-15 11:45] ledoarea commented on #1352
Sorry , The Debian version is 7.9
Debian GNU/Linux 7.9 (wheezy)

[2016-03-15 14:34] sillygwailo commented on #846
This is very cool. Thanks for the awesome addition, @Jngai!

[2016-03-15 14:40] Jngai commented on #1249
@vx28643 I am very glad that you are using my work and that is working out for you.

[2016-03-15 14:41] Jngai commented on #846
@sillygwailo no problem!

[2016-03-15 15:38] elvetemedve opened #1355 "Javascript Agent does not respect timezone"
When I set the "**TIMEZONE**" environment variable to a zone other than **the one set on the host**, GUI will reflect the changes, but when a `Date` object is created from a **Javascript Agent, it will use the time zone of the host** machine instead of the application.

Steps to reproduce the issue:

1. Set up a docker container following this guide https://github.com/cantino/huginn/blob/master/do

[2016-03-15 16:34] dsander commented on #1352
@ledoarea I send you a mail with my public ssh key.

The installation worked for me on a digital ocean droplet with Debian 7.9 x64, the only problem I had happened during `bundle install`.
[code]
fixed the problem and Huginn is running now.

[2016-03-15 21:20] dsander commented on #1355
Thanks for reporting the issue and pointing in the right direction @elvetemedve . It looks like setting the `TZ` environment variable has the same effect as configuring the timezone system wide. Would you mind testing the change I made in #1356?

[2016-03-15 21:41] alxcord commented on #1352
I have an similar problem in freebsd 9,  the same step,  "Export the init scripts",  it was takint too long to run so I stoped it (ctrl c),  stoped receiving the error deleting (actially i moved to an tmp dir)  the directores above /etc/service,  not sure the correct path,  take a look first. there is two folders one of them was huginn-web-1. I couldn't generate this yet,  it's still freezing.  I

[2016-03-15 21:43] dsander commented on #1351
No worries, I am glad we figured it out :smile: Can we close the issue?

[2016-03-15 22:00] elvetemedve commented on #1351
Yes, sure.

[2016-03-15 22:00] #1351 closed

[2016-03-15 22:30] elvetemedve commented on #1355
@dsander I've tested your changes and I can confirm that it works well. Well done. :+1:

[2016-03-16 00:50] alxcord commented on #1352
same problem running as root, no good information running with trace.

[code]

[2016-03-16 02:51] ledoarea commented on #1352
I try to fixed the problem , do
[code]
but the problem still exists

[2016-03-16 04:33] cantino commented on #350
Yup, thanks!

[2016-03-16 04:33] #350 closed

[2016-03-16 04:33] cantino commented on #1249
:smile: :+1:

[2016-03-16 15:04] dsander commented on #1352
@ledoarea The problem seems to have been that `runit` was not started after you installed it. I have no idea why that happened in all my test installations on debian the `runsvdir` was started automatically.
I ran `/usr/sbin/runsvdir-start &` manually and then `sudo bundle exec rake production:export` worked. You can continue with the next step of the installation which would be setting up [logrot

[2016-03-16 16:34] ledoarea commented on #1352
@dsander Ok , Thank you very much !!!!!!!!!!!
I will upgrade my server to 512MB RAM , thanks for you help!!!

[2016-03-16 19:51] Jngai commented on #295
#1354 done and waiting to be merged

[2016-03-16 21:48] dsander commented on #1355
@elvetemedve Thanks for verifying the fix works!

[2016-03-16 21:48] #1355 closed

[2016-03-17 01:57] alxcord commented on #1352
Thanks for your help but it still not working. I think I kidnaped dsander's topic, do you think I should create a new one?

So I tried to run `/usr/sbin/runsvdir-start &` but it not exists. When just running `runit`  it complais it must run as pid 0.
I realized I should run `runsvdir /etc/service &` because this directory is created by bundle, no luck.
I waited about 10 minutes.

[code]

[2016-03-17 13:50] signallhill opened #1357 "scheduler agent runs 1 hour later"
Since the daylight saving change, my scheduler agent runs 1 hour later. So 1pm runs 2pm

[2016-03-17 13:54] signallhill commented on #1357
Running in digitalocean Ubuntu 14. Ubuntu shows EST correct time, and .env also has Eastern time.

[2016-03-17 14:01] dsander commented on #1357
Does restarting your Huginn instance help? I could imagine that the scheduler did not pick up the DST time change.

[2016-03-17 14:28] dsander commented on #1352
@ledoarea Glad I could help! Were you able to complete the installation without further issues?

@alxcord What happens when you run the commands of the rake task manually?
[code]

[2016-03-17 14:38] ledoarea commented on #1352
@dsander Yes, It works, Now Im trying to do something with Huginn , Thanks a lot!!

[2016-03-17 19:13] Jngai commented on #1088
I got the qpx express api to work so I am working on this now.

[2016-03-18 01:22] signallhill commented on #1357
It still does that. I have restarted.

[2016-03-18 03:02] alxcord commented on #1352
So I tried:
[code]

The service fail:
[code]
try specify full path

[code]

dir exists:
[code]
followed [this guide](http://serverfault.com/questions/400158/runit-created-first-service-directory-sv-start-testrun-does-not-work),

[code]

no way.

[2016-03-18 12:09] dsander commented on #1357
I did some tests. My scheduler is set up like this:
[code]
In `.env` I have `TIMEZONE="Eastern Time (US & Canada)"` and the scheduler seems to have run at the correct time: `2016-03-18 07:00:08 -0400`

Not sure if it is related but c48ff63e7a96260540f9399201cbd7a23d65c9fa might have fixed to issue you are having.

[2016-03-18 17:20] signallhill commented on #1357
I just changed the time on my scheduler. It must be something with my system.

[2016-03-18 17:20] #1357 closed

[2016-03-18 17:29] signallhill opened #1358 "Trigger Agent Rules"
I have a trigger agent that has 2 rules out of which any one can match to trigger. It is possible to add a tag to know which one triggered. For example add line below path with tag_name and add_to.
tag_name: could be any thing
add_to: title or description or any other property

"must_match": "1",
  "rules": [
    {
      "type": "regex",
      "value": "something",
      "path": "title"
**      "t

[2016-03-19 23:53] thiagotalma commented on #1143
Hello @dsander,
I see you are very active in the project.

Have you taken a look at this suggestion? What do you think? It is too complicated to be implemented?

A typical use case for this suggestion are the agents that monitor changes in pages.
We could create new monitors without the need to edit the agent that processes events.

[2016-03-20 11:02] dsander commented on #1143
Hi @thiagotalma,

how would you use the event tags? I do not completely understand the use case because not many agents have flow control build in.
What you could do right now is use a `EventFormattingAgent` (with `mode` set to `merge`) to insert a tag into the event of your source agent.

[2016-03-20 11:19] nata-lee opened #1361 "PostAgent and XMLRPC - howto?"
Hello!
Huginn makes my life easier, but some times I'm confused.

I'd like to use xml-rpc with the PostAgent. Specification here: http://xmlrpc.scripting.com/spec.html
But I can't build the sctucture with multiple parameters with the same name. Huginn doesn't let me do this, it's always a json error.
My agent:
`{
  "post_url": "http://domain/xmlrpc.php",
  "expected_receive_period_in_days": "1",

[2016-03-20 13:43] thiagotalma commented on #1143
@dsander
Today:
The agent processes only events of those agents listed as source.

Suggestion:
The agent also processes the events marked with a particular tag.

An example use case:
[Web page monitoring](http://alternativeto.net/software/page2rss/)

Current situation:
- **Agent A**: Receives events from other agents, who are in the list of sources, and sends an e-mail.
- **Agent B**: monitor a UR

[2016-03-20 14:20] dsander commented on #1143
Thanks for explanation. Am I understanding you correctly, that the problem you are having is that after creating a new emitting agent you need to need to edit the receiving agent and add the emitter to its sources? That's annoying me too sometimes :smile:

Having event tags would certainly be interesting, but also quite a big change. What we could do is add a `targets` field to the new agent form

[2016-03-20 15:47] dsander commented on #1352
@alxcord Sorry, I am out of ideas, it looks like runit behaves differently on FreeBSD then it does on Linux.

[2016-03-20 16:11] thiagotalma commented on #1143
For now, the `Target` field solves 100% of our problems.
It would be great if you could implement. :smiley:
Unfortunately I do not have enough knowledge in Ruby.

But if you want to think big, long-term, the possibilities are many.
I did not think in any other use case. However, this could change in the future allowing specialized agents are designed to process any type of event.
Let's stop callin

[2016-03-20 21:38] dsander commented on #1143
I think that concept would get interesting when we had some kind of namespace which would allow certain agents to receive all events that match a namespace, but besides persisting or logging events to an external storage I do know how one would use it :smile:

@cantino Do you think adding the a `Target` field is a good idea?

[2016-03-21 00:08] cantino commented on #1143
Hey @thiagotalma and @dsander, interesting discussion.  I do think that allowing configuration of target when editing an emitting Agent is very reasonable and might simplify the UX without having to change any internals.

In terms of tags / namespaces / prefix matches, I've thought about this, but I agree that it's a significant change.  You could imagine allowing an Agent to subscribe to all even

[2016-03-21 00:29] cantino commented on #1361
Hi @nata-lee, I've never actually used true XML-RPC.  (As opposed to ajax, which is usually JSON these days.)  You may want to have Huginn post to a server that logs your requests, to make sure they look right.  http://requestb.in/ could be useful here.

[2016-03-21 00:53] cantino commented on #1358
Hey @signallhill, I don't think that's possible right now.  That'd be an interesting addition.

[2016-03-21 01:34] thiagotalma commented on #1143
@cantino Glad you agree to be a very useful feature.
Unfortunately I can only help with ideas. I do not develop in Ruby.
So I'll be waiting for news.

Cheers!

[2016-03-21 15:02] jmatsushita commented on #708
Hi @cantino, sorry if I misunderstand, but are there agents that can read and write currently? Or would that need to be implemented?

[2016-03-22 04:30] cantino commented on #708
I think that would mostly need to be implemented.

[2016-03-23 00:46] roylez opened #1365 "An agent to query another agent's memory"
I am trying to do location query in slack like described in the following link with huginn.

http://labs.earthpeople.se/2016/02/my-family-uses-slack/

So far I can get MQTT agent to work, but it does not emit a new event when slack webhook triggers it because the message is already in memory.

Is there a way to query MQTT agent's memory?

[2016-03-23 06:09] cantino commented on #1365
It sounds like we'd need to extend the slack or MQTT Agent's abilities.  Is there an Event that the MQTT agent could emit that would enable this?

[2016-03-23 09:08] roylez commented on #1365
If given a certain MQTT topic, it would be nice if MQTT agent emits the last message received matching this topic or pattern.

But I am a little worried if this would feed duplicated information into User Location Agent.

[2016-03-23 17:27] stvnrlly commented on #801
@Jngai not currently, unfortunately. I had written some code, but did a bad job of actually committing it and now can't find it any more :(.

[2016-03-23 21:51] Jngai commented on #1088
#1367

[2016-03-23 23:21] thiagotalma opened #1368 "Use event data in all options"
It would be very useful to set options to the agent hash using event data (interpolate_options in all hash fields).

For example, in WebsiteAgente you can use the data of the event to set the url to be requested. Yet another parameter should be used, "url_from_event".

Why not allow that any parameter can receive event data?

[2016-03-23 23:33] thiagotalma opened #1369 "WebsiteAgent - Merge should be a property apart"
In WebsiteAgent, the `mode`parameter accepts three options: `all`, `on_change` and `merge`.
Thus, we do not have the ability to create new events merged only when there is change.

Do you think it makes more sense to have only 2 modes: `all` and `on_change`?

The option to merge or not merge should be an agent property.

By the way, this property could be in ALL the agents that receive and send ev

[2016-03-24 02:33] cantino commented on #1365
You'd need a way to filter it, or turn it on or off.

[2016-03-24 02:41] cantino commented on #1368
Hey @thiagotalma, sorry, I'm not fully understanding.  Could you provide an example?

Maybe options support Liquid formatting, which can access Event data via something like `{{ event.field }}`.

[2016-03-24 02:41] cantino commented on #1369
I generally agree that merge should be a more global option.  This would be worth exploring.

[2016-03-24 14:24] ppalme opened #1370 "Need help with extracting data from rss feed"
I have the following code, but somehow no event is created eventhough the feed was updated:
{
  "expected_update_period_in_days": "2",
  "url": "https://zapier.com/engine/rss/820893/gotthardtrafficsouth/",
  "type": "text",
  "mode": "on_change",
  "extract": {
    "description": {
      "regexp": "#A2<\\/[a-z]> - [A-Za-z0-9\\s\\-,äÄöÖüÜ]*( [0-9]* )km Stau[A-Za-z0-9\\s\\-,äÄöÖüÜ]*]]",
      "index

[2016-03-24 14:26] thiagotalma commented on #1368
Sorry, my English is "by Google Translate."  :wink:

It should be simpler I give a real example. I exported a scenario, see here: http://pastebin.com/dqBtSWnp

Three agents.
The first is a WebsiteAgente that generates an event as JSON.
[code]
Event:
[code]

The second is also a WebsiteAgent, which uses the received event data to construct the URL.
But I need to move to the next agent some event da

[2016-03-24 15:33] knu commented on #1370
I think you are missing a `+` right after the first occurence of `[A-Za-z0-9\s\-,äÄöÖüÜ]` and maybe `[0-9]`, which will only match a single character.  I'm not sure about the `<\/[a-z]>` part, but if you are parsing an XML document as "-text", angle brackets might actually be `&lt;`/`&gt;`.
There are also superfluous closing brackets at the end of the pattern, which should probably be removed.

[2016-03-24 16:21] ppalme commented on #1370
Thank you Knu for your support. I have now implemented the changes and will see how it will work out.

[2016-03-24 17:04] knu commented on #1370
The latest feed content at the time of writing does not have an item matching the pattern even after fixing, so I'm not really sure what would work for you.  Do you have an example phrase you want your agent to pick?

[2016-03-24 17:47] ppalme commented on #1370
Hi Knu, actually it should pick the number before km Stau. The last entry in the RSS should have a matching item?

[2016-03-24 21:10] ppalme commented on #1370
I have changed to this
"regexp": "#A2<\\/&lt; a-z&gt; > - [A-Za-z0-9\\s\\-,äÄöÖüÜ]+*( [0-9]* )km Stau[A-Za-z0-9\\s\\-,äÄöÖüÜ]*]]",
but no results

[2016-03-24 21:24] dsander commented on #1370
Hey @ppalme,

you could also use a `RssAgent` to simplify the regular expression. Here is a simple scenario: https://dl.dropboxusercontent.com/u/62784372/stau.json

[2016-03-25 05:16] knu commented on #1370
What do you mean to match by `<\/[a-z]>`?  It is a pattern that matches `</a>`...`</z>`, but I don't see any occurence of `<` right after `#A2` in the feed.

[2016-03-25 11:59] nata-lee commented on #1361
Hi @cantino, thank you for the answer.
Well, I have no problem with XML-RPC then I use curl. And requests and responds are the next step.
I'm confused how to format XML-RPC xmls (and all xmls in general) with huginn interfase and the PostAgent. I tried to form the request as I wrote in the last message, but I can't understand how to get such structure as:

[code]

I just need an example.

[2016-03-26 02:50] cantino commented on #1088
@Jngai just contributed the GoogleFlightsAgent in #1367.  Thanks!  This should solve this issue.

[2016-03-26 02:50] #1088 closed

[2016-03-26 17:08] irfancharania opened #1373 "Email agent stripping out tags?"
I've updated my huginn instance to the latest version and I'm noticing that the email agent is stripping out a number of tags like table.

Here is a test page: http://rockandsock.neocities.org/index.html
[code]

This is a test scenario demonstrating the issue:

[code]

The older instance sends emails as expected (with tables)...
Any ideas what the issue could be?

[2016-03-26 17:49] dsander commented on #1373
Hi @irfancharania,

I can confirm the tables are tripped from the HTML but can not remember a change that could have caused it. Do you know which in revision of Huginn it worked?

[2016-03-26 18:01] irfancharania commented on #1373
What's the easiest way for me to tell what revision an instance is?
The latest entry in changes.md in the working instance is from Oct 17, 2015

[2016-03-26 18:42] dsander commented on #1373
`git log | head -n1` should give you the sha of the latest commit of your instance.

[2016-03-26 18:45] irfancharania commented on #1373
commit efb3bc413613910b69d1381c6f54214ef7168206

[2016-03-26 21:45] dsander commented on #1373
I did some bisecting and found that 05a4c32ac4dc757096a45c5ea4e3ae369da63418 changed the behavior. However the rails CHANGELOGs did not seem to mention anything: https://github.com/rails/rails/compare/v4.2.4...v4.2.5.1
The issue might be the upgrade of `rails-html-sanitizer` https://github.com/rails/rails-html-sanitizer/compare/v1.0.2...v1.0.3 specifically this commit https://github.com/rails/rail

[2016-03-26 22:20] irfancharania commented on #1373
I'd guess it's due to the restrictive set of allowable tags/attributes (here)[https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails/html/sanitizer.rb#L107-L110]?

Would it be possible to define a more permissive global whitelist in Huginn?

[2016-03-26 23:20] cantino commented on #1373
Based on [this article](http://blog.plataformatec.com.br/2014/07/the-new-html-sanitizer-in-rails-4-2/), it looks like you could set `Rails::Html::Sanitizer.allowed_tags = Rails::Html::Sanitizer.allowed_tags + Set.new %w(table)` in a new initializer in `config/initializers` and see if it fixes it for you?

[2016-03-26 23:22] cantino opened #1375 "Coveralls"
@knu or @dsander, did you turn this back on?  I didn't, as far as I know.  Do you like it?  I'm finding it a bit annoying.

[2016-03-26 23:40] cantino commented on #1361
The following JSON options are pretty close:
[code]

When pointing at a requestbin I made, I got this:

<img width="854" alt="screen shot 2016-03-26 at 4 39 05 pm" src="https://cloud.githubusercontent.com/assets/83835/14062972/60031b80-f371-11e5-931f-a80b88db5759.png">

[2016-03-26 23:42] cantino commented on #1368
I think I follow.  Could you add an EventFormattingAgent to generate the page key and then send it to your WebsiteAgent with a `mode` of `merge`?  If not, we may need to add templating into the WebsiteAgent, like the PostAgent does.

[2016-03-27 00:06] irfancharania commented on #1373
Can you tell me what I'm doing wrong here?

[code]

paste in ```Rails::Html::Sanitizer.allowed_tags = Rails::Html::Sanitizer.allowed_tags + Set.new %w(table)```

[code]

That gives me a 502 error, and 'huginn_error.log' just has connection refused entries

[2016-03-27 03:07] cantino commented on #1373
Actually, try `ActionView::Base.sanitized_allowed_tags += Set.new(%w[table])` instead.

[2016-03-27 03:56] irfancharania commented on #1373
That's better!

Silly question, but how do I add more tags?
I've tried ``%w[table, thead, tbody, tr, th, td]`` and ``%w(table, thead, tbody, tr, th, td)`` but they both only take the last listed tag

[2016-03-27 03:58] cantino commented on #1373
Without the commas.  `%w(table thead)` is Ruby shorthand for `['table', 'thead']`

[2016-03-27 03:59] irfancharania commented on #1373
Also, for future, how would I hunt down the source of that 502 error I was getting before?

[2016-03-27 04:02] cantino commented on #1373
I'd expect to see it in the production.log in log/ in the app directory.

[2016-03-27 04:07] thiagotalma commented on #1345
And if the agent is in more than one scenario?

[2016-03-27 04:10] irfancharania commented on #1373
Your solution works!

So you think we can add it in the main branch?

Here's what I've got: sanitizer.rb
[code]

[2016-03-27 05:32] cantino commented on #1373
Seems safe to me.  Want to send a PR?

[2016-03-27 07:57] dsander commented on #1375
I didn't, at first I was happy to get coverage reports again, but I agree it gets annoying. Don't they support sending the coverage report as a PR status?

[2016-03-27 12:41] screamolic opened #1378 "failed on installing"
much problem on installing.
1. update structure url git .
2. some gem can't download while using command bundle install.

[2016-03-27 12:42] screamolic commented on #1378
im using debian.

[2016-03-27 14:44] elvetemedve commented on #1345
@thiagotalma That's a good point.
I think there are many ways how this can be displayed. Here are a few ideas:

- Place as many nodes on the canvas per agent as the number of scenarios it belongs to. That way each node can have a solid color.
- As a special case of the previous solution, nodes can be placed on top of each other. Outer nodes should have larger size than an inner node. (This design

[2016-03-27 16:45] hcampan opened #1379 "Website Agent or else to monitor simple up/down website, help needed to configure"
Hi all,

First, thanks to all of you who participate and to @cantino for the great job. Huginn is geting nicer and nicer. I also get progressively better at using it. Here is where I could use your help.

I've search and seen in previous post/issues a website health agent was a tought of idea. From what I know, it is not yet implemented. Or is it ?.

I found a way by using :
"Shell Agent" (curl we

[2016-03-27 17:35] irfancharania commented on #1373
Sent pull request #1380

[2016-03-27 21:37] cantino commented on #1373
Merged, thanks for the fix!

[2016-03-27 21:37] #1373 closed

[2016-03-27 21:44] cantino commented on #1375
Humm, not sure how it turned back on, but I just changed it to the following:

<img width="300" alt="screen shot 2016-03-27 at 2 44 00 pm" src="https://cloud.githubusercontent.com/assets/83835/14067992/680ff5a0-f42a-11e5-8b1b-c8ee14535ab8.png">

[2016-03-27 21:44] cantino commented on #1375
We'll see if we like this better.

[2016-03-27 21:45] cantino commented on #1378
Hi @screamolic. Are you following our installation guide?

[2016-03-27 21:47] cantino commented on #1379
Hey @hcampan, would @darrencauthon's Http Status Agent (added in https://github.com/cantino/huginn/pull/1209) work for you?

[2016-03-28 00:06] screamolic commented on #1378
yes. im following this.
https://gist.github.com/mjhea0/b6b58eefc38985380ff9

[2016-03-28 00:07] screamolic commented on #1378
does huginn support post to blogger ?

[2016-03-28 00:58] screamolic commented on #1378
i got another error with tutorial manual installation.

root@ubuntu-512mb-nyc3-01:/home/huginn/huginn# sudo bundle exec rake production:status
rake aborted!
Errno::ENOMEM: Cannot allocate memory - which
/home/huginn/huginn/vendor/bundle/ruby/2.2.0/gems/activesupport-4.2.5.2/lib/active_support/core_ext/kernel/agnostics.rb:7:in ``'
/home/huginn/huginn/vendor/bundle/ruby/2.2.0/gems/activesupport-4.2.

[2016-03-28 01:51] darrencauthon commented on #1379
I use Huginn for this, set up the same way. A http status agent pointed at a URL I want to monitor, every five minutes. A change detector for the status, and alert to send to my phone.

So if a site goes down, I get a notice, and when it comes back I get a second notice.

It's working well. The only thing I want to change is to use a JavaScript agent to make it a little smarter. A couple times a w

[2016-03-28 03:02] dylankb opened #1382 "bundle exec rake db:create fails - cannot connect through default socket"
When I run `bundle exec rake db:create` I get an error message saying MySQL `Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)>`

When I navigate to `/var/run` there is no mysqld directory, which may be the root of the problem. I successfully ran `bundle` on my locally cloned directory, so the `mysql2` gem should have installed correctly.

I'm on Ubuntu 14.04 and

[2016-03-28 09:09] dsander commented on #1375
Nice!

[2016-03-28 09:16] dsander commented on #1382
Hi @dylankb,

I recommend you have a look at the [manual installation guide](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md) it will guide you through all the steps needed to get Huginn up and running.

[2016-03-28 09:19] dsander commented on #1378
Hi @screamolic,

this error indicates that your server ran out of RAM. We [recommend](https://github.com/cantino/huginn/blob/master/doc/manual/requirements.md#memory) at least 512MB RAM plus the same amount of swap.

[2016-03-28 10:34] dsander commented on #1361
@cantino I think the problem is the `to_xml` serializer can not generate multiple `params` elements which have the same parent.

[2016-03-28 11:16] screamolic commented on #1378
thanks

[2016-03-28 12:28] thiagotalma commented on #1375
Oh God! Thanks!!
That annoying feature!

[2016-03-28 12:49] hcampan commented on #1379
@cantino, thanks, yes it did. I updated Huginn (a first for me) to get it.

@darrencauthon, thank you for this agent ! A lot "cleaner" then "Shell Agent".

Pushing the concept a little :
From what I understand, we do have to create for each website a "ChangeDetectorAgent" as it isn't "thread aware" and cannot receive events from different "Http Status Agent"s. Would it be possible to save one step

[2016-03-28 18:21] stuartmunn opened #1383 "Can't login after install"
Hi - I've followed the instructions in installation.md and have got to a point where the login screen is presented when I try the webpage, but I'm unable to login. When I try to create a huginn user with the db:seed command, I get the output below. This is on an Ubuntu server on AWS. I've sucessfully installed in on an ubuntu server at home. This has been driving me round the bend. Any help would

[2016-03-28 20:22] darrencauthon commented on #1379
Hmmm... perhaps an option that said "Only fire an event on status change?"

Hmmm... I like the idea!

Darren Cauthon
darren@cauthon.com

On Mon, Mar 28, 2016 at 7:49 AM, Hubert CAMPAN <notifications@github.com>
wrote:

[2016-03-28 22:31] dsander commented on #1383
Hi @stuartmunn,

it looks like there is an issue with sending the confirmation email for the admin user. Is it possible you set `REQUIRE_CONFIRMED_EMAIL` to `true` without configuring the SMTP settings in your `.env` file?

[2016-03-29 01:35] timtomch commented on #1370
Hi @ppalme
Which part of the expression are you trying to extract? The length of the congestion (Stau) in km? The area affected ("Zwischen ... und ...")?

If this is the kind of stuff you are looking for, the following expression should allow you to get to those items:
[code]
Index: 1 will give you the area, Index: 2 the length of the congestion and Index: 3 the wait duration.

For example applied

[2016-03-29 05:00] cantino commented on #1361
Wait, what's the problem?  Isn't might output what @nata-lee is looking for?

[2016-03-29 05:10] nata-lee commented on #1361
@dsander is quite right. I can't get multiple `param` in the `params`.
[code]
is impossible via huginn interface :( Or I don't know how to get it, so I asked my question.
Maybe any workaround? Now I have to use Shell Command Agent insteed of the PostAgent,and it's some kind of unsecure.

[2016-03-29 06:38] stuartmunn commented on #1383
Thank you @dsander! I'd have spent days more looking for that. I've now got the admin user seeded and logged in.

[2016-03-29 06:38] #1383 closed

[2016-03-29 06:41] fucx commented on #839
@cantino from what I can gather, Sandstorm would rather the projects' developers maintain the Sandstorm packages themselves, which would put you into the driver's seat for this one.

That's at least what it says in their App developer handbook at https://docs.sandstorm.io/en/latest/developing/handbook/ (last bullet point).

[2016-03-29 07:06] remino opened #1385 "Run scheduled agents"
Hi,

I'm using Heroku's free plan to run an app with my own installation of Huginn. I've also set up a free account with uptimerobot to ping my server regularly, and that seems to work.

However, when listing my agents, I see they never run, even if they are schedule to run regularly (at, for example, every 2 hours).

Is there a particular URL I need to ping or a separate worker I need to start?

[2016-03-29 07:28] dsander commented on #1361
I don't think that is possible at the moment, but I am planning to change the PostAgent to allow sending arbitrary data which can be formatted using liquid.

[2016-03-29 15:13] Jngai commented on #1121
@cantino @dsander It seems like the admin user management panel has already been done according to the merged pr referenced here. Is this ticket still open because of @albertsun request?

[2016-03-29 15:18] Jngai commented on #353
@cantino you should remove aftership agent from the list.

[2016-03-29 15:31] Jngai commented on #1103
@cantino This ticket looks interesting. I will take a look.

[2016-03-29 15:47] albertsun commented on #1121
That should really be moved into a separate issue.

[2016-03-29 15:48] albertsun opened #1387 "Admin users should be able to see and edit other users' agents"
Follow on to: https://github.com/cantino/huginn/issues/1121

[2016-03-29 15:52] Jngai commented on #1121
Then I guess this ticket should close then.

[2016-03-29 17:02] Jngai commented on #798
I can submit a patch for this.

[2016-03-29 17:28] danielpetrica opened #1388 "better openshift guide"
Hi is someone using it on openshift? If yes could you please provide a easy set-up guide?

[2016-03-29 18:27] Jngai commented on #798
#1389

[2016-03-29 19:40] Jngai opened #1390 "Error Page editing your credential page (Bug)"
Once you click on edit at credentials page, an error page pops up

I am getting

 No route matches [GET] "/user_credentials/5/theme-chrome.js

[code]
The error goes away when I remove

`editor.setTheme("ace/theme/chrome")` in `app/javascripts/pages/user-credential-page.js.coffee`

My guess is that theme-chrome.js used to exist but not any more?

@cantino is this correct and should I remove it?

[2016-03-29 20:22] signallhill opened #1391 "sudo -u huginn -H git diff $OLD_VERSION..master .env.example"
When I use the above command to update Huginn it shows all these different changes to .env.
How do I accept the changes and move on to next step? Ubuntu Vim

[2016-03-29 21:19] Jngai commented on #780
@cantino This may be an easy patch too. Let me take a look.

[2016-03-29 21:54] willenglishiv commented on #1342
[code]

[2016-03-29 21:55] willenglishiv commented on #1342
also, I tried to do RSS & Website Agent merged into a DataOutput Feed but it won't merge the events together.

[2016-03-29 23:27] dsander commented on #1391
You have to apply the changes manually, because `.env` is not checked into the reversion control system there is no way to apply the changes automatically (which is intentionally). For new options you can copy and paste them to your `.env` from `.env.example`.

[2016-03-29 23:47] signallhill commented on #1391
Thanks

[2016-03-29 23:47] #1391 closed

[2016-03-30 00:46] Scinawa opened #1392 "Problem connecting to docker"
Hi,
I'm following the docker installation guide, but I cannot connect to my docker instance.

# docker ps
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS                    NAMES
4a8c3e7ee9d2        cantino/huginn      "/scripts/init"     40 minutes ago      Up 40 minutes       0.0.0.0:3000->3000/tcp   adoring_kalam

While
docker ps -q | xa

[2016-03-30 04:03] cantino commented on #839
My understanding is that they're adding security features that will be needed for Huginn to work on Sandstorm, then they'll finish the "Choose an App" perk that I bought and port Huginn over.  I don't know the time frame, unfortunately.

[2016-03-30 04:12] cantino commented on #1385
Unfortunately, Heroku's free plan doesn't really work with Huginn anymore because they only let you stay up for something like 18 hours a day.

[2016-03-30 04:17] cantino commented on #353
Checked it off :)

[2016-03-30 04:17] cantino commented on #1103
The challenge here, I think, is to remember the schedules (or infer them from a fixed starting point in time?) so that if Huginn is restarted, 1/week schedules still run, etc.  Does this make sense?

[2016-03-30 04:21] cantino commented on #1121
Yup, thanks to @dsander!

[2016-03-30 04:21] #1121 closed

[2016-03-30 04:22] cantino commented on #1388
I haven't tried it in quite a while.  We have https://github.com/cantino/huginn/wiki/Run-Huginn-for-free-on-OpenShift, but I don't know if it still works.

[2016-03-30 04:23] remino commented on #1385
Okay, thanks for clearing that.

If I did upgrade my plan, how would I tell Huginn to run the scheduled agents regularly on its own?

[2016-03-30 04:30] #1390 closed

[2016-03-30 04:30] cantino commented on #1390
Good catch!

[2016-03-30 04:35] cantino commented on #1385
It should just work on a paid plan.  If it doesn't, we have a bug to fix :)

[2016-03-30 04:39] cantino commented on #1342
Do you have an example itunes RSS feed URL?

[2016-03-30 04:57] willenglishiv commented on #1342
http://jamaauthorinterviews.jamanetwork.libsynpro.com/rss

[2016-03-30 08:14] dsander commented on #1392
Hi @Scinawa,

the output of `docker ps` looks good to me. When you are using Linux you should be able to access Huginn via `http://localhost:3000`, on OSX you would probably be using `docker-machine`, `docker-machine ls` should give you the IP of the docker host.

[2016-03-30 10:49] thypon opened #1393 "Create tagged release"
Would help the deploy process having a tagged/fixed relase.

These versions should be exposed also in the cantino/huginn docker images.

[2016-03-30 19:50] Jngai commented on #780
#1394

[2016-03-31 02:33] cantino commented on #1342
Hey @willenglishiv, when I run this scenario, the DataOutputAgent looks right to me, both in Chrome and FF.

<img width="916" alt="screen shot 2016-03-30 at 7 33 17 pm" src="https://cloud.githubusercontent.com/assets/83835/14163848/4d2179a4-f6ae-11e5-8084-3f63cc7e47f7.png">

[2016-03-31 02:37] cantino commented on #1393
Hey @thypon.

It's never been clear to me how best to do versioning of a Rails application.  See #543.

I know @dsander has an effort to improve docker, perhaps this makes sense there.

[2016-03-31 02:50] willenglishiv commented on #1342
okay, well then potentially either my client isn't updated or the real itunes feed I'm using is having a problem.  Either way I'll try to do a fresh install / instance tomorrow at the office to verify.

[2016-03-31 08:21] virse opened #1395 "Bundler::GemNotFound: Could not find rake-10.5.0 in any of the sources"
Hey there,

I updated my Huginn-Production-Site.

When I try to start Huginn via sudo rake production:start, I get the following error:

rake aborted!
Bundler::GemNotFound: Could not find rake-10.5.0 in any of the sources
/home/huginn/huginn/config/boot.rb:6:in `<top (required)>'
/home/huginn/huginn/config/application.rb:1:in `<top (required)>'
/home/huginn/huginn/Rakefile:5:in `<top (required)>'

[2016-03-31 10:12] dsander commented on #1395
Hi @virse,

have you tried `sudo bundle exec rake production:export`? I just updated my instance with the [update guide](https://github.com/cantino/huginn/blob/master/doc/manual/update.md) and had no problems.

[2016-03-31 12:01] virse commented on #1395
Hi dsander,

thx for your reply.

I also followed the update guide you mentioned and then the errors appeared.

When i try the `sudo bundle exec rake production:export`, I also see this on my console:

/usr/local/lib/ruby/gems/2.2.0/gems/bundler-1.10.6/lib/bundler/spec_set.rb:92:in `block in materialize': Could not find rake-10.5.0 in any of the sources (Bundler::GemNotFound)
	from /usr/local/lib/

[2016-03-31 12:15] darrencauthon commented on #1379
I can see two concrete changes to make to the Http Status Agent from this:

- [ ] Add an option to store the last result in memory, and only report a new event if the status changes.

This will prevent the flood of events, requiring a change agent to alert for changes.

- [ ] Add an option to require the last 1-X changes to force an event change.

Using this agent for a while, I've seen that it ma

[2016-03-31 13:08] dsander commented on #1395
Hmm that is strange, can you try this?

[code]

[2016-03-31 13:15] virse commented on #1395
Hi,

when i try `sudo gem install rake`, I get this:

ERROR:  Error installing rake:
	"rake" from rake conflicts with /usr/local/bin/rake

When I try `sudo gem uninstall rake` this:

ERROR:  While executing gem ... (Gem::InstallError)
    gem "rake" cannot be uninstalled because it is a default gem

[2016-03-31 13:23] virse commented on #1395
I also tried `sudo gem update` but `rake` doesn't update:

ERROR:  Error installing rake:
	"rake" from rake conflicts with /usr/local/bin/rake
ERROR:  Error installing rdoc:
	"rdoc" from rdoc conflicts with /usr/local/bin/rdoc

and when I try another `sudo bundle exec rake production:export`, I get stil  this:

/usr/local/lib/ruby/gems/2.2.0/gems/bundler-1.11.2/lib/bundler/spec_set.rb:94:in `block

[2016-03-31 13:43] virse commented on #1395
So I managed to update rake and rdoc by simply rename the old version and do a `sudo gem install rake rdoc`, but still the same error when I try `sudo bundle exec rake production:export`:

/usr/local/lib/ruby/gems/2.2.0/gems/bundler-1.11.2/lib/bundler/spec_set.rb:94:in `block in materialize': Could not find rake-10.5.0 in any of the sources (Bundler::GemNotFound)
	from /usr/local/lib/ruby/gems/2.2

[2016-03-31 14:07] virse commented on #1395
Even if I
`> sudo gem install rake -v '10.5.0'
Successfully installed rake-10.5.0`

I still got the error mentioned above.

[2016-03-31 14:24] signallhill opened #1396 "Getting this error message through email"
I keep getting this error message through email. This started about a week or so ago, also my scheduler agent did not adjust to the time change although server time is correct. Could this be related?

Subject: Cron <root@server> test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
Content-Type: text/plain; charset=ANSI_X3.4-1968
X-Cron-Env: <SHELL=/bin/sh>
X-Cron-Env: <PATH=

[2016-03-31 14:50] International opened #1397 "Letter opener in development mode navigation bar"
Hey guys, what do you think about having letter opener as part of the navigation bar, in development mode, and when navigating to it, embed in an iframe the actual letter_opener route? I find it very useful in development to be able to go back and forth to letter_opener, and keep the navigation menu visible.

[2016-04-01 02:37] A20229 commented on #1338
Hi~,I have a idea maybe can solve this issue(I'm not sure but try it). I want to replace gem from delayed_job to SlideKiq, I will try it, anyone has experience for SlideKiq used in Huginn or has any documents for how replace?

[2016-04-01 05:39] dylankb commented on #1382
Woops, missed the step where I actually installed MySQL :S

[2016-04-01 05:39] #1382 closed

[2016-04-01 06:51] jamsheer-thottathil opened #1398 "Additional contents in email body"
I am working  'Email Digest Agent' and its working fine .But i am getting some additional contents with   email body like "web_request....".

Sample body

test mail digest message
web_request: {"message"=>"test mail digest message"}

I need to remove web_request: {"message"=>"test mail digest message"} ,How to do it ?

[2016-04-01 08:37] timlyo opened #1400 "Issues running on Raspberry Pi2"
I'm trying to run Huginn on a Raspberry Pi 2 with Arch Linux Arm installed.

When running with through Docker I'm getting:

`docker: Error response from daemon: Cannot start container 924014fc8fc09d543ff1dd30427bd8671daf89cba3931f764d0a0c697f42f846: [9] System error: exec format error.`

and when building from source I'm getting the following error when running `bundle`:

[code]

I'm not very expe

[2016-04-01 09:22] dsander commented on #1395
Can you check which version of rake is included in the bundle?
[code]
If the version is not matching `10.5.0`, did you maybe miss running `sudo -u huginn -H bundle install --deployment --without development test`?

[2016-04-01 09:25] dsander commented on #1338
Replacing delayedj_job with sidekiq should not be a big issue. We are already using ActiveJob, so adding the sidekiq gem and configuring it as the ActiveJob backend might be enough. The possible issue I see is that we are having a few dependencies which are known to be not thread safe.

[2016-04-01 09:39] dsander commented on #1400
Hi @timlyo,

we currently do not have docker images that work on ARM.

The problem during `bundle install` should be resolved by setting the locale to UTF-8:

[code]

[2016-04-01 09:44] jamsheer-citrus commented on #1225
Is this feature available with  Email Digest Agent  ?

[2016-04-01 09:57] dsander commented on #1397
I think it's a good idea, how about putting the link in the account dropdown and renaming it to something like "Settings" or "Options"?

[2016-04-01 10:10] dsander commented on #1396
The logrotate script tries to send a [signal](https://github.com/cantino/huginn/blob/master/deployment/logrotate/huginn#L17) to the unicorn process to make sure the server reopens the log file after rotation. It looks like the pid of the server changed without updating the PID file.
Did you try to restart Huginn?

[2016-04-01 11:49] virse commented on #1395
Hey dsander, thx a lot for your time, but I was too fast.

I already removed ruby from my system and did a new installation of ruby as mentioned in the guide "Installation from source".

Unfortunately I have some problems with the ruby2.3.0-installation. Everything works fine til `sudo make install`.

It stops with this error message:

installing default gems:      /usr/local/lib/ruby/gems/2.3.0 (

[2016-04-01 12:22] timlyo commented on #1400
Thanks for your answer. That seems to be working, but the process is taking a while. I'll come back and close this if it works.

[2016-04-01 13:44] dsander commented on #1395
That looks to be a [known issue](https://github.com/rubygems/rubygems/issues/1557) can you try installing ruby 2.2? Here is a link to the [installation guide](https://github.com/cantino/huginn/blob/fad4a44ec40ab5046bcb358331f2c28a81e15606/doc/manual/installation.md#2-ruby) with ruby 2.2

[2016-04-01 14:09] virse commented on #1395
Thx dsander!
I was able to finish the installation with ruby2.2.

but when i try to login, i get a

the production log says me:

I, [2016-04-01T16:04:03.935530 #11992]  INFO -- : [1d093fe0-a0de-49d7-97a4-f771fd214998] Started GET "/" for 87.175.130.132 at 2016-04-01 16:04:03 +0200
I, [2016-04-01T16:04:03.971896 #11992]  INFO -- : [1d093fe0-a0de-49d7-97a4-f771fd214998] Processing by HomeController#

[2016-04-01 14:23] dsander commented on #1395
That looks like you did not run the [database migrations](https://github.com/cantino/huginn/blob/master/doc/manual/update.md#4-install-gems-migrate-and-precompile-assets).

[2016-04-01 14:46] virse commented on #1395
That did the trick!

Thx a lot for your time and support!

Huginn is up and running.

Thx again!

[2016-04-01 14:46] #1395 closed

[2016-04-01 15:57] dsander commented on #1395
Great! Glad your instance is working again :smile:

[2016-04-01 18:35] cantino commented on #1398
Hey @jamsheer-thottathil.  If each incoming event has a `message` key, that should be what gets displayed.  What do your incoming events look like? Or do you have another Agent also sending to the email digest with a different format?

[2016-04-01 18:36] cantino commented on #1225
Yes, I believe so.

[2016-04-01 18:37] waldens opened #1401 "WebsiteAgent is fail sometimes and don't have enough logs"
There's an agent who fails every now and then, and I checked logs whereas didn't get enough useful info to troubleshoot:

[code]

And everytime I re-emit the incoming event, it works again. So the only reason I can guess now is the website this agent fetches is down every now and then...but not sure.

So,
A. Is there a way to troubleshoot in detail what cause this problem?
B. If it's external reas

[2016-04-01 23:46] Scinawa commented on #1392
nope :|
`docker-machine ls` gave me an empty list..

Any Idea? I'm on a debian 8 and with not much docker experience

[2016-04-02 02:38] cantino commented on #1401
Hey @waldens.  I'm not sure.  I'd expect to see an error in the Agent's logs if the site couldn't be reached.  You could also look at the Rails logs (production.log, if you're running in production), but I would expect any error to be in the WebsiteAgent logs.

[2016-04-02 06:44] waldens commented on #1401
Thanks @cantino . I've looked at the [production.log and log/*/current](http://waldens.github.io/productionlog and current file.zip) but got no abnormal message associated. I fixed the schedule to 5pm and cancel the 'Propagate immediately' just now, in case that the first minute incoming event come in, the site still couldn't be reached until several hours later. Hope it gonna return back to norma

[2016-04-02 06:51] jamsheer-thottathil commented on #1398
Yes all my incoming payload has message key.I am passing dynamic message(mail content )  from client to mail agent to this.

[2016-04-02 08:39] dsander commented on #1392
If you installed docker in debian Huginn should be reachable via localhost, did you try `http://localhost:3000`?

[2016-04-02 09:43] dsander commented on #1361
@nata-lee With #1402 merged you will be able generate the XML yourself and setting it in the `payload` as a string.

[2016-04-02 19:05] somepaulo opened #1403 "How to extract only part of a href"
Hello community,

I am trying to scrape a search results page on a site. Given accurate parameters it displays results consistently unless a listing has been added or removed, but they don't very often. The problem is that every time the site is searched, the links to the actual listings on the results change dynamically, although the listings (with title and description stay the same). The links

[2016-04-02 20:39] somepaulo commented on #873
Pagination would definitely be a nice feature to have. As well as deep fetching. Say you parse a blog with excerpts, but you want full text - there's a case for both features. You want to be able to go through paged lists of posts getting urls, titles, images and excerpts, and then go into each listed post and grab its contents.
Currently, getting full content in a scenario like this is possible b

[2016-04-03 12:31] dsander commented on #1403
Hi @somepaulo,

I don't think you can use liquid functions in the extraction process. I recommend you change the `WebsiteAgent` to always emit the events then use a `EventFormattingAgent` to modify the URL and then send the normalized event to a `ChangeDetectorAgent`. If the event contains multiple rows the only solution to modify the URL might be the `JavascriptAgent`.

[2016-04-03 13:40] johnnyzen commented on #1044
Hi there

I think my issue is similar.

In my situation I have 3 website agent sources in the output feed.

Source A = 20 events
Source B = 20 events
Source C = 20 events

Output feed limit = 40 events.

In the output feed, source C is completely missing as Source A and Source B take the events to 40 which is the limit of the output feed.

Is there a way to equally combine all sources into the all

[2016-04-03 13:51] signallhill commented on #1396
It's stop

[2016-04-03 13:51] #1396 closed

[2016-04-03 22:26] virtadpt commented on #353
Does anybody have a need for a medium.com agent?  It seems possible to assemble this functionality with a PostAgent, but it's a little hacky.

[2016-04-04 03:34] cantino commented on #1398
I think I'd need to see a copy of the configuration options, or an exported Scenario with the Agents in it.

[2016-04-04 03:34] cantino commented on #1401
It does sound like an external issue, but I'm surprised nothing's in the logs.  Do you see any failed delayed_jobs in the jobs interface at `/jobs`?

[2016-04-04 03:58] cantino commented on #1044
Could you increase the output feed limit?  Otherwise, would the "Ordering events in the output" section in the DataOutputAgent help?

[2016-04-04 07:05] jamsheer-thottathil commented on #1398
My configuration like this

{
  "subject": "{{subject}}",
  "expected_receive_period_in_days": "1",
  "recipients": "user@example.com"
}

my input payload as follows and tried 2 times.I got mail in expected time  but mail does not have subject (here tried to set subject with payload input)   and also mail body has some additional contents ,what is the mistake happened in my side ?

paylaod

{
"mes

[2016-04-04 08:11] waldens commented on #1401
No any failed jobs. And just now, have tested out adding a delay agent to wait ＞12h(fairly enough I think) is still not working. New log:

[code]
I'm really stuck here, and happy to provide VPS account if needed.

[2016-04-04 16:37] cantino commented on #1401
Are you sure that there is content that matches your selectors? Maybe
they're just not matching anything? The other idea I have is that the site
could be serving different content based on the User Agent. You could try
setting it to Firefox's.
On Mon, Apr 4, 2016 at 1:11 AM Long Li <notifications@github.com> wrote:

[2016-04-04 18:46] Jngai commented on #132
@cantino so I have been looking at this ticket for a while so has it been concluded that you guys want a dashboard built with dashing-rails. I am a bit confuse on what is going on here.

[2016-04-04 19:08] Jngai commented on #955
@cantino maybe you should close it. I think it will make the issues cleaner.

[2016-04-04 19:09] Jngai commented on #1276
@Lenbok did my suggestion help?

[2016-04-04 19:17] Jngai commented on #752
This sounds like something that is manageable. Let me do some research.

[2016-04-04 21:02] Lenbok commented on #1276
@Jngai Hmmmm, in the (raw xml of the) entries I have looked at, the links in the content section do not correspond to those links that appear after the content section (in particular I want the "alternate" link, as that is the one I should click on in order to visit the article itself in a browser). #957 discusses an alternative implementation that doesn't depend on feed-normalizer, so I was hopin

[2016-04-05 09:40] International commented on #1397
@dsander are you thinking that other things could be on that page, besides the letter_opener iframe? The name "Settings" or "Options" might be misleading if we're just showing letter_opener.

[2016-04-05 10:39] dsander commented on #1397
@International Sorry I meant rename the "Account" dropdown itself, we already have the job and user management link in there which are not really related to the account.

[2016-04-05 11:03] International commented on #1397
Got it! So "Letter Opener" would be a menu item in the dropdown?

[2016-04-05 11:30] dsander commented on #1397
Exactly

[2016-04-05 12:43] jamsheer-thottathil commented on #1398
Additional content removed using  Event Formatting Agent  .

[2016-04-05 12:43] #1398 closed

[2016-04-05 12:44] jamsheer-thottathil commented on #1225
ok fine ,Thank you @cantino

[2016-04-05 17:43] Jngai commented on #1369
@cantino I see a couple of cards related to the website agent. I am going to see if I can fix them and or improve the agent functionality.

[2016-04-05 18:16] thiagotalma commented on #1369
@Jngai :clap: :clap: :clap:

[2016-04-05 23:05] Scinawa commented on #1392
plenty of times :)

[2016-04-05 23:48] irfancharania opened #1408 "DataOutput Agent Rss Issue With Feedly Android App"
When generating an RSS feed using the DataOutputAgent, [the iTunes compatible namespace attribute](https://github.com/cantino/huginn/blob/master/app/models/agents/data_output_agent.rb#L217) is causing display issues upon rotation on the Feedly android app [for a comic for example](https://github.com/cantino/huginn/wiki/Generating-a-filtered-full-text-RSS-feed).

Without the ``xmlns:media="http://s

[2016-04-06 07:36] dsander commented on #1392
Sorry to hear that, i think it has to be an issue with your docker installation, did you follow the [installation guide](https://docs.docker.com/engine/installation/linux/debian/) and does the ["run a simple application" guide](https://docs.docker.com/engine/userguide/containers/usingdocker/) work for you?

[2016-04-06 09:15] nineralpha opened #1409 "Interface Simplification"
Hey People i want to simplify interface for Email (Or simply say any made using Website) agent i.e. i want to make interface such that user only  enter "TO" email address,rest should either be hard coded inside agent code or value of this TO text field should be concatenated inside OPTION field
like
To_address:...............................................

option
To: To_address
From:abc@gmail.co

[2016-04-06 10:23] bhagyalakshmikk opened #1410 "Dynamic 'from' address for mail agent"
Hi,

I am working with mailAgent , I need to set different from address and subject based on my recipient.And it worked with subject by using liquid option ,but it had not worked for 'from' attribute ,Always I am getting from address as the attribute set in .env file.

[2016-04-06 11:03] International commented on #1397
Thanks, I'll try to submit a pull request with the functionality for this soon.

[2016-04-06 16:37] dsander commented on #1409
Hi @nineralpha,

to simplify the interface of the EmailAgent have a look at the [form_configurable](https://github.com/cantino/huginn/blob/master/app/concerns/form_configurable.rb) concern, as an example check out the [HipchatAgent](https://github.com/cantino/huginn/blob/master/app/models/agents/hipchat_agent.rb). I think what you need to to is remove the default options of the EmailAgent, just ex

[2016-04-07 07:19] dsander commented on #1410
Hi @bhagyalakshmikk,

I think that is a limitation of your email provider. Huginn will set the value you configure in the `from` field but some providers do not allow to "fake" the sender and always set it to your email address. A service like http://www.mailgun.com/ will allow you to configure the from address.

[2016-04-08 13:02] #1400 closed

[2016-04-08 13:19] brianpetro opened #1412 "Resque Setup"
I want to use resque based on the recommendations here https://github.com/cantino/huginn/issues/977 and and a few other places [to prevent duplicate events and/or worker processes when running multiple workers].

Here are some issues that I am running into

- events don't show up in the queue ("Job Management" page)
- "(system)" events show up in the queue, but, never disappear (possibly never get

[2016-04-08 15:46] Jngai commented on #730
@vitorbaptista Will you post your settings for trigger agent and peak detector agent? Are you sending the events from trigger agent to peak detector? How do I replicate your problem?

Also you may be interested that I put in a google flights agent.

[2016-04-09 03:09] cantino commented on #132
This thread is a place for discussion on the idea, but I don't think we have a clear vision yet.

[2016-04-09 03:16] cantino commented on #955
Agreed, since we didn't hear back.

[2016-04-09 03:16] #955 closed

[2016-04-09 06:25] jamsheer-thottathil opened #1416 "Enhanced schedule for digest agent"
I need to schedule a digest agent with day
  Example : Every Friday ,Every Saturday  etc  .  Is it possible ?Thanks in advance

[2016-04-09 08:36] dsander commented on #1412
Hi,

the job management page is based on the `DelayedJob::Job` model, it will not list resque jobs. You could mount [resque web](https://github.com/resque/resque-web) and replace the the job management link.
When you still get jobs en-queued into DJ (they show ob in the management page) we might have forgotten to replace some of the DJ job en-queue method with the ActiveJob counterpart. I  suspect

[2016-04-09 08:56] dsander commented on #1416
Hi @jamsheer-thottathil,

you can use a `SchedulerAgent`, which is more flexible then the build in agent schedules, to trigger your EmailDigestAgent.

[2016-04-09 14:25] jamsheer-thottathil commented on #1416
Thank you@dsander Already tried with SchedulerAgent but its not worked.I configured never option for email digest agent and set exact time schedule in SchedulerAgent .is it right?

[2016-04-09 14:40] brianpetro commented on #1416
I've had some issues like this; the schedule doesn't handle restarts well when considering infrequently scheduled events. I was able to solve some of my issues by running the old Proc setup(not threaded); it separates the schedule process from the Web/worker processes. This way I can restart just the worker without affecting the schedule. This doesn't help if you push an update, though.

Another p

[2016-04-10 08:42] dsander commented on #1416
@jamsheer-thottathil Yes, that is correct, did you also add the DigestAgent to the `control targets` of the SchedulerAgent?

[2016-04-10 13:54] vkurup opened #1417 "Docker image fails with HTTPError"
Hi,

I'm trying to run the docker image, but I'm getting the following error. I can see rubygems.org without difficulty from my laptop. Any advice on how to debug? Thanks, in advance!

[code]

[2016-04-10 16:27] dsander commented on #1417
Hi @vkurup,

that sounds like there is a network or routing issue in your docker installation, `1.6.2` is relatively old, any chance you can update to docker `1.10`?

[2016-04-10 16:58] vkurup commented on #1417
I should have thought of that! Yes, that works. Thanks for your help.

[2016-04-10 16:58] #1417 closed

[2016-04-10 17:36] cantino commented on #1416
I think @brianpetro's insight is correct, if you're restarting Huginn often.  Is that possible?

[2016-04-10 17:44] dsander commented on #1416
@cantino @brianpetro I think it depends, it is definitely true for the build in "every X" agent schedules. The SchedulerAgent on the other hand uses cronlines, and I don't think they will reset when Huginn is restarted.

[2016-04-11 04:43] ltpl4y3r opened #1419 "Fresh Install, Bad Gateway, Permission Denied"
This is a fresh install on a new Debian 8.0 LXC container. I have a separate container with a mySQL server on it, which is my only deviation from:[installation.md](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md)

Whenever I try to go to the site, I get the error logs below, and 502 Bad Gateway. I got no errors during install, except the one outlined in Issue #1400, to do

[2016-04-11 07:50] dsander commented on #1419
Hi @ltpl4y3r,

I think the permissions of `/home/huginn/huginn/tmp/sockets/unicorn.socket` need to be `777` to allow nginx to write to it. I wonder why that is not set automatically for you, I never had to manually set the permission in my installations.

[2016-04-11 19:07] e-alfred opened #1420 "Huginn gets unreachable after some time"
Hello,

I am running Huginn on Ubuntu 14.04 basically using the installation manual here and using self compiled Ruby 2.3: https://github.com/cantino/huginn/blob/master/doc/manual/installation.md

After some time, the Huginn instance gets unreachable and throws a 404 in the webbrowser. After using rake to restart it  works again (for some time). I have only the agents set up during installation ru

[2016-04-11 19:37] Jngai opened #1421 "Add Database cleaner ?"
I have been doing lots of testing lately and noticed that I have to clear up the test environment pretty frequently. Would adding database cleaner to ensure that we have a clean state in the test env after every single rspec run be a good idea?

[2016-04-11 19:44] dsander commented on #1420
Hi @e-alfred,

is it possible the server is running out of RAM? The last log output is missing the first part of the exception the beginning of a backtrace will always look something like this: `NoMethodError (undefined method 'name' for nil:NilClass):`
It looks like you are starting a few delayed job worker, how does your Procfile look?

[2016-04-11 19:53] dsander commented on #1421
You needed to clean up the database due to a different migration state on different branches or because the fixtures left the database in a broken state?

[2016-04-11 21:45] Jngai commented on #1421
I am pretty sure its fixtures. Its not migration. So db cleaner rolls back the sql. I have been dumping the data in the test env.

[2016-04-11 22:33] dsander commented on #1421
Hmm that is odd, I never had any issues likes that with Huginn. We are using the `database_cleaner` gem in some projects that use capybara/poltergeist more to ensure the correct database state in between individual test cases.

[2016-04-12 04:06] ltpl4y3r commented on #1419
Thanks @dsander, setting to `777 ` did the trick!

[2016-04-12 13:52] brianpetro commented on #1412
Thanks @dsander

Made a pull request for huginn_scheduler here https://github.com/cantino/huginn/pull/1422

[2016-04-12 17:34] Jngai commented on #798
#1423 new pr

[2016-04-13 04:40] cantino commented on #1421
I also have never had any issues.  Are you running code outside of `it` blocks in specs, or connecting the the RAILS_ENV=text rails console, or in some other way modifying the data in the test db outside of fixtures and specs?

[2016-04-13 04:42] cantino commented on #1419
Awesome!

Is it okay if we close this?

[2016-04-13 04:45] cantino commented on #798
Merged @Jngai's improvement!

[2016-04-13 04:45] #798 closed

[2016-04-13 05:00] #1416 closed

[2016-04-13 05:04] #1295 closed

[2016-04-13 06:20] fucx opened #1424 "huginn stopped running on heroku after update to latest revision"
After upgrading to the latest revision, my instance of huginn on a heroku hobby dyno isn't starting any more.

This is the heroku logs output:

[code]

and this is the console output after running `git push heroku master`:

[code]

This seems to indicate that heroku thinks everything's fine, but huginn isn't so sure about that.
Any help would be greatly appreciated.
Please let me know if you need

[2016-04-13 07:28] dsander commented on #1424
Hi @fucx,

when updating Huginn on Heroku the database needs to be [migrated manually](https://github.com/cantino/huginn/blob/master/doc/heroku/update.md). Running `heroku run rake db:migrate` should fix the issue you are seeing.

[2016-04-13 07:45] fucx commented on #1424
I tried that, and here's the output:

[code]

[2016-04-13 07:57] dsander commented on #1424
That's odd, what does `heroku run rails runner "pp Agent.pluck(:keep_events_for)"` output?

[2016-04-13 07:59] fucx commented on #1424
I figured you'd find that a bit odd ;)
here's the output:
[code]

[2016-04-13 08:04] dsander commented on #1424
Ok so the migration already ran
[code]
will make sure rails does not run it again, do the migrations work afterwards?

[2016-04-13 08:17] isoftmaster opened #1425 "new installation on Cloud 9 c9"
Hi there
i am student and learning ruby and want to test **HUGINN**
but i am unable to deploy it on cloud 9 server
([https://c9.io/](https://c9.io/))
can someone please make a small but detail tutorial on
how to install Huginn in Cloud 9
it will be very helpful for me

 **Solution**
------------------------------------------------

1- Create a cloud 9 ( [c9.io](c9.io) ) rails workspace and enter t

[2016-04-13 08:23] isoftmaster commented on #1425
@cantino bro can you help me cause i didn't find any installation guide for cloud 9

[2016-04-13 09:02] fucx commented on #1424
Unfortunately, it doesn't work:

[code]

[2016-04-13 09:13] knu commented on #1424
Looks like a quoting problem.  Try `heroku run bash` and then type `rails runner "ActiveRecord::Base.connection.execute(\"insert into schema_migrations (version) values ('20150507153436');\")"`, followed by `exit`.

[2016-04-13 09:24] fucx commented on #1424
Thank you very much, it worked now.

I ran `heroku run rake db:migrate` afterwards, which seems to have fixed everything. my instance of huginn is running again, and everything seems to be working nicely.

Would I need to check whether anything else is broken, or can I assume it's all sorted out now?

[2016-04-13 11:28] dsander commented on #1424
Great! I think everything else should be good.

[2016-04-13 11:39] brianpetro commented on #1412
I just want to note:

My worker memory usage has been cut in half since migrating to resque.

Using DJ, the worker would reach the 512mb RAM dyno limit(heroku) within an hour and start swapping memory. This required me to restart the server less than hourly via rake task otherwise my queue would grind to a halt.

Using Resque, I've been hovering ~250mb RAM usage and I haven't restarted the server

[2016-04-13 11:47] fucx commented on #1424
Perfect, from what I can tell so far, it's all running nicely again.

Thank you all!

[2016-04-13 11:47] #1424 closed

[2016-04-13 11:56] dsander commented on #1425
Hi @isoftmaster,

I have never used Cloud9, but how it looks like the setup required is probably similar to the [local installation](https://github.com/cantino/huginn#local-installation).

[2016-04-13 13:32] isoftmaster commented on #1425
@dsander thanks i did it

[2016-04-13 20:11] #1425 closed

[2016-04-13 20:12] cantino commented on #1419
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:12] #1419 closed

[2016-04-13 20:12] cantino commented on #1412
Interesting!

[2016-04-13 20:12] cantino commented on #1410
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:12] #1410 closed

[2016-04-13 20:13] cantino commented on #1403
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:13] #1403 closed

[2016-04-13 20:13] cantino commented on #1392
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:13] #1392 closed

[2016-04-13 20:13] ltpl4y3r commented on #1419
Thanks
On Apr 13, 2016 1:12 PM, "Andrew Cantino" <notifications@github.com> wrote:

[2016-04-13 20:13] cantino commented on #1385
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:13] #1385 closed

[2016-04-13 20:14] cantino commented on #1378
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:14] #1378 closed

[2016-04-13 20:14] #1375 closed

[2016-04-13 20:14] cantino commented on #1358
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:14] #1358 closed

[2016-04-13 20:15] cantino commented on #1258
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:15] #1258 closed

[2016-04-13 20:16] cantino commented on #1270
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:16] #1270 closed

[2016-04-13 20:16] cantino commented on #1285
Thanks @gdomod!

[2016-04-13 20:16] #1285 closed

[2016-04-13 20:16] cantino commented on #1288
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:16] #1288 closed

[2016-04-13 20:17] cantino commented on #1314
I'm going to close this since we haven't heard back.

[2016-04-13 20:17] #1314 closed

[2016-04-13 20:18] cantino commented on #1339
I'm going to close this.  Please reopen if you have more questions!

[2016-04-13 20:18] #1339 closed

[2016-04-13 20:19] #1070 closed

[2016-04-13 20:19] #1185 closed

[2016-04-13 20:19] #1187 closed

[2016-04-13 20:19] #1206 closed

[2016-04-13 20:20] #1210 closed

[2016-04-13 20:20] #1212 closed

[2016-04-13 20:20] dsander commented on #1412
@brianpetro Is that compared to running a stand alone DJ worker or the threaded background workers?

[2016-04-13 20:21] #864 closed

[2016-04-13 20:21] #876 closed

[2016-04-13 20:21] #964 closed

[2016-04-13 20:43] Jngai commented on #752
#1427 new pr to solve this problem.

[2016-04-14 11:54] brianpetro commented on #1412
@dsander that would be both.

[2016-04-14 12:06] brianpetro commented on #1412
@dsander @cantino Unfortunately, I'm still seeing a significant amount of duplicate events when running multiple workers :(

I'm thinking about trying the resque-pool gem, but, this is seeming like a huginn issue now since we've ruled out memory swapping and DB transaction latency.

[2016-04-14 13:21] dsander commented on #1412
@brianpetro That is annoying. Can you share a scenario with which the issue can be reproduced?

[2016-04-14 13:58] brianpetro commented on #1412
@dsander attached is a scenario that makes a couple calls to reddit via the website agent.

For my test I used 5 workers.

Running the first agent *manually* (check method) to start the scenario works fine.

The first issues appeared in the second agent, where each event was duplicated.

The third agent duplicated the total amount of events yet again (4x the original).

I also included De Dup agen

[2016-04-14 14:25] brianpetro commented on #1412
And the results when running a single worker.

![duplicates-test-results-one-worker](https://cloud.githubusercontent.com/assets/1886014/14531391/246c305c-022b-11e6-9ec5-bbb98177cd15.png)

[2016-04-14 19:38] Jngai commented on #1421
Yes I have been connecting into rails_env=test console. I will close this ticket.

[2016-04-14 19:38] #1421 closed

[2016-04-15 10:37] vijayrajah opened #1429 "How to Disable new user login"
I looked at the wiki, I wasn't able to find out how to do it.

I have a private instance, I would like to disable new user login, while retaining the ability to create new user using the admin screen.

is this possible?

-Thanks
Vijay

[2016-04-15 16:50] dsander commented on #1429
Hi @vijayrajah,

technically is it not possible to disable the login form, but if you configure the `INVITATION_CODE` in your `.env` file to be random and complex enough nobody will be able to create a new account.

[2016-04-16 10:21] dsander commented on #1412
@brianpetro Is it possible that you were using the "Run event propagation" option while testing?

During my test with `delayed_job` and 5 workers I never noticed any duplicate events when I waited for the event propagation to happen automatically every minute. Can you change all your receiving agent to be propagated immediately and check if you are still getting duplicate events?

I was able to re

[2016-04-16 13:13] brianpetro commented on #1412
@dsander I'm sure about that, however, I'm not easily reproducing the issue either.

What do you think about this possibility:

1. The queue is long enough so that more than one system propagation process gets queued
2. The queue reaches these system propagation processes and runs each on a different worker and thus schedules duplicate processes in the queue

[2016-04-16 15:50] cantino commented on #1412
Interesting idea-- maybe `AgentPropagateJob` needs to ignore if one is already running?  (Or `run_schedule` in the schedular.)

[2016-04-16 16:15] dsander commented on #1412
@brianpetro I think both can be happening, multiple propagate jobs can be en-queued and with multiple workers it is possible that they are running at the same time. When the timing is right both jobs can pick up the same event ids and run the target agents multiple times.

@cantino Either that or we need some kind of locking mechanism in `Agent#propagate!`, I will continue to debug this tomorrow a

[2016-04-17 04:12] somepaulo commented on #1388
Doesn't seem like...

[2016-04-17 10:15] vijayrajah commented on #1429
I know nothing about Ruby.. But, can we not, just remove the button from the login page?

[2016-04-17 10:23] vijayrajah opened #1431 "updating the docker image"
I have a docker based instance of huginn running on my server.

How do i update the image. I mean, If i do a "docker pull" will that remove the existing and initialize an new on?..

What is the official method of updating docker images.

[2016-04-17 11:06] johnnyzen commented on #1431
I would love to know this too :)

[2016-04-17 17:12] johnnyzen commented on #1044
Hey Cantino

I am ordering by date. But still having the same problem....I think I know the problem...

The output is being created in this way when say the limit is 40:

Fetch Agent A = 20 events
Fetch Agent B = 20 events
*Limit Reached*
*Order By Date*
Fetch Agent C = Not Done

Where it should be this:

Fetch Agent A = 20 events
Fetch Agent B = 20 events
Fetch Agent C = 20 events
*Order By Date*

[2016-04-17 17:20] johnnyzen commented on #1044
This is the line I think from huginn/app/models/agents/data_output_agent.rb

```source_events = sort_events(received_events.order(id: :desc).limit(events_to_show).to_a)```
from: huginn/app/models/agents/data_output_agent.rb

It seems to be only ordering to the limit of events_to_show, rather than ordering before limiting.

Not sure how to fix though?

[2016-04-17 17:31] johnnyzen commented on #1044
Maybe this:
[code]

[2016-04-17 17:37] dsander commented on #1431
`docker pull` will only update your local huginn image. To update the container your need to run `docker stop`, `docker rm`, and `docker run` to create a new container based on the updated image. Keep in mind that this will remove the data inside the old huginn container, when you are not using a [linked database or exported the data using a volume](https://github.com/cantino/huginn/blob/master/do

[2016-04-17 23:46] johnnyzen commented on #1044
Sorry for my lack of understanding of ruby.

Anyhows I have fixed by making this change:

[code]

replacing
[code]
from huginn/app/models/agents/data_output_agent.rb:172

[2016-04-18 02:13] iLtc opened #1436 "Can't connect to local MySQL server through socket"
Hi,

I am trying to install Huginn on one server with MySQL on another server.

I have setted ```.env``` like this:

[code]

And I also run ```bundle exec rake db:create```, ```bundle exec rake db:migrate```, and ```bundle exec rake db:seed``` successfully.

However, after I ```bundle exec foreman start``` and visited the website, it always showed "We're sorry, but something went wrong." And the `

[2016-04-18 06:41] vijayrajah commented on #1431
Yes, Thanks for this @dsander .. I was running an instance which did not have mysql volume exported..
@johnnyzen
This is what i did

- Take a backup -- docker export -o  ~/huginn.tar <container_name>

- Find the volume for the current huginn image -- use docker inspect <cointainer_name" and find the fs path for the container
- do an rsync of the volume to a directory on the docker_host (i used: rs

[2016-04-18 06:52] neurolit opened #1437 "Can't change base URI"
Hi!

Thank you very much for this awesome tool! Huginn is really great.

I'd like to host Huginn on a server (through Apache or Nginx), and use _https://hostname/huginn-sub/_ instead of _https://hostname/_.

However I can't find a way to change the base URL of Huginn. Setting DOMAIN to _https://hostname/huginn-sub_ doesn't work, as all generated URL are absolute and begin with /.

Is there a way t

[2016-04-18 07:13] knu commented on #1437
I think there are some (or many) places where Huginn is running at '/', especially in Ajax calls.
We'll need to fix them before we can mount Huginn anywhere except at a root.

[2016-04-18 08:20] dsander commented on #1436
Hi @iLtc,

it is odd that the database creation and migration worked but the webserver does not use the correct configuration. Did you run `sudo bundle exec rake production:export` after changing the settings in `.env`?
An other possibility is that the `DATABASE_PORT` needs to be set for rails to connect to `DATABASE_HOST` and not use the socket.

[2016-04-18 09:43] pcarranza commented on #321
Hey, I was just playing with this this weekend and found out that the way the dropbox client is implemented is limited to tokens that have access to the whole dropbox account. And also that it is limited to one token for the whole application.
Does it make sense to store this oauth configuration as a model rather than in the configuration? That would allow to add as many dropbox clients as we want

[2016-04-18 12:33] richwestcoast opened #1438 "Issue with bundle install"
After running this command:
sudo -u huginn -H bundle install --deployment --without development test

I get this error message: ([full log](http://pastebin.com/BQFkGyB8))

NoMethodError: undefined method `spec' for nil:NilClass

Did you mean?  inspect

An error occurred while installing delayed_job_active_record (4.1.0), and Bundler cannot continue.

Make sure that `gem install delayed_job_active_

[2016-04-18 12:56] kiliankoe opened #1439 "Docker install fails"
Hi,

I'm unfortunately not even close to knowing my way around docker or a rails app, but wanted to start up huginn via docker on a machine of mine. I'm running into some issues though when trying to start it via `docker run -p 3000:3000 --name huginn cantino/huginn` or with varying flags. I always run into the following output:

[code]

Any help would be greatly appreciated. Thanks.

[2016-04-18 13:30] richwestcoast commented on #1438
Fixed this issue by running gem update (doh)

[2016-04-18 13:30] #1438 closed

[2016-04-18 13:35] dsander commented on #1439
Hi @kiliankoe,

are you using the latest `cantino/huginn` image? I just tried `f09305c3c428` (the tag is `4140fa62f9ff2aeb32062c8ba7a861872439704a`) with docker 1.11.0 on OSX  and the container started without problems.

[2016-04-18 13:46] Jngai commented on #321
@pcarranza please take a stab at it.

[2016-04-18 16:33] dsander commented on #321
@pcarranza That totally makes sense and would be an awesome addition! When you are working on it it would be great to have the same configuration interface for all OAuth services we support.

[2016-04-18 16:37] dsander commented on #1429
You can remove it, but I do not understand how it would make a difference. The login page already shows a message that the Huginn installation is not open to the public.

[2016-04-18 16:59] pcarranza commented on #321
Yep. One, two, many.
On Apr 18, 2016 17:33, "Dominik Sander" <notifications@github.com> wrote:

[2016-04-18 17:21] kiliankoe commented on #1439
The latest version (specified with the tag or without) seems to start just fine locally on OSX here as well, but I'm running into the problem with a freshly installed Ubuntu 14.04 with Docker 1.11.0 on DigitalOcean.

I'm guessing it's not really an issue with huginn, but I'm not sure what to look for. Simple demo apps work just fine with the installed docker on that machine.

[2016-04-18 19:44] kiliankoe commented on #1439
After trying it out again locally I see that I get the same output as above, but that's not where it ends. After seemingly having ended in those errors, it continues on to

[code]

I've let it sit for close to an hour before. Not sure if this helps at all, just something I just noticed.

[2016-04-19 02:32] mogorman commented on #1274
in my case i sometimes just want the message so i think it makes more sense to send that, and if the user wants more data they can use a formatter to put into the message

[2016-04-19 03:03] cantino commented on #1439
Hey @kiliankoe, how much RAM does your box have?

[2016-04-19 03:10] cantino commented on #1388
Can OpenShift run Docker?

[2016-04-19 03:15] cantino commented on #321
Would you picture modes being selected by configuration in the Agent, by a new setting, or in the .env?

[2016-04-19 03:22] cantino commented on #1437
Thanks @neurolit!  For now, could you use a subdomain?

[2016-04-19 03:24] cantino commented on #1438
Glad it's working for ya :)

[2016-04-19 03:26] cantino commented on #1044
I think this is a bug.

[2016-04-19 03:31] iLtc commented on #1436
Hi @dsander,

I set ```DATABASE_PORT``` and Huginn can run now!

Thank you!

Best,
Alan

[2016-04-19 03:31] #1436 closed

[2016-04-19 03:37] cantino commented on #1044
The problem is that `received_events.order(id: :desc).to_a` could be really huge.  @knu, any thought on how to do this with Arel?

[2016-04-19 04:20] mikalauskas commented on #1006
#1432

[2016-04-19 04:20] #1006 closed

[2016-04-19 07:25] kiliankoe commented on #1439
I feel like an idiot for not having tried this... I tried again with a 1GB machine instead of just 512MB and everything seems to work just perfectly. Thanks for the hint! 😊

[2016-04-19 07:25] #1439 closed

[2016-04-19 07:47] dsander commented on #1436
Great! Glad it works now.

[2016-04-19 08:06] pcarranza commented on #321
New configuration. There is probably a basic one for the oauth vars, and then some agents may have specific values like the dropbox one does (mode)

But I'll try to scratch the dropbox itch first, then take a step back and check again.

[2016-04-19 11:49] knu commented on #1044
Ah, so you want to order events before narrowing them by id.  It'd be too expensive to compute the ordering score for every event record stored in the database every time the feed was accessed, so we'd need to cache the results and minimize the computation cost.  Maybe an agent could hold the {events_to_show} highest scoring events in its "memory" storage and update them every time the agent recei

[2016-04-19 11:59] jamsheer-thottathil opened #1441 "How change country code in TwilioAgent ?"
I am getting following error while work with TwilioAgent ,It seems my country code is not valid .

Here +1 is automatically added by huginn ,how to change country code  ?

[2016-04-19 13:33] johnnyzen commented on #1044
Yeah I dont think my code is working well, huginn dies after a period of time. Not sure why :(

[2016-04-19 13:51] johnnyzen commented on #1431
thanks @vijayrajah thats very kind of you to write that up :)

[2016-04-19 13:54] knu commented on #1044
I think I have an idea, will come up with a patch for testing shortly.

[2016-04-19 14:29] albertsun commented on #1441
The TwilioAgent doesn't modify the phone number that you put in for `sender_cell` or `receiver_cell` at all, so that message about the phone number not being valid likely comes from Twilio.

If you're trying to send to a non-US phone number you may need to use a different Twilio number than that one. Perhaps this documentation is relevant? https://www.twilio.com/docs/api/errors/21606

[2016-04-19 14:33] knu commented on #1044
@cantino What do you think about the change above?

[2016-04-19 14:38] cantino commented on #321
Looking forward to seeing what you come up with!
On Tue, Apr 19, 2016 at 1:06 AM Pablo Carranza <notifications@github.com>
wrote:

[2016-04-19 18:32] mogorman commented on #1289
I made  the change @r04r recommended and it solved my missing events issue.  im not sure what hte proper long term fix is.  it seems like it would be better if huginn maintained a constant connection to mqtt rather than disconnect constantly

[2016-04-19 18:54] mogorman commented on #1289
i ran into same problem he described my messages are never delted from queue and just spam endlieslly with hi patch

[2016-04-19 21:00] Jngai commented on #801
Hey @dsander I am having trouble coming up with an example since I don't know any particular agent well enough to check its peak. Do you have an example for me? It should click when I see something.

[2016-04-19 21:34] Jngai commented on #1319
@cantino I remember I don't fully understand this. Does it mean if I throw in the rss feed into spinner and create the feed and the rss agent will still work?

[2016-04-19 22:26] OliverGee opened #1442 "Unicorn Error"
Hi there,

I have followed the installation instructions [here](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md) to install on a Ubuntu based server over at DigitalOcean. I am new to nginx (familiar with apache) so a little lost.

I am getting the following error:

`2016/04/19 23:15:19 [crit] 979#0: *1 connect() to unix:/home/huginn/huginn/tmp/sockets/unicorn.socket failed

[2016-04-19 22:52] dsander commented on #1442
Hi @OliverGee,

the issue you are noticing can have multiple causes. First check that the unicorn process is running `ps aux|grep unicorn`.  If it isn't run `sudo bundle exec rake production:export`
Next  ensure the unicorn socket file exists `sudo ls -al /home/huginn/huginn/tmp/sockets/unicorn.socket`. If it doesn't the unicorn configuration is not set up correctly.
Now we need to check if the so

[2016-04-20 02:40] cantino commented on #1319
I'm not really sure.  @screamolic, what did you have in mind?

[2016-04-20 02:56] cantino commented on #801
I usually use it with a TwitterStreamAgent.  See http://blog.andrewcantino.com/blog/2014/03/17/know-when-the-world-changes-with-huginn/

[2016-04-20 05:08] trenkert commented on #353
Could we get an agent for glip.com?

[2016-04-20 05:17] screamolic commented on #1319
like @Jngai says. create rss into spinner and let the agent do the job..

[2016-04-20 06:59] dsander commented on #801
@Jngai Me too, you could also feed it stock prices.

[2016-04-20 07:29] kepford opened #1443 "Commander Agent not transmitting data from Rss Agent to Post Agent"
I'm a complete noob to Huginn, well about 24 hours in. Love it! Having one issue though. I'm attemping to wire up an event workflow that checks an RSS feed and then triggers a post to my Pinboard.in account.

<img src="https://dl.dropboxusercontent.com/s/a8ig1arxbdl6g3v/2016-04-20%20at%2012.14%20AM.png"  />

I'm wondering if I have something incorrect in my Post agent. I'm trying to pass the url a

[2016-04-20 08:11] OliverGee commented on #1442
Hi @dsander

Thanks for your swift response.

I ran into issues with the socket file. It throws a 'no such file or directory' error when running the command `sudo ls -al /home/huginn/huginn/tmp/sockets/unicorn.socket` so it seems we found the problem!

Should I reinstall?

[2016-04-20 10:48] dsander commented on #1443
Hi @kepford,

glad you like Huginn! I think you do not need to `CommanderAgent` in the setup. Sending the event from the `RssAgent` to the `PostAgent` will trigger it automatically. Try using [Liquid interpolation](https://github.com/cantino/huginn/wiki/Formatting-Events-using-Liquid) in the `PostAgent` to use the fields of the incoming events.

[code]

[2016-04-20 10:50] dsander commented on #1442
Can you post the contents of the unicorn configuration? It should be in `/home/huginn/huginn/config/unicorn.rb`

[2016-04-20 10:55] knu commented on #1044
Actually, my original intention for the `events_order` option was to control the order of last n items in final RSS/JSON output, not to determine how last n items are selected, hence the option description `Ordering events in the output`.  For example, an RSS feed or a timeline API normally lists items in reverse chronological order (newer items first) while DataOutputAgent lists items in chronolo

[2016-04-20 10:55] OliverGee commented on #1442
[code]

[2016-04-20 14:17] kepford commented on #1443
Ah! That makes sense now. And it worked. Thanks!

[2016-04-20 14:17] #1443 closed

[2016-04-20 14:21] dsander commented on #1442
Thanks, that looks perfectly fine.

Can you run the following command and provide the output of `/home/huginn/huginn/log/unicorn.log` afterwards?
[code]

[2016-04-20 14:22] dsander commented on #1443
Great, have fun with Huginn! :smile:

[2016-04-20 14:27] OliverGee commented on #1442
Thanks for your help thus far.

I ran the commands you listed but there appears to be no log output. The only file in the log folder is production.log.

[2016-04-20 15:15] dsander commented on #1442
Ok, can you post your `Procfile`?

[2016-04-20 17:10] OliverGee commented on #1442
I'm sure it's going to be something simple I've buggered up!

[code]

[2016-04-20 20:12] dsander commented on #1442
Hopefully it is, try removing the leading spaces in front of `web` and `jobs`.

[2016-04-20 20:38] OliverGee commented on #1442
Amazing. That was it! Thanks for all your help. I feel like an absolute moron :dancer:

[2016-04-21 00:19] OliverGee opened #1445 "Template/layout edits?"
Aside from the obvious CSS editing, where can i find the basic template structure for Huginn? I want to be able to alter the format of elements but can't for the life of me work out where it's sourcing it's basic html structure from.  I want to change fonts  (use Google Fonts), colours etc. but can't see where to edit header calls?

Also, is there a translation file somewhere to alter the language

[2016-04-21 01:36] cantino commented on #1445
This is a Rails application, so most of the HTML is in the app/views/ directory.  We don't have translation strings in place at the moment.

[2016-04-21 01:51] OliverGee commented on #1445
That is whay i concluded from looking at the structure, however editing any of those files yields mo results on the frontend?

[2016-04-21 11:09] dsander commented on #1442
Great, glad that fixed the issue!

[2016-04-21 11:09] #1442 closed

[2016-04-21 11:13] dsander commented on #1445
I assume you are working on the production Huginn instance you set up? If that is the case you will need to restart the application after every edit with `sudo production:restart`, changes to javascript/css also require the assets to be [precompiled](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md#compile-assets) before the restart. Making changes is easier in a [developme

[2016-04-21 11:27] OliverGee commented on #1445
Ah, that'll be it.

@dsander to my rescue once again. Thanks!

[2016-04-21 16:27] OliverGee commented on #1445
Just other quick questions:

- How would I call Google Fonts in the header?
- How does Huginn load image assets? I've tried adding relevant images to the /assets/images folder but they 404.

Thanks!

[2016-04-21 22:24] dsander commented on #1445
You should be able to add your google fonts to the header in the [application layout](https://github.com/cantino/huginn/blob/master/app/views/layouts/application.html.erb) just like you would in a HTML page. For the images I recommend reading the [rails asset pipeline guide](http://guides.rubyonrails.org/asset_pipeline.html), I forgot to mention adding images to `app/assets/ images/` also requires

[2016-04-21 22:34] OliverGee commented on #1445
Thanks @dsander.

I understand the code for including an image, and mine is correct I think:

`<%= link_to image_tag("logo.png", :class => 'img-responsive img-rounded', :border => 0, :alt => 'Logo alt text', :title => 'Logo title'), root_path, :class => 'navbar-brand' %>`

But that 404's. I'll read the article you linked and update later.

Thanks for all your help so far.

[2016-04-22 03:44] kepford opened #1448 "Is it Possible to have multiple Twitter account in one Huginn user account?"
Is it Possible to have multiple Twitter account in one Huginn user account?

[2016-04-22 07:08] dsander commented on #1448
Hi @kepford,

yes that is possible, you probably need to sign out of your current Twitter account before starting the authentication via the "Authenticate with Twitter" link a second time.

[2016-04-22 07:17] dsander commented on #1445
The code looks correct to me, did you precompile the assets afterwards and restarted Huginn?

[2016-04-22 08:41] dsander commented on #1319
@screamolic I think that should be possible using a `PostAgent`:

[code]

[2016-04-22 13:55] Jngai commented on #780
@cantino You forgot to close this.

[2016-04-22 15:33] kepford commented on #1448
Ah, after reading https://github.com/cantino/huginn/wiki/Configuring-OAuth-applications I was thinking one had to create a Twitter Application for each account. Thanks @dsander

[2016-04-22 15:33] #1448 closed

[2016-04-23 04:34] charle692 commented on #353
Just an idea for an agent, trello.com would be pretty cool. I may take a look at it myself when finals are over.

[2016-04-23 14:18] vivagonna opened #1450 "'Could not find rake-10.5.0 in any of the sources' when trying to Initialize Database"
Hi, I'm trying to install huginn on Debian Wheezy, everything went smoothly except when I tried to initialize database, it prompted up:

Could not find rake-10.5.0 in any of the sources
Run bundle install to install missing gems.

I tried `sudo gem install rake -v '10.5.0'` ,rake -v '10.5.0 installed successfully but it didn't work. Did anyone have the same question here?

Thanks.

[2016-04-23 17:27] cantino commented on #1450
Did you `bundle`?

[2016-04-23 17:32] #780 closed

[2016-04-23 17:32] cantino commented on #780
Thanks @Jngai for implementing it!

[2016-04-23 17:33] cantino commented on #353
That'd be awesome @charle692

[2016-04-23 18:36] joeparis opened #1451 "Error parsing Gemfile"
While setting up Huginn on a Digital Ocean Ubuntu 14.04 VM I keep running into the following error when running

`sudo -u huginn -H bundle exec rake db:create RAILS_ENV=production`

[code]

Any pointers would be appreciated.

[2016-04-23 19:21] cantino commented on #1451
What version of Bundler do you have?

[2016-04-23 19:38] joeparis commented on #1451
1.11.2

[2016-04-23 20:09] dsander commented on #1451
Hi @joeparis,

this might be caused by a line in your `.env` file search for the string `8af8e90eb6575a026da81afcbce08`. All lines need to match the format `VARIABLE_NAME=value`.

[2016-04-23 20:28] joeparis commented on #1451
@dsander Thank you! I accidentally removed `APP_SECRET_TOKEN=` when I put the app secret in the .env file. I feel really foolish. Thanks to both you and @cantino for your replies.

_smh_

[2016-04-24 01:16] vivagonna commented on #1450
Thx cantino, I found I did miss something, when I `bundle`, it prompt

[2016-04-24 01:27] vivagonna commented on #1450
Thanks, cantino, I found I did miss something, when I run `bundle`, there was an error, "invalid byte sequence in US-ASCII (ArgumentError)" and I missed it out. I tried the solution in [this thread](http://stackoverflow.com/questions/17031651/invalid-byte-sequence-in-us-ascii-argument-error-when-i-run-rake-dbseed-in-ra) and `bundle` successfully. But I haven't gone through the whole process until

[2016-04-24 06:47] vivagonna commented on #1450
Hi, I managed to complete the install process and huginn finally ran.

run: huginn-jobs-1: (pid 11015) 1071s; down: log: 1s, normally up, want up
run: huginn-web-1: (pid 11012) 1071s; run: log: (pid 11091) 1066s

 I configure apache with [this example](https://github.com/cantino/huginn/wiki/Apache-Huginn-configuration), all needed mods enabled, https works fine and I can see Huginn's logo on the t

[2016-04-24 08:28] dsander commented on #1450
I think you need to change `listen "#{wd}/tmp/sockets/unicorn.socket"` in `config/unicorn.rb` to `listen "127.0.0.1:3000"` and restart Huginn afterwards.

[2016-04-24 08:43] vivagonna commented on #1162
Hi, I just came across with this problem too, when I `sudo rake production:restart` I got an error like this:

[2016-04-24 09:00] vivagonna commented on #1450
Thank you so much sir! I just find your previous relpy about this error in anthor thread, it works. It is awesome! :+1:

[2016-04-24 09:02] dsander commented on #1162
`sudo bundle exec  rake production:restart` should work, we might need to update the installation guide.

[2016-04-24 09:03] #1450 closed

[2016-04-24 16:56] cantino commented on #1451
Great!  Okay if I close this?

[2016-04-24 17:07] joeparis commented on #1451
Yes,  please do.  And thanks again!

[2016-04-24 17:07] #1451 closed

[2016-04-24 17:09] cantino commented on #1451
No problem :)

[2016-04-25 13:46] gdomod opened #1452 "Cloudflare Token"
Hi,

i want to get a RSS Feed but its behind a cloudflare,
how can i parse the token or ignore the protection ?

http://www.mydealz.de/rss/deals/new

[2016-04-25 16:49] dsander commented on #1452
Hi @gdomod,

it looks like Cloudflare executes some Javascript code to redirect the browser. Huginn unfortunately does not support Javascript execution in the Website or PostAgent, so I think it is not possible to bypass the Cloudflare protection with Huginn.

[2016-04-26 06:14] TildeWill opened #1453 "DelayedJob script vs. Rake task"
I'm in process of spinning up multiple instances on Heroku for Omniscope, and I was looking at the start command for the workers, [script/delayed_job.rb](https://github.com/dsander/huginn/blob/master/script/delayed_job). I didn't know if this file was offering something beyond the included rake task that comes with DelayedJob, [`rake jobs:work`](https://github.com/collectiveidea/delayed_job/blob/m

[2016-04-26 07:32] dsander commented on #1453
I think we can remove the script, daemonizing is not needed in any of the setups we support.

[2016-04-27 06:08] TildeWill opened #1454 "2 Events from 1 Agent when running multiple workers"
As I'm digging in to this problem I thought I'd open an issue in case someone else comes across this problem and/or has some insight. All this is locally on my MacBook Pro. I ran a script that dsander posted in another thread to create 500 pairs of agents (1000 total) plus one ManualEventAgent to kick off a set of web requests back to the web server.
[code]

Expected outcome: 501 Events, Actual: 5

[2016-04-27 06:38] TildeWill commented on #1454
Maybe it's late, but now I'm very consistently getting 1001 Events. I don't think I've changed anything significant. I changed my `.env` to have `DOMAIN=localhost:5000` rather than `DOMAIN=localhost:3000` so that DOMAIN would match the URL the PostAgent is posting to. I thought that was the cause. But then I changed it back to `DOMAIN=localhost:3000` and still got 1001 Events. *head scratch*

[2016-04-27 07:31] dsander commented on #1454
Which version are you running? Before #1432 was merged you could get duplicate events by triggering the event propagation via the web interface at the same time the background processor runs the propagation.

[2016-04-27 11:11] thim81 opened #1456 "SyntaxError while loading delayed_job_active_record.gemspec"
After running `bundle` command, the following error stops the installation

[code]

[2016-04-27 12:26] dsander commented on #1456
Hi @thim81,

try settings the system encoding to UTF-8 explicitly like this:

[code]

[2016-04-27 14:31] thim81 commented on #1456
Hi Dsander,

I set ran the terminal commando's
[code]
and then ```bundle````

But i still get the same error?

Or is these ruby specific settings?

[2016-04-27 15:21] jamsheer-thottathil opened #1457 "More scheduler options to Email Digest Agent or Digest Agent"
I am working with 'Email Digest Agent' and its  working fine.But now i need to provide more scheduler options as end user decision.Is there any way to generate dynamic scheduler or any third party tools to integrate with huginn  to achieve this.I already added  more customized time with scheduler agent but its does not meets my requirement
Thanks in advance

[2016-04-27 15:29] OliverGee commented on #1445
Hi @dsander, apologies for the belated reply. I got it working.

I came to the realisation it would probably be easier to just implement an existing Bootstrap admin theme if i want to alter the layout. How hard would this be to do? I am completely unfamiliar with how rails applications work, but am knowledgeable as to how bootstrap works.

[2016-04-27 19:39] dsander commented on #1456
The problem is that ruby is using the wrong encoding (US-ASCII) when it needs to be UTF-8, normally setting the environment variables fixes the problem.

Which ruby version on which OS are you using?

[2016-04-27 19:44] dsander commented on #1445
Hmm not sure, you can modify the [application.css.scss.erb](https://github.com/cantino/huginn/blob/master/app/assets/stylesheets/application.css.scss.erb) file and add the theme there or add a new css/scss file in the `app/assets/stylesheets/` directory.

[2016-04-28 03:41] cantino commented on #1457
Would a Scheduler Agent meet your needs?  It can trigger other agents at certain times.

[2016-04-28 04:29] jamsheer-thottathil commented on #1457
Already working with scheduler agent .but my requirement is that i need to set scheduling time dynamically (Eg:-through payload)

[2016-04-28 05:19] TildeWill commented on #1454
Yep, running code that's after #1432. No other agents on the system besides the ones generated by the above script.

[2016-04-28 05:54] TildeWill commented on #1453
I'm looking at the Procfile, the section with dj2..dj10. There's no easy way to assign an instance number to the rake task version that I can see. I'm going to close this issue unless it's a hot issue for someone else.

[2016-04-28 05:54] #1453 closed

[2016-04-28 10:44] beeksiwaais opened #1458 "Adding "domain" or "data type" as source in agent"
We have to connect manually agents together in "sources" fields when we define a agent. We could instead add a more abstract type of source "domain".

A domain "public transport" could be generated by any agent generating this data type. The agent issuer should comply with a definition set by the receiving agent. An agent could then use the agent "public_transport" or any other agent capable of pr

[2016-04-28 12:19] dsander commented on #1457
You could use a Commaner Agent to change the options of the Scheduler Agent, or if you want to trigger the agent externally using a WebhookAgent would probably be the easiest solution.

[2016-04-28 12:56] brianpetro commented on #1457
Create a Javascript agent that stores the incoming event ID and time in the
agent memory. The check function should check every minute (using existing
built-in scheduling) if the any times in the memory are less than the
current time. If there are, re-emit those events.

On Thu, Apr 28, 2016, 8:19 AM Dominik Sander <notifications@github.com>
wrote:

[2016-04-28 15:11] #1458 closed

[2016-04-28 16:15] rpglover64 opened #1459 "Nitrous quickstart button link broken"
It doesn't seem to have a `repo` parameter, which quickstart appears to require.

[2016-04-28 21:33] dsander commented on #1459
Hi @rpglover64,

I am redirected to the correct URL including a `repo` param, but then I am getting an error: "Another container creation request is currently being processed".

@yeouchien Can you please have a look what is going wrong?

[2016-04-29 01:41] yeouchien commented on #1459
Hi @rpglover64,
Nitrous quickstart doesn't require a `repo` param if it's click from repo `README` file. It will just use `HTTP referer`.

@dsander I've tested it again and it works fine for me. Did you click the button twice? That error indicate that your workstation is creating another project. Workstation can only create 1 project at a time.

[2016-04-29 02:02] cantino commented on #1458
Hey @beeksiwaais, I think this is an interesting idea.  We've talked about event schemas and namespaces in the past (like subscribing to `public_transit.*`).

[2016-04-29 05:38] jamsheer-thottathil commented on #1457
@brianpetro  will you please give sample source of  java scriptAgent

[2016-04-29 05:39] jamsheer-thottathil commented on #1457
by mistake  i closed this.
@brianpetro will you please give sample source of java scriptAgent

[2016-04-29 06:32] vivagonna opened #1460 ""deleted" agents on background jobs panel"
Hi,

I've been playing around with huginn for a while, and it is great. It works well but I found it strange having some "deleted" agents listed on background jobs panel. They just show up every couple of minutes and then dispear. I took a [screenshot](https://drive.google.com/file/d/0B7ddmh7iiF1MVVNKa0tQckxhbzQ/view?usp=sharing), is there anything wrong with it? Thanks.

BR
Eason

[2016-04-29 07:45] dsander commented on #1459
@yeouchien Thanks, I don't know what went wrong. I had to log in to my nitrous after clicking the quickstart button, then get the "resuming workspace" message but did not see the "launching application" dialog. When I checked it this morning I got one application running.

Is it possible the quickstart button is not working if the browser is not sending the HTTP referrer (maybe caused by strict do

[2016-04-29 12:09] vivagonna opened #1461 "error "We're sorry, but something went wrong.""
Hi,

I got an error "We're sorry, but something went wrong.", after I changed "message" field in Options of a TriggerAgent like this:

(I'm a newbie at liquid syntax, don't laugh...)
The Agent page won't open with the error showing up. I end up to set the "message" to a safe value manually in database then it works well again. I just wondering what on earth triggered that error. Could anyone help?

[2016-04-29 12:43] brianpetro commented on #1461
Use `{{ line_break }}` see https://github.com/cantino/huginn/wiki/Formatting-Events-using-Liquid

[2016-04-29 12:45] brianpetro commented on #1461
`{{remove:\t}}` is probably also breaking things.

[2016-04-29 13:05] dsander commented on #1460
Hi @vivagonna,

It's hard to tell which Agent is causing this, normally this should only happen right after deleting an Agent that runs on a schedule (but stop occurring at least after a restart of Huginn) or if you added and removed the code for an Agent.

Can you enter the following in a rails console the second the "deleted" agents pop up? (started with `rails c` in development or `sudo -u hugi

[2016-04-29 13:50] vivagonna commented on #1460
Hi, @dsander

Thanks for you kind reply. I tried to open a rails console but got some error. I'be checked the three *.rb files but found nothing wrong.

[2016-04-29 13:53] dsander commented on #1460
Sorry, my bad I got the command backwards `sudo -u huginn -H RAILS_ENV=production bundle exec rails c` should work.

In the rails console `pp Delayed::Job.all; nil` will produce a more readable output in production.

[2016-04-29 13:55] vivagonna commented on #1461
Hi, @brianpetro

Thanks for you advices. I think I need to drill the syntax before I mess it up again...

BR

[2016-04-29 14:17] vivagonna commented on #1460
Hi,  @dsander

Thank you very much. I think I've caught all them three this time, because I paused all my agents. They are here:

Looks like some kind of background processes, I think?

[2016-04-29 14:29] dsander commented on #1460
Yes, correct. Thanks a lot for helping to debug this! That is indeed a bug, a recent change broke the displaying of those jobs. They should at least be shows as "(internal)" like we did before. I will work on a fix for that.

[2016-04-29 19:08] #1460 closed

[2016-04-29 20:11] isoftmaster opened #1463 "twitter max_result"
i am trying to get more then 100 result from twitter search API using NodeJs
but not working
if anyone can help please
its possible cause i tried in huginn twitter search agent (with max_result) and i got what i want
but i want same thing in Node :(
i know this is irrelevant topic but you people can help me

[2016-04-29 23:23] vivagonna commented on #1460
Great! Thank you, @dsander .

[2016-04-30 02:39] cantino commented on #1463
Sorry @isoftmaster, I don't know NodeJS well.

[2016-04-30 09:22] dsander commented on #1463
@isoftmaster The twitter API is paginated, it returns at most 100 results per query, you can provide the [since_id](https://dev.twitter.com/rest/reference/get/search/tweets) parameter in successive requests to get more results.

[2016-04-30 10:05] jamsheer-thottathil commented on #1457
Please give sample configuration of java script agent to achieve this

[2016-04-30 18:44] cantino commented on #1457
You'll probably need to write it yourself, @jamsheer-thottathil.  As @brianpetro said, it'd be some code that stores the event IDs and time in the memory and compares to it.

[2016-04-30 18:47] cantino commented on #1454
I wonder if you get the same symptoms with Agents that don't interact with the network?

[2016-04-30 18:50] hunhejj commented on #1461
I tried to push the current master to heroku. Now I get this error message, after logging into my huginn app. I haven't pulled/pushed for at least 6 months. Here's what `heroku logs ` returned:

2016-04-30T18:33:29.868781+00:00 app[web.1]: fatal: Not a git repository (or any parent up to mount point /app)
2016-04-30T18:33:29.868789+00:00 app[web.1]: Stopping at filesystem boundary (GIT_DISCOVERY_A

[2016-04-30 18:54] cantino commented on #1461
Maybe your current directory doesn't have a .git directory in it?  Is it a normal git repo?

[2016-04-30 18:58] hunhejj commented on #1461
I mean it was working _before_ (or if I did a `heroku rollback`), so I guess everything should be set up correctly on the remote repo.

[2016-04-30 18:59] hunhejj commented on #1461
And I do see the Huginn login page, I get the error message only afterwards.

[2016-04-30 20:41] dsander commented on #1461
Hi @hunhejj, you need to migrate the database after [updating Huginn on heroku](https://github.com/cantino/huginn/blob/master/doc/heroku/update.md): `heroku run rake db:migrate`

[2016-04-30 21:02] Warloxx commented on #1352
I just managed to setup huginn on freeNAS (based on freebsd) and discovered, apart from other problems, the same problem as @alxcord.

splitting up this command
`sudo bundle exec rake production:export`
as suggested by @dsander, I could, just as alxcord, run
`sudo foreman export runit -a huginn -l /home/huginn/huginn/log /etc/service`
successfully

Now to the problem with the services.
The man pag

[2016-05-01 00:50] #1408 closed

[2016-05-01 07:57] cantino commented on #1408
:)

[2016-05-01 08:03] hunhejj commented on #1461
Thanks @dsander, this made the trick! I wasn't aware of that update page you are maintaining.

[2016-05-01 09:22] isoftmaster commented on #1463
thank you @cantino and @dsander i am already doing it but that function is confusing i just want number of tweets but nested thing is complicated anyways appreciate your response and help
and i love your app huginn this issue is irrelevant if you want you can delete it
i don't mind

[2016-05-01 10:37] betacanis opened #1465 "Twitter Callback Issue"
Could not find a valid mapping for path `/auth/twitter/callback`

Already set the

[code]

Server started with `bundle exec foreman start`

Stopped spring

Seeking assistance

Thanks

[2016-05-01 21:10] dsander commented on #1465
Hi @betacanis,

when are you getting the error and what is the log output, I am assuming you clicked on the "authenticate with twitter" link in the services page?

[2016-05-02 04:50] jamsheer-thottathil commented on #1457
@brianpetro how to set schedule time using payload .Is it possible

[2016-05-02 05:21] isoftmaster commented on #1465
hello @betacanis when you create app in Twitter dev website
you have to define Call Back Url ( in my case i used my app url where i hosted my app - http://abc.heroku.com)

i hope your problem will be fixed

[2016-05-02 11:21] KuenzelIT opened #1467 "Strange installation + libv8 install does not finish"
Hey,

I'm just trying to install Huginn on a RaspberryPi2. So far everything was fine until installing the gems. There the installation stopped every 10-20 gems. I then had to stop and restart it and again the next 10-20 gems were installed.

Now it is stuck here:
`Installing libv8 3.16.14.13 with native extensions`

Does not get any further even with restarting the installation.

Does anyone have

[2016-05-02 12:07] KuenzelIT commented on #1467
Alright, it took like an hour to finish installing libv8. If that's normal, then there is no issue with that.

Still kind of strange that other gems took so long that I restarted and then they were installed in 2 seconds.

[2016-05-02 15:19] dsander commented on #1467
Hi @KuenzelIT,

I think the installation took that long because it needed to compile libv8 on the raspberry due to missing binary packages. An hour is really long, but giving the low processing power it sounds possible. After the gems installed (and possibly build their native C extensions) `bundle install` will finish fast because all gems are already installed.

[2016-05-02 20:35] TildeWill commented on #1454
I changed my setup script to be
[code]
and Procfile looks like:
[code]
with a start command to kick off 2 workers: `bundle exec foreman start -m dj=2,web=1,schedule=1`

Results: Event.count = 507

[2016-05-02 20:44] dsander commented on #1454
I see, my guess is that the duplicate events are caused by the scaling feature of foreman. We added the bulky multiple delayed_job worker examples to the Procfiles because DJ needs the `-i` argument to properly lock it's jobs when multiple workers are running.
Can you try if you are still getting duplicates with this Procfile?
[code]

[2016-05-02 20:48] TildeWill commented on #1454
Got 509 with your Procfile

[2016-05-02 21:53] dsander commented on #1454
Darn, thanks for checking that. Looks like another debugging session is in order. :smile:

[2016-05-02 23:03] breyno127 commented on #353
I have been kicking around the Idea of hacking on a www.todoist.com agent on the weekends. There exists https://github.com/chsh/todoist-ruby. Would using that gem for interaction with the todoist API, or should I use HTTP requests on their API?

[2016-05-02 23:23] xdirty opened #1469 "Trigger Agent Filtering now working properly"
I created a trigger agent to filter event from another trigger agent. basically i want to filter anything that slips through the cracks from the previous trigger agent but since im using must "match one" i have to do a separate trigger agent. so i have multiple trigger agents for different feeds with "regex" filtering what i want to keep from the events, then it passes through the results i want,

[2016-05-02 23:55] KuenzelIT opened #1470 "Make WebsiteAgent return changes, not complete content"
Hey,

I'd like to return only the changes of a Website and get them via an Email Agent. Is that possible?

I've seen the example with the RSS-feed, but that's not exactly what I need.

Thanks!

[2016-05-02 23:57] KuenzelIT commented on #1467
Hey,
thanks for your quick response, that might be it.

The only question left is why it got stuck on some gems and installed them right away after I restarted the installation.

[2016-05-03 03:29] yeouchien commented on #1459
@dsander, Nitrous free workspace is supposed to go idle when inactive. Quickstart process will be continued after a workspace is started. HTTP referer shouldn't be a problem here. 😃

[2016-05-03 03:30] TildeWill commented on #1454
Is it possible some jobs are failing and being retried in some way to cause duplicates? Is there something I can look in the logs for?

[2016-05-03 06:07] alias1 commented on #353
Haven't looked at that gem, but personally I tend to be a fan of using what already exists.
Not sure if that's the official answer but.

Sent from Outlook Mobile

On Mon, May 2, 2016 at 4:04 PM -0700, "Benjamin Reynolds" <notifications@github.com> wrote:

I have been kicking around the Idea of hacking on a www.todoist.com agent on the weekends. There exists https://github.com/chsh/todoist-ruby. Wo

[2016-05-03 07:20] dsander commented on #353
@breyno127 I think it depends on how much code would be needed to implement the functionality the gem would give you. `todolist-ruby` only depends on `faraday` which we already require, so it should be fine to use.

[2016-05-03 07:24] dsander commented on #1467
That is a good question, the reason could be the same even though its unlikely that the timing was right multiple times.

[2016-05-03 07:26] dsander commented on #1459
@yeouchien Thanks for the clarification.

@rpglover64 Does the quickstart button work for you now?

[2016-05-03 07:30] dsander commented on #1454
It seems unlikely that the jobs of those agents would fail. Do you see a pattern in the duplicated events e.g. are the duplicates always from the same agents or is it completely random?

[2016-05-03 08:11] hunhejj opened #1472 "Use a credential in a liquid control flow tag?"
Hi,
if I wanted to check if the "description" field contains a certain keyword, I would use:
`"isInside": "{% if description contains "foo" %}yes{% else %}no{% endif %}"`
But what if the keyword is defined by a credential, e.g. in my_keyword? How can I use {%credential my_keyword %} instead of the string "foo" in the expression?

[2016-05-03 08:23] dsander commented on #1470
Hi,

I don't think that is possible at the moment, building a `DiffAgent` which can work in different modes like `per row`, `HTML`, etc. might be useful for other use cases as well.

[2016-05-03 08:39] gdomod opened #1473 "DataOutputAgent Filter"
Hi there,

its possible to Filter the OutputAgent with a Request Parameter ?
I want to use huginn as simple database.

[2016-05-03 10:36] brianpetro commented on #1472
You could set `event.payload.foo` equal to the credential using an Event Formatting agent prior to this one. Then you could do `{% if description contains foo %}`

[2016-05-03 12:42] daltonswayze opened #1474 "Looking to hire someone to deploy and configure huginn"
Need someone to deploy huginn on a VPS, configure some alerts, and basic training.

[2016-05-03 14:01] brianpetro commented on #1474
Feel free to send me an email brian@angularjobs.com with what you are interested in accomplishing.

I manage a pretty complex huginn deployment and have taught a couple people the basics.

![huginn-5-3-16](https://cloud.githubusercontent.com/assets/1886014/14985569/1060fbf2-1116-11e6-90d3-a7d1f0d23d3c.png)

[2016-05-03 14:04] rpglover64 commented on #1459
Still does not work, in either Vivaldi or Firefox.

I'm getting:

    {"error":"invalid_request","error_description":"Invalid repository URL"}

In both browsers, I am running PrivacyBadger and uMatrix and setting the do-not-track option.

[2016-05-03 16:00] TildeWill commented on #1454
It looks like it's all over the place. Here's the duplicate Events (events with overlapping agent_ids) from the last run I did where the count at the end was 509:
[code]

[2016-05-03 16:01] TildeWill commented on #1454
I'm also curious to know if someone else can reproduce the "extra events" I'm seeing? Maybe I just have a bad configuration locally?

[2016-05-03 16:16] KuenzelIT commented on #1470
DiffAgent sounds good too.

But can't the WebsiteAgent just deliver the changes in his event, maybe with just a few changes?

[2016-05-03 16:32] dsander commented on #1470
Currently the WebsiteAgent can detect if the extracted values changed and only emit an event when they did. It does not operate on the HTML "level", buth rather uses XPath or CSS selectors to fetch the configured data, that's why I suggested a new Agent.

[2016-05-03 16:37] dsander commented on #1473
That is not possible at the moment, you could use multiple `DataOutputAgent`s with `TriggerAgent`s to select which of the events should be send to which `DataOutputAgent`.

[2016-05-03 19:42] International opened #1475 "pry-byebug instead of pry-rails?"
Hey guys, is there any reason not to include `pry-byebug` instead of `pry-rails` ( or perhaps along it ) in the Gemfile? Whenever I'm doing some debugging, I always do the change in the Gemfile, so that I would be able to step through the code.

[2016-05-03 20:44] hunhejj commented on #1472
Yes, that's the way I am currently solving it, but it is not too nice to have an extra layer for this only.
Wouldn't it be worth it to introduce some nicer concept?

[2016-05-03 21:25] KuenzelIT commented on #1470
So it just does some kind of str_compare? I really have no clue how ruby and Huginn works, that's why I thought a little change to the WebsiteAgent would be the easiest way.

Well yeah, something like returning the old content and the new content, and then doing the diff elsewhere sounds cleaner.

Since we are already at it: is there some way to include other scripting languages? I'm used to PHP a

[2016-05-03 23:00] dsander commented on #1470
Kind of, it compares the last event it emitted with the event it would emit in the current run, if they differ it emits a new event. Because the extraction is done before that, the comparison does not know anything about the underlying HTML, XML or JSON.

PHP is not an option, but we have the `JavascriptAgent` which allows you to run custom javascript code, you could implement the HTML diffing in

[2016-05-03 23:02] dsander commented on #1472
@hunhejj I suppose you already tried `{% if description contains credential my_keyword %}` and  `{% if description contains credential(my_keyword) %}`?

[2016-05-04 03:15] cantino commented on #1474
Holy crap @brianpetro, you're pushing Huginn so far beyond how I use it :wink:

[2016-05-04 03:40] cantino commented on #1475
I'd be fine with that if @dsander approves.

[2016-05-04 03:53] cantino commented on #1469
I think this is going through because !regex matches if the test DOESN'T have something, so if any event doesn't match Keyword1|keyword2 in the title, it goes through, irregardless of the other two matchers.  Make sense?

[2016-05-04 06:55] brianpetro commented on #1474
@cantino awesome to hear!

It's not quite ready for a public writeup yet, however

if you or anyone else in the community is interested

I'd love to talk more about what I'm working on in private.

On Tue, May 3, 2016, 11:16 PM Andrew Cantino <notifications@github.com>
wrote:

[2016-05-04 10:07] Warloxx opened #1476 "smtp config not beeing used"
I set up my email config in .env like this

[code]

yet it did not work.
After long research I found [this](https://github.com/cantino/huginn/issues/121#issuecomment-31589615) and I edited `config/initializers/action_mailer.rb` to this
[code]

Both printouts did not include any of the settings I made in `.env` and also did not just consist of the defaults set int `smtp.yaml`. I can remember that f

[2016-05-04 15:56] irfancharania commented on #1452
I had kind of a [similar problem](https://github.com/cantino/huginn/issues/888).
You could try knu's suggestion of using [PhantomJS Cloud](https://phantomjscloud.com/).

[2016-05-04 16:18] hunhejj commented on #1472
None of them work currently, but yes, I was hoping for something like you proposed.

[2016-05-04 19:13] KuenzelIT commented on #1470
Thanks for your help! The JavascriptAgent is nice and I'm probably going to try that diffing.

Is there more information about the JavascriptAgent? Most of it is clear, but I don't get yet what the Agent.check() method is for.

About the diff: I assume I could use the WebAgent and get the html scheduled to the Javascript. There I can save the old html and always compare to the new one and extract

[2016-05-04 19:41] irfancharania commented on #888
I added an [entry in the wiki](https://github.com/cantino/huginn/wiki/Browser-Emulation-Using-PhantomJS-Cloud) for using PhantomJs Cloud with Website Agent.

Alternative to building an agent for it.

[2016-05-04 19:48] dsander commented on #1476
Hi @Warloxx,

sorry to hear you are having trouble to get it working. How did you install Huginn? The `.env` file changes will only be picked up after a restart (and running `bundle exec sudo production:export` before that in case you are used the manual installation guide).

[2016-05-04 19:49] dsander commented on #888
@irfancharania very cool, thanks you!

[2016-05-04 20:13] dsander commented on #1470
The `check` method is called when the Agent is run on a schedule or manually triggered to run, you probably do not need it for your use case.

Yes exactly, use the memory to store the previous HTML and emit an event if you detect any changes.

[2016-05-04 20:14] irfancharania commented on #888
@dsander: The workflow actually works quite well.

It would be nice to have the ability to set API key and request options in a dedicated agent, but I wasn't sure how a separate agent + interactions with other agents would work with all the options PhantomJs Cloud has: GET/POST, output Html/Json/PDF/Image, etc

[2016-05-04 20:29] dsander commented on #888
@irfancharania You should be able to use credentials and the credential liquid tag to extract the API key from the agent options like this: `"https://PhantomJsCloud.com/api/browser/v2/{% credential credential-name %}/?request={{url}}"` A separate agent sounds interesting, if the PhantomJs Cloud are not dynamic using [FormConfigurable](https://github.com/cantino/huginn/blob/master/app/models/agents

[2016-05-04 20:34] dsander commented on #1475
I have heard good things about `pry-byebug` while personally more used to `puts` debugging :smile:, but I dont object. If you we it, don't we want both?  `pry-byebug` for the debugger and `pry-rails` for have `pry` available in the rails console?

[2016-05-04 20:42] Warloxx commented on #1476
I used [these instructions](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md)  to setup huginn.
I did restart but I did not run `bundle exec sudo production:export`, AFAIK it is not explicitly stated that that is necessary if you change the `.env` file so changes are being picked up. Maybe add that to the instructions. I will try to run `bundle exec sudo production:export`

[2016-05-04 20:48] International commented on #1475
@dsander I tend to mix and match `puts` debugging with breakpoints :). I created a PR with `pry-byebug`

[2016-05-04 20:49] xdirty commented on #1469
First off, i wanted to thank you for taking the time to help me. I think I understand what you are saying  but how do i remedy the situation?  3 differ trigger agents?  Or remove must match one?

[2016-05-04 20:55] International opened #1479 "Is there any interest in having a poltergeist agent?"
As I'm sure everyone who ever used a website agent could attest, it kind of sucks not to be able to get to some data, because it's generated by javascript. On a [branch of mine](https://github.com/International/huginn/tree/poltergeist_agent), I've created a basic poltergeist agent. Basically, I'm planning a vacation in a few months, and I use it to check flight prices :). The way I'm using it righ

[2016-05-04 20:55] irfancharania commented on #888
@dsander  I forgot about credentials. Thanks for pointing that out. I'll update the wiki entry

[2016-05-04 21:10] Warloxx commented on #1476
Running `bundle exec sudo production:export` did now pickup the changes and it works.

Just saw on the update instruction it also states to run `bundle exec sudo production:export` as the last step. But since I did a fresh install and just added the stmp config after install I never knew you had to run it again. I guess its unintuitive (at least for me), maybe a note in the instructions would be n

[2016-05-04 21:32] elijah commented on #1479
This sounds awesome - can you talk out the memory requirements and such
that would be required to use the agent productively?  [poltergeist loads a
headless webkit, right?]

best,

--e

On Wed, May 4, 2016 at 3:55 PM, George Opritescu <notifications@github.com>
wrote:

[2016-05-04 21:46] irfancharania commented on #1479
I've run into the [same problem before](https://github.com/cantino/huginn/issues/888). I ended up using [PhantomJs Cloud](https://phantomjscloud.com). (Running Phantom on a Heroku instance wasn't as reliable). I just added the [wiki entry](https://github.com/cantino/huginn/wiki/Browser-Emulation-Using-PhantomJS-Cloud) today.

A built-in agent to solve this would be fantastic

[2016-05-04 22:05] elijah commented on #1479
I like that phantomjscloud has a free plan.  500 pages/day is plenty to do
a lot of useful work.  Nice tip!

--e

On Wed, May 4, 2016 at 4:46 PM, Irfan Charania <notifications@github.com>
wrote:

[2016-05-05 04:56] International commented on #1479
@elijah @irfancharania haven't checked (yet) the memory requirements for phantomjs. It might be that a small heroku dyno is not enough for it and for huginn.

[2016-05-05 07:54] dsander commented on #1476
Glad it is working now. Exporting the configuration is listed as the last test of the [init script installation](https://github.com/cantino/huginn/blob/master/doc/manual/installation.md#install-init-script), do you have recommendations how we can make that clearer?

[2016-05-05 08:01] dsander commented on #1479
@International I think that is great idea, but we should probably document the implications well. In my experience PhantomJS can be really slow, never checked the memory requirements though.

[2016-05-05 08:05] International commented on #1479
@dsander can't say I'm much of a fan as well, since I kind of have mixed feelings about poltergeist, but it should be easier to setup than a webdriver agent. Plus, poltergeist is already a test dependency for huginn :)

[2016-05-05 08:27] Warloxx commented on #1476
I guess I must have totally missed that note during installation. Since I was just changing the `.env` file I just looked at the _Configure it_ section for reference. An extra note under the _Configure it_ section might help. The only bad thing is, during first install the note will reference something the user has not read yet.

[2016-05-05 15:00] signallhill opened #1480 "Error on website agent"
I am getting this error on a website I'm fetching. What does this mean?

```'Error when fetching url: Failed: #<Faraday::Response:0x007f7c3d8c5788 @on_complete_callbacks=[], @env=#<Faraday::Env @method=:get @body="" @url=#<URI::HTTP http://www.something.com> @request=#<Faraday::RequestOptions (empty)> @request_headers={"User-Agent"=>"Huginn - https://github.com/cantino/huginn", "Accept-Encoding"=>